[2013-05-10 21:25] valessiobrito opened #1 "Renomear "Portal Modelo" para "Portal Padrão""
Sugestão de renomear o projeto de "Portal Modelo" para "Portal Padrão" devido conflito com outro projeto/produto existente denominado "Portal Modelo" qual deve ser incorporado no SPB, segundo mensagem em anexo[1].

"
Por favor, reavaliem dar um outro nome a esse produto, pois Portal
Modelo é o nome do produto desenvolvido pelo Interlegis desde 2006 que
tem os mesmos conceitos, mesma tecnologia, et

[2013-05-13 15:27] #1 closed, assigned to ericof

[2013-07-24 17:45] tomfsa opened #3 "Erro ao inserir arquivo"
Ao tentar inserir itens do objeto tipo arquivo apresenta o erro:

Traceback (innermost last):

[code]

TypeError: sequence item 2: expected string or Unicode, NoneType found

[2013-07-31 22:32] kzagatti opened #4 "Problema com aplicação de visão sumária em últimas notícias."
Existe um problema com a aplicação da visão sumária, que não traz itens, na pasta de últimas notícias.

[2013-08-26 20:16] #4 closed, assigned to nobody

[2013-08-26 20:23] #3 closed, assigned to nobody

[2013-08-30 17:58] felipeduardo opened #7 "Alteração Textual na pagina de busca"
Alteração no termo "Buscar no site" para "Buscar no portal", na página de busca

[2013-09-03 13:04] felipeduardo opened #8 "Link para autor no document byline do conteudo NITF"
Remover link para perfil no nome do autor, pois o portal usa usuários genéricos de entidades do governo e não de usuários do tipo pessoa física.

Essa remoção foi feita no document_byline padrão do Plone no produto de tema, mas o conteúdo NIFT tem outro template.

[2013-09-03 20:33] rodfersou opened #9 "Revisar tradução do pacote"
O pacote possui alguns pontos como por exemplo https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/busca/templates/search.pt#L31 que não possui tradução adequada.

Seria necessário revisar a tradução do pacote para este e outros pacotes que estão com conteúdo fixo, para dar a possibilidade de tradução do site.

[2013-09-04 18:25] #8 closed, assigned to felipeduardo

[2013-09-05 11:14] rodfersou opened #10 "Link para autor no document byline"
A Issue https://github.com/plonegovbr/brasil.gov.temas/issues/13 do brasil.gov.temas deveria ter sido resolvida com uma customização de viewlet neste pacote.

---

Remover link para perfil no nome do autor, pois o portal usa usuários genéricos de entidades do governo e não de usuários do tipo pessoa física.

[2013-09-05 11:22] rodfersou opened #11 "A ordem da apresentação das imagens na aba "media" de um artigo"
A issue https://github.com/plonegovbr/portal.buildout/issues/3 deve ser resolvida a princípio nesse pacote, e depois incorporado no https://github.com/collective/collective.nitf .

----

A ordem das imagens na aba "media" no objeto Artigo, não é alterada. A funcionalidade de alteração de ordem somente é efetivada através da aba "conteúdo".

[2013-09-05 12:09] #10 closed, assigned to rodfersou

[2013-09-05 19:34] #7 closed, assigned to nobody

[2013-09-06 20:57] rodfersou opened #14 "Criar upgrade step com novo estilo de css"

[2013-09-06 21:19] #14 closed, assigned to rodfersou

[2013-09-23 13:34] rodfersou opened #17 "Alterações no Breadcrumb"
Foram solicitadas diversas alterações no breadcrumb, entre elas:
- Altura entre o termino da área verde e inicio do breadcrumb (24px)
- (Open Sans, 10, Regular, CAIXA ALTA)
  & Pagina Inicial - Open Sans, 10, Regular, CAIXA ALTA, #2C66CE
  & Nivel 1 > 2> 3: Open Sans, 10, Bold + Underline, CAIXA ALTA, #172938
  & Trocar a / por >
- O inicio do menu deve ser 24px abaixo do breadcrumb. Caso não exis

[2013-09-26 12:55] rodfersou opened #19 "Mover customizações de templates do tema para local mais adequado"
Os templates do tema não devem ser customizados no tema (pasta overrides), dessa forma podemos alterar mais tranquilamente o tema do diazo, sem precisar reinicar o servidor (entre outros problemas apontados pelo @ericof )

O local mais adequado seria uma customização de templates da forma tradicional no pacote brasil.gov.portal.

[2013-10-01 13:08] gleissonbr opened #20 "instalacao"
Seguindo as instrucoes da instalacao do tema, eu alterei o buildout.cfg que ficou da seguinte forma:

eggs =
    Plone
    Pillow
    Products.PloneHotfix20130618
    brasil.gov.temas

mas o tema nao aparece na lista de opcoes de temas instalados.

[2013-10-04 18:48] rodfersou opened #21 "Fix related itens exception when import itens"
If I import itens from another sites that had some related itens, and that itens were not imported, it makes this viewlet crash.

[2013-10-04 19:30] #21 closed, assigned to rodfersou

[2013-10-07 20:50] #20 closed, assigned to nobody

[2013-10-07 20:59] #17 closed, assigned to rodfersou

[2013-10-08 14:04] rodfersou opened #23 "Revisar customização do collective.nitf"
Esta alteração deve ser feita somente quando sair um release do collective.nitf após remoção do Grok.

[2013-10-08 14:35] rennan opened #24 "Customizar ícones da visão sumária de coleções"
Providenciar o registro dos novos ícones da visão sumária de coleções, com a cor do tema e a cor do contraste.

![portalbrasil_specs_icones](https://f.cloud.github.com/assets/1029822/1289775/d41ea874-3026-11e3-804c-e53e1ad97de0.jpg)
Exemplo em anexo.

[2013-10-08 18:28] rodfersou opened #26 "Mover customizações do collective.nitf do Portal Brasil para Portal Modelo"
Essas customizações serão posteriormente movidas para brasil.gov.portal após release do collective.nitf, vide https://github.com/plonegovbr/brasil.gov.temas/issues/59

[2013-10-09 19:33] rodfersou opened #29 "Revisão de buildouts"
Foi apontado pelo @hvelarde que a necessidade de pinar a versão do produto zope.configuration no buildout do brasil.gov.temas é indício de que algo está muito errado nos nossos buildouts em geral.

Sendo assim ele solicitou que eu abra novas issues para que ele revise todos os buildouts plonegovbr.

[2013-10-10 13:38] rodfersou opened #30 "Texto descritivo no Google"
Como padrão, o Plone possui uma área de cadastro destinada para configurações do google analytics (configuração / site).

Porém, ao utilizar o Diazo, esse html está sendo suprimido da página final, e as regras do Diazo precisam ser revisadas para suportar estas configurações.

[2013-10-10 14:49] #30 closed, assigned to rodfersou

[2013-10-10 16:53] #26 closed, assigned to nobody

[2013-10-11 15:22] rennan opened #32 "Remover estilos inline"
Revisar e remover os códigos do HTML de templates que possuem declaração de regras CSS inline

[2013-10-14 12:43] #19 closed, assigned to rodfersou

[2013-10-14 12:51] rodfersou opened #34 "Cadastro de css base para tema"
Após re-estruturação de css, parte dele foi unificado em um arquivo (main.css) e este arquivo deve ser registrado no brasil.gov.portal.

Em contrapartida, no brasil.gov.temas deve ser cadastrada regra para dropar o main.css do tema, e será mantido no pacote apenas para pré-visualização do tema, mas não necessariamente será a última versão do arquivo, que deve ser mantido em um único lugar (brasil.

[2013-10-14 13:16] rodfersou opened #35 "Revisão de ícones de redes sociais"
Assim que entrar os novos temas, teremos que revisar os ícones de redes sociais para pegar a cor correta através de css.

Hoje em dia a aplicação tenta supor onde ficará a cor através das linhas:

https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/viewlets/redes.py#L37-L38
https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/brows

[2013-10-14 15:31] #34 closed, assigned to rodfersou

[2013-10-15 11:36] #35 closed, assigned to rodfersou

[2013-10-15 13:08] felipeduardo opened #38 "Contraste"
É necessário realizar alguns ajustes no contraste do tema padrão. Alguns itens estão em discrepância e/ou não possuem referência alguma com a arte.

Ex: barra, menu (links), hover de títulos, portletNavigation, portletStatic ...

É necessário fazer um comparativo com o layut de contraste.

Relacionado há: https://github.com/plonegovbr/brasil.gov.temas/issues/50

[2013-10-15 15:33] felipeduardo opened #40 "Navegação e Conteúdo desalinhados"
Temos que resolver esse problema aqui no portal pois o css principal foi movido para esse produto.

https://github.com/plonegovbr/brasil.gov.temas/issues/38

[2013-10-16 11:49] #40 closed, assigned to nobody

[2013-10-16 17:31] rodfersou opened #44 "Revisão de ícones do header"
- Correção do id do flickr na regra css.
- Revisão de onde setar as posições dos ícones.

[2013-10-16 19:21] rodfersou opened #46 "Mover JS dos temas para brasil.gov.portal"
O @felipeduardo identificou que o arquivo javascript dos temas serão iguais para todos os temas, ou seja, é mais prudente deixar ele em um único lugar para que funcione igual para todos os temas.

Este lugar será na pasta static/js do brasil.gov.portal

[2013-10-17 11:46] #44 closed, assigned to rodfersou

[2013-10-17 14:40] rodfersou opened #49 "Mover tipo de dados conteúdo externo do Portal Brasil para Portal Modelo"

[2013-10-17 17:38] #49 closed, assigned to rodfersou

[2013-10-17 19:33] felipeduardo opened #51 "Adicionar ícones da Centrais de Conteúdo ao sprite"
Tarefa relacionada https://github.com/plonegovbr/brasil.gov.temas/issues/65 do produto de temas.

[2013-10-18 13:18] #51 closed, assigned to nobody

[2013-10-18 14:33] felipeduardo opened #54 "Melhorar a qualidade do código Javascript"
Acredito que seria interessante remover ao máximo dependências da biblioteca jQuery, e passar o código do arquivo main.js pelo JSHint.

[2013-10-18 17:27] felipeduardo opened #55 "Ajustes de css no layout do menu lateral"
A issue aberta no produto de temas tem que ser finalizada aqui após os arquivos gerais de tema terem sido movidos pra o produto .portal

https://github.com/plonegovbr/brasil.gov.temas/issues/43

[2013-10-18 19:36] #55 closed, assigned to nobody

[2013-10-18 21:04] #46 closed, assigned to rodfersou

[2013-10-21 11:16] rennan opened #57 "Listagem de notícias - Regras de fontes e espaçamento"
Adicionar novas regras de fonte e espaçamento na listadem de notícias, conforme imagens anexadas.

![portalbrasil_specs_listagem_espacamento](https://f.cloud.github.com/assets/1029822/1371767/3324458e-3a42-11e3-97b3-8c3b480acc9c.jpg)
![portalbrasil_specs_listagem_regras](https://f.cloud.github.com/assets/1029822/1371768/37183a56-3a42-11e3-84d8-01444f06b08b.jpg)

[2013-10-22 12:12] rennan opened #59 "Substituir ícone do reportar erros"
https://github.com/plonegovbr/brasil.gov.temas/issues/69

[2013-10-22 12:31] felipeduardo opened #60 "Mover implemetações do tema para o main CSS"
Mover as correções de CSS da issue  https://github.com/plonegovbr/brasil.gov.temas/issues/26 para esse produto onde esta a estrutura principal de CSS.

[2013-10-22 13:30] rennan opened #63 "Listagem – Regras de fontes"
https://github.com/plonegovbr/brasil.gov.temas/issues/54

[2013-10-22 13:33] #63 closed, assigned to rennan

[2013-10-22 13:34] #59 closed, assigned to rennan

[2013-10-22 13:42] #60 closed, assigned to nobody

[2013-10-22 16:26] #32 closed, assigned to rennan

[2013-10-22 16:42] #57 closed, assigned to rennan

[2013-10-22 16:46] #24 closed, assigned to rennan

[2013-10-22 17:59] rodfersou opened #64 "Correção no caminho do css"
Percebemos que em produção a notação ../ do css deve ser substituida pela notação ++resource++brasil.gov.portal/ para que na minificação não perca referência do caminho.

[2013-10-22 18:04] #64 closed, assigned to rodfersou

[2013-10-22 18:47] felipeduardo opened #66 "Revisar o Menu lateral quando expandido"
Com base na arte dessa outra issue, verificar o menu lateral quando expandido

https://github.com/plonegovbr/brasil.gov.temas/issues/43

[2013-10-22 19:45] #66 closed, assigned to felipeduardo

[2013-10-22 20:03] rennan opened #68 "Revisar o icone de reportar erro no contraste"

[2013-10-23 11:59] #68 closed, assigned to rennan

[2013-10-23 12:31] rennan opened #70 "Remover regras de css para os tiles"
Remover as regras de css para os tiles que estão no brasil.gov.tives e deixar a mesma regra que esta no summary view para o tile collection, pois hoje existem 2 regras que estão conflitando por especificidade.

[2013-10-23 19:56] #70 closed, assigned to rennan

[2013-10-24 19:04] rodfersou opened #72 "Paginação com ajax"
Após estilização da paginação padrão do Plone, foi removida uma class responsável pelo comportamento de paginação com Ajax. Essa class deve ser adicionada novamente.

Além disso, a estilização foi criada pensando na view de album do portal planalto, que possui elementos ligeiramente diferentes, por isso não funcionou alguns detalhes como os ... e ultimo item como esperado.

[2013-10-25 13:06] #72 closed, assigned to rodfersou

[2013-10-25 17:30] rennan opened #74 "Adicionar novos ícones das redes sociais"
Registrar ícones para outras redes:
- Google+
- Slideshare
- Issuu
- Soundcloud
- Blog
- Instagram
- Pinterest
- Ask.fm
- RSS
- Orkut
- Indica

[2013-10-25 19:50] #74 closed, assigned to rennan

[2013-10-26 12:05] rennan opened #76 "Corrigir o registro da font-face bold no css"
Está faltando registrar na url o caminho completo do arquivo.

https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/static/css/main.css#L75-L79

[2013-10-26 13:12] felipeduardo opened #78 "Adicionar icone de impressão"
Em algumas áreas do portal é necessário o ícone de impressão.

![print-icon](https://f.cloud.github.com/assets/631012/1413593/33381f9e-3e40-11e3-8b2b-beaff88c905e.png)

[2013-10-26 15:31] #78 closed, assigned to nobody

[2013-10-28 12:03] rennan opened #80 "Corrigir o espaçamento do texto e do botão Curtir no tipo de conteúdo NITF"

[2013-10-28 12:43] #80 closed, assigned to rennan

[2013-10-28 14:02] rennan opened #82 "Corrigir o erro de tamanho da imagem no summary view"

[2013-10-28 16:40] #82 closed, assigned to rennan

[2013-10-28 18:21] rennan opened #84 "Adicionar regras do modo summary view para navegação facetada"

[2013-10-28 19:26] #84 closed, assigned to rennan

[2013-11-01 12:53] rennan opened #88 "Migrar o css dos tiles de rede sociais para o produto brasil.gov.tiles"

[2013-11-01 13:24] #88 closed, assigned to rennan

[2013-11-07 16:53] rodfersou opened #90 "Replicar alteração de nome de autor para subitens em tipos Folderish"
Todos os tipos de dados Folderish (ou seja que atuam como uma pasta contendo outros objetos) que não são Folder devem replicar alteração do autor do objeto para seus filhos, já que na edição dos filhos não existe alteração desse campo para ajustes.

[2013-11-07 17:25] #90 closed, assigned to rodfersou

[2013-11-08 00:53] rodfersou opened #92 "Reordenação de itens do menu da esquerda não funciona sempre"
Nos portlets do menu da esquerda, nem sempre está aceitando reordenação alterando a posição da pasta, é necessário verificar por que em alguns casos não funciona.

Com o conteúdo inicial, no /menu-de-apoio podemos reordenar alterando a ordem dos itens da pasta, porém no /assuntos esse comportamento não está funcionando.

[2013-11-08 19:01] rodfersou opened #93 "Revisão da paginação padrão do Plone"
Quando a página atual está com um valor alto, as reticências não aparecem corretamente no inicio da paginação.

[2013-11-08 19:21] #93 closed, assigned to rodfersou

[2013-11-13 18:13] taniaa opened #95 "Corrigir o "Link to Collection""
No produto Doormat, utilizado no rodape do Portal Padrao, precisa desabilitar o Link to Collection disponivel na Section de um DoormatColumn.

[2013-11-28 13:01] rodfersou opened #96 "Correções no viewlet de destaques"
O viewlet de destaques carrega a capa /destaques no topo da página via javascript. Sendo assim, precisamos revisar:

1) O script não está funcionando.
2) Retirar o script de tag inline.
3) Verificar layout testando com mais itens de capa no /destaques.

[2013-11-28 16:32] #96 closed, assigned to rodfersou

[2013-11-28 18:14] rodfersou opened #98 "Revisão breadcrumbs"
Foi solicitado para adicionar a informação "voce está aqui" no breadcrumbs

[2013-11-28 18:23] #98 closed, assigned to rodfersou

[2013-11-29 11:35] rodfersou opened #100 "Aumentar fonte do menu de acessibilidade"
O menu de acessibilidade possui fonte com 10px hoje, mas após uma análise de acessibilidade, foi decidido aumentar para 11px para melhorar a leitura.

[2013-11-29 11:48] rodfersou opened #102 "Aumentar fonte do menu site actions"
O menu site actions possui fonte com 10px hoje, mas após uma análise de acessibilidade, foi decidido aumentar para 11px para melhorar a leitura.

[2013-11-29 11:55] #100 closed, assigned to rodfersou

[2013-11-29 11:57] rodfersou opened #104 "Melhorias de estilo no mapa do site"
Trocar fundo Deixar todo branco
Trocar a cor da letra para cor 1 A 2 A 39
Manter a cor preta quando passa o mouse

Tamanho da font

1º Nível – 16 px
2º Nível - 14 px
3º Nivel - 12 px

[2013-11-29 12:12] #102 closed, assigned to rodfersou

[2013-11-29 12:46] #104 closed, assigned to rodfersou

[2013-11-29 13:55] rodfersou opened #106 "Ajustes de tamanho em fontes (Tiles)"
DIRECIONAMENTO:

Header
h1 – 24 px (ajuste)
h2 – 20 px (ajuste)
h3 – 18 px (ajuste)
h4 – 16 px (ajuste)

Basic News Article/Basic
h1 – 34 px (ajuste)
a. h2 – 34 px Negrito (criação)
b. h2 – 24 px Negrito (criação)
c. h2 – 16 px Negrito (ajuste)
h3 – 15 px (ajuste)
h4 – 14 px (ajuste)

Rodapé – Header
- Aumentar para 11 px
- Centralizar altura
- Tirar largura fixa

Itens de lista de tile Collection

[2013-12-09 13:12] felipeduardo opened #111 "Implementar comportamento ao breadcrumb para suportar altura dinamica"
Implementar comportamento ao breadcrumb para suportar altura dinâmica, quando os textos do breadcrumb ficam muito grandes.

[2013-12-09 13:49] #111 closed, assigned to nobody

[2013-12-10 13:04] #106 closed, assigned to rodfersou

[2013-12-11 12:56] rodfersou opened #118 "Visão sumária de pasta deve ser igual a visão sumária de coleções"

[2013-12-11 13:18] #118 closed, assigned to rodfersou

[2013-12-11 17:49] #38 closed, assigned to rodfersou

[2013-12-17 14:43] #29 closed, assigned to hvelarde

[2014-01-08 12:02] rodfersou opened #125 "Ordem do menu de navegação (esquerda) muda"
No menu de navegação (esquerda), quando clico em um item, a ordem dos itens superiores muda.

A princípio deveria utilizar a ordem em que se encontram os itens da pasta, mas quando mostra uma sub-pasta não está respeitando esta ordem.

Essa alteração é importante pois a legislação especifica uma determinada ordem dos itens.

[2014-01-08 12:12] #92 closed, assigned to nobody

[2014-01-15 17:52] rodfersou opened #127 "Revisar conteúdo inicial"
Alguns dados do conteúdo inicial apresentam problemas ao reordenar as pastas.

[2014-01-16 17:13] rodfersou opened #128 "Adicionar crédito no upload múltiplo de imagens"
Foi solicitado um campo extra para inserção de créditos ao realizar upload múltiplo de arquivos ( https://github.com/collective/collective.upload )

[2014-01-20 10:50] #128 closed, assigned to rodfersou

[2014-01-20 13:36] rodfersou opened #130 "Trazer visão de albuns para portal padrão"
Trazer a visão de albuns do portal planalto para site padrão.

[2014-01-21 18:44] #130 closed, assigned to rodfersou

[2014-01-23 17:01] felipeduardo opened #132 "Alteração dos ícones da listagem de itens em visão sumaria"
Os ícones da listagem de itens na visão sumaria são padrões para as 4 opções de tema, mas o comitê gestor da identidade visual padrão, navegando e testando o tema azul, definiu que o tema azul precisava ter ícones com outra base de cores. Então os seletores CSS dos icones da visão sumaria serão movidos para dentro o CSS dos temas.

[2014-01-24 13:11] Dadlo opened #134 "Incluir produto de compartilhamento automatizado no Tweeter"

[2014-01-24 14:00] #134 closed, assigned to Dadlo

[2014-01-24 18:35] #132 closed, assigned to felipeduardo

[2014-01-29 17:13] Dadlo opened #136 "Remove não ordenação de pastas do conteúdo inicial"
Remove do setuphandlers.py a configuração unordered de setOrdering.
folder.setOrdering('unordered')

[2014-02-04 17:20] Dadlo opened #138 "Descrições não claras no changelog"
As descrições utilizadas no changelog não estão sendo muito claras.
Apesar de possuir link para tickets com mais informações, a linha descritiva deve permitir que o usuário não envolvido compreenda a atuação.

[2014-02-05 20:04] rennan opened #140 "Registrar fonte com derivação itálica"
Registrar nos temas toda a família Open Sans em modo itálico.

[2014-02-06 11:38] rodfersou opened #141 "Novo Módulo Galeria de Álbuns"
Foi solicitada a criação de um módulo para galeria de álbuns

[2014-02-12 16:45] Dadlo opened #143 "Ajuste em Páginas do alinhamento de legenda de imagens alinhadas à esquerda"
No tipo de conteúdo Página, está desalinhada a legenda de imagens alinhadas à esquerda
Ambiente: Portal Padrão

[2014-02-13 18:22] Dadlo opened #145 "Agenda instalada por padrão com tile de agenda registrado"
Ambiente: Portal Padrão
Requisição 1: Instalar agenda automaticamente na criação de um novo portal padrão
Requisição 2: Registrar automaticamente o Tile de Agenda na criação de um novo portal padrão

[2014-02-17 12:31] Dadlo opened #148 "Remover o termo Pasta para Pasta/Álbum na página de busca"
Desfazer commit que inclui o termo Pasta para Pasta/Álbum na página de busca:
https://github.com/plonegovbr/brasil.gov.portal/commit/e0ade48ee1329491ec0f87864d66a889124b8bf7

[2014-02-17 13:05] #145 closed, assigned to nobody

[2014-02-17 15:10] #148 closed, assigned to nobody

[2014-02-24 13:39] rodfersou opened #150 "Registro de novas redes sociais (Tumblr e Instagram)"

[2014-02-24 15:44] #141 closed, assigned to nobody

[2014-02-24 16:45] #143 closed, assigned to nobody

[2014-02-24 16:45] #138 closed, assigned to Dadlo

[2014-02-25 18:53] rodfersou opened #152 "View de albuns não aparece em nova instância"
Foram criadas 2 views novas no upgrade step 5000, mas elas não foram adicionadas no profile padrão: https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/upgrades/v5000/profiles/default/types/Folder.xml##L4-L7 https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/profiles/default/types/Folder.xml

[2014-02-25 20:08] #150 closed, assigned to rodfersou

[2014-02-26 11:38] #152 closed, assigned to rodfersou

[2014-03-26 14:18] #136 closed, assigned to nobody

[2014-03-26 14:18] #125 closed, assigned to rodfersou

[2014-04-03 11:34] Dadlo opened #154 "Produto de Agenda não instalado em Ambientes já Existentes"
O produto de agenda é instalado automaticamente durante a criação de um novo ambiente.
O produto de agenda não pode ser instalado manualmente em um ambiente já existente, pois seu perfil está escondido da visualização do usuário final.

Sugestão: Instalação via upgrade step específico

[2014-05-30 13:51] GiuseppeRomagnoli opened #155 "Busca não encontra tags"
A busca no portal não está retornando pesquisa por tags, porém se for clicado na tag a busca traz os itens que estão vinculados a mesma.

[2014-05-30 14:01] GiuseppeRomagnoli opened #156 "botões "social like" desaparecem"
Quando é desmarcada a  opção de segurança "Permitir a qualquer um ver as informações sobre o conteúdo." onde autor da publicação não aparece mais abaixo do título do conteúdo (viewlet-below-content-title) os itens de redes sociais também desaparecem porque estão na mesma viewlet.

[2014-05-30 14:10] GiuseppeRomagnoli opened #157 "Bug na exibição da data de criação de conteúdo na visão "summary view""
Quando um item (ex. page)  é criado sem especificar a data, na visão "summary view' aparece sempre com a data: 31/12/1969 e hora: 00:00.
Em outras visões a data aparece de forma correta.

[2014-05-30 14:15] GiuseppeRomagnoli opened #158 "Erro ao criar uma notícia na pasta "notícias""
O erro só acontece na pasta notícias. Se criarmos uma outra pasta notícias2 por exemplo, a criação é efetuada.

Traceback do erro:

Traceback (innermost last):
  Module ZPublisher.Publish, line 138, in publish
  Module ZPublisher.mapply, line 77, in mapply
  Module ZPublisher.Publish, line 48, in call_object
  Module plone.z3cform.layout, line 66, in **call**
  Module plone.z3cform.layout, line 60

[2014-06-03 17:50] #127 closed, assigned to ericof

[2014-07-18 17:49] idgserpro opened #159 "Erro ao selecionar item para se tornar link"
Quando tentamos incluir um conteúdo do portal como um link utilizando o
editor Tinymce através do botão "inserir/editar hyperlink", na janela de
seleção de conteúdo, quando existem muitos itens listados, não é possível
selecionar os últimos itens apresentados, pois os mesmos ficam
desabilitados.
Identificamos que é um problema de CSS em que a DIV do botão de "upload"
sobrescreve os últimos itens,

[2014-07-18 18:17] idgserpro opened #160 "Portal Padrão não lista tipo de conteúdo "pasta" nas visões de pasta"
O Portal Padrão configura o Plone para não buscar em conteúdos do tipo pasta, o que faz com que esse tipo de conteúdo deixe de aparecer nas listagens/visões (por exemplo, "visão sumária").
No entanto, alguns clientes estão precisando listar pastas.

Nossa sugestão é que o Portal Padrão busque também no tipo de conteúdo "pasta", pois dessa forma o problema relatado deixará de ocorrer.

[2014-07-21 13:45] idgserpro opened #161 "Página de impressão com informações desnecessárias"
Ao abrir um página no Portal Padrão e clicar em 'Visualizar impressão' do browser, aparecem informações desnecessárias, como menus, links de redes sociais e links de acessibilidade.

![capturar1](https://cloud.githubusercontent.com/assets/8203476/3644133/20d1ec8e-10dd-11e4-89ee-2c610e917c01.PNG)

[2014-07-22 13:01] idgserpro opened #162 "Erro ao editar um Banner Tile do collective.cover."
Quando utilizamos o Plone 4.3.3, e tentamos editar um Banner Tile, através  da aba 'Compor' da página inicial, ocorre o erro:

...
Module zope.traversing.adapters, line 50, in traverse
- **traceback_info**: (<NamedImageWidget 'collective.cover.banner.image'>, 'file_icon', ())
  LocationError: (<NamedImageWidget 'collective.cover.banner.image'>, 'file_icon')

Esse é um erro conhecido e já foi corri

[2014-08-25 14:36] idgserpro opened #163 "Tipo Coleção não salva campo de ordenação"
Utilizando o versions.cfg de vocês:

http://downloads.plone.org.br/release/1.0.3/versions.cfg

quando criamos um tipo Coleção, selecionamos um 'Termo de busca' qualquer, selecionamos uma ordenação qualquer pelo combo 'Ordenar' e salvamos, o campo de ordenação que selecionamos não é salvo. Quando vamos na aba Edição novamente, vemos que o campo de ordenação que selecionamos não foi salvo.

Isso oco

[2014-08-28 14:01] Dadlo opened #164 "Erro na criação/edição de coleções"
A atualização de plone.formwidget.querystring de 1.0b3 para 1.1.1 na última versão de Portal Padrão faz com que ocorra a exibição dos campos escondidos de sort_on e inversed order.
Com essa exibição a seleção dos campos pelo select é ignorada, sendo necessário o preenchimento manual no campo de texto.

[2014-08-29 19:03] idgserpro opened #166 "Erro ao selecionar "Visão de miniaturas" (atct_album_view) na raiz do site"
[code]

Solução temporária caso tenha selecionado essa visão: https://github.com/plonegovbr/brasil.gov.portal/issues/158#issuecomment-51984635

[2014-09-01 19:32] idgserpro opened #167 "Barra de destaques deixa de ser exibida se a visão é alterada"
Quando alteramos a visão do objeto 'Destaques do portal' (objeto de id destaques), para 'Visão Padrão', a barra de destaques deixa de ser exiba no portal. Isso ocorre porque o ajax que renderiza a barra pega o conteúdo do objeto 'destaques' e exibe o que estiver dentro de '#content > .row', como pode ser visto abaixo:

https://github.com/plonegovbr/brasil.gov.portal/blob/1.1.3/src/brasil/gov/porta

[2014-09-02 16:33] tomfsa opened #168 "Validação para o campo Tamanho para imagens"
Prezados, o campo "tamanho para imagens" da <manipulação de imagens> necessita de validação quanto ao valor inserido, pois se o valor por diferente corrompe visão "capa" e não é mais possível a exibição de imagens no site.

[2014-09-16 21:31] idgserpro opened #170 "Atualizar versão do collective.cover"
collective.cover já está na versão 1.0.a9, e precisamos de uma correção que foi disponibilizada na 1.0a7. Podemos alterar nós mesmos no versions.cfg esse pacote e essa versão em específico, mas gostaríamos de distanciarmos o mínimo possível das dependências previstas por exemplo em

https://github.com/plonegovbr/portalpadrao.release/blob/master/1.0.3/versions.cfg

ainda mais que esse componente em

[2014-09-23 21:11] idgserpro opened #172 "Uso do Google Translate"
A recomendação hoje para portais multilíngue é a criação de um novo portal separado do original.

Uma solução alternativa para evitar a criação de um novo portal só pra isso seria o uso da ferramenta Google Translate, que fornece um widget javascript a ser inserido no portal. Apesar de não ser uma tradução perfeita, o processo é menos oneroso pois não necessita de uma equipe alocada para traduções

[2014-09-26 18:19] idgserpro opened #173 "Atualização do metadata.xml para refletir o último upgradeStep (10300)"
O arquivo [metadata.xml](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/profiles/default/metadata.xml#L3) precisa alterar o `version` pois não está refletindo o valor do último upgradeStep (10300), ocasionando a mensagem de erro no painel de controle:

![brasil.gov.portal no painel de controle](https://cloud.githubusercontent.com/assets/8203476/4425387/54fb3096-4

[2014-10-01 16:33] idgserpro opened #174 "Sugestão: "Flag" Creative Commons para tipos"
No brasil.gov.br (onde temos o uso do brasil.gov.portal) temos, no fim de uma notícia, indicativo de licença Creative Commons.

![selecao_031](https://cloud.githubusercontent.com/assets/8203476/4478765/2497fb90-4988-11e4-8ecb-98639c063641.png)

No caso, parece uma customização específica do portal em questão.

Existe algum plano de incorporar isso em brasil.gov.portal (por exemplo, como um item no

[2014-10-13 14:59] idgserpro opened #175 "Sublinhado e tachado do editor não funcionam"
Esse erro [já foi mapeado como bug do Plone](https://dev.plone.org/ticket/13715), mas a solução proposta no ticket é manual.

Vocês acham válida a inserção dessa correção no IDG, como um upgradeStep (seria necessário adicionar tanto para o strikethrough como para o underline) e a adição de uma nova classe `strikethrough` nas folhas de estilo?

[code]

[Fonte](http://pastie.org/9492003)

[Referênci

[2014-10-31 15:59] idgserpro opened #176 "travis.cfg utilizando versions da versão 1.0.2"
O travis.cfg está utilizando o versions.cfg da versão 1.0.2 do brasil.gov.portal:

https://github.com/plonegovbr/brasil.gov.portal/blob/master/travis.cfg#L5

[2014-11-04 15:23] #164 closed, assigned to Dadlo

[2014-11-06 17:09] Dadlo opened #177 "Internacionalização"
Complementação de Internacionalização de textos de configuração, tipos de itens e do menu de acessibilidade.

[2014-11-10 03:51] #173 closed, assigned to nobody

[2014-11-20 12:05] tomfsa opened #179 "Alterar informações usuários cadastrados"
Prezados,
      Quando o admin tem a necessidade de gerenciar as abas "Informação Pessoal" e "Preferências Pessoais" aparece uma página em branco e os dados não são exibidos.
     Se o próprio usuário loga no site e acessa estas abas, ele visualiza normalmente.

[2014-11-25 13:59] #159 closed, assigned to nobody

[2014-11-26 12:58] #163 closed, assigned to nobody

[2014-12-03 15:08] #158 closed, assigned to nobody

[2014-12-05 14:58] #162 closed, assigned to nobody

[2014-12-05 20:30] #177 closed, assigned to Dadlo

[2014-12-10 18:37] #176 closed, assigned to nobody

[2014-12-12 12:09] idgserpro opened #181 "Erro após atualizar da versão 1.0.4 para a versão 1.0.5, devido a erro do collective.polls"
@hvelarde

O versions.cfg da versão 1.0.5 atualiza o collective.polls de 1.6 para 1.6.1:

https://github.com/plonegovbr/portalpadrao.release/commit/791823433c10cb5ec61e268512f642c8227fe2aa#diff-31e777f7c24a7b1db14ecf916a23748bR475

No entanto após a atualização do collective.polls ocorre o erro reportado em:

https://github.com/collective/collective.polls/issues/83

Enquanto esse erro não for corr

[2015-01-12 14:08] taniaa commented on #162
Conforme linha 510, foi atualizado para a versão plone.formwidget.namedfile = 1.0.11:

https://github.com/plonegovbr/portalpadrao.release/blob/master/1.0.5/versions.cfg

[2015-01-14 17:34] idgserpro commented on #179
A linha problemática é a presente em

https://github.com/plonegovbr/brasil.gov.temas/blob/master/src/brasil/gov/temas/themes/verde/rules.xml#L40

Algum motivo para ao invés de `<replace content="//*[@id='portal-column-content']/div[2]" theme="//*[@id='portal-column-content']/div[1]" />` não ser apenas `<replace css:content="#portal-column-content" css:theme="#portal-column-content" />`, ou seja, s

[2015-01-14 18:08] agnogueira commented on #179
Ela foi adicionada neste comit do @felipeduardo:
https://github.com/plonegovbr/brasil.gov.temas/commit/8137469495f5fbf6ef2955e054822b03ed920d8d
Não achei nenhuma indicação do motivo da alteração.

[2015-01-15 15:54] rodfersou commented on #179
Provavelmente foi necessário mudar a posição da primeira div do tema para a segunda div do site dinâmico.. deve ser algo relacionado ao layout dos objetos e comportamento responsivo, para o HTML sair da forma desejada do layout.

Não me lembro agora o motivo exato.. somente debugando a página, e sabendo que elementos são essas divs para poder responder com certeza esta pergunta..

Concordo que iss

[2015-01-21 14:43] idgserpro opened #182 "Atualização do Products.Doormat para 1.0"
@rodfersou, Algum motivo em específico para a pinagem de Products.Doormat em https://github.com/plonegovbr/brasil.gov.portal/commit/9000191ffc55572792642ce6c750c8fe96ffd3e3, além de fazer os testes passarem? Qual teste deu problema?

A versão 1.0 é importante pois leva em consideração o workflow dos itens a serem mostrados no rodapé: isso é útil para portais que utilizam o workflow de intranet par

[2015-02-03 20:18] idgserpro commented on #161
As demais informações desnecessárias serão corrigidas via pull request.

[2015-02-04 20:14] idgserpro commented on #175
Esse erro será resolvido no formato de pull request.

[2015-02-25 20:39] idgserpro commented on #170
@ericof
@hvelarde

Depois do commit https://github.com/collective/collective.cover/commit/9eeb30b047e57e4e5ef278d6f6b1e1193810de62, o Site Administrator passou a poder alterar as configurações do collective.cover. Esse commit está presente na versão 1.0a9+ do collective.cover. No entanto, a versão utilizada pelo brasil.gov.portal é a 1.0a6. Ou seja, hoje, no brasil.gov.portal, o Site Administrator

[2015-02-25 20:45] ericof commented on #170
Temos sido **muito** conservadores com o upgrade do collective.cover. Como o cover teve um volume considerável de atualizações no período teríamos que realizar muitos testes -- e portar os upgrade steps -- para que não tenhamos problemas com a atualização.
O que acha @hvelarde ?

[2015-02-25 21:39] taniaa commented on #170
Atualizar o collective.cover seria bem legal! Até o Portal Padrão do Legislativo poderia se beneficiar do produto brasil.gov.tiles funcionar e talvez um dia juntar esforços de manutenção :)

[2015-02-26 14:17] hvelarde commented on #170
não deve ser usada a versão 1.0a10 pois ela introduziu vários bugs que ainda não foram completamente consertados.

eu acho que atualizar à versão 1.0a9 deve ser trivial; não vi nenhuma coisa que possa quebrar os tiles. sugiro testar num ambiente de homologação e não esquecer rodar todos os upgrade steps listados.

[2015-02-27 13:54] idgserpro commented on #170
Instalei brasil.gov.portal com o collective.cover 1.0a9 e não houve problema. Também rodei os teste do brasil.gov.portal com o collective.cover 1.0a9 e todos passaram. No entanto, em um portal que foi criado com o collective.cover 1.0a6 e depois atualizado para o collective.cover 1.0a9, ocorreu o erro:

	Traceback (innermost last):

	    Module ZPublisher.Publish, line 138, in publish
	    Module

[2015-02-27 14:22] hvelarde commented on #170
ótimo! era o que eu imaginava.

eu acho que tem jeito de rodar os upgrade steps duma dependência criando um upgrade step do portal; nunca fiz mas deve ser simples.

isso deve ser tratado num issue diferente.

[2015-02-27 15:02] idgserpro commented on #170
@hvelarde não seria melhor alterar o título e o label dessa issue, ao invés de criar uma outra, uma vez que já temos uma discurssão aqui que se refere somente à atualização do collective.cover?

[2015-02-27 18:34] hvelarde commented on #170
@idgserpro sugestões?

[2015-02-27 19:28] idgserpro commented on #170
@hvelarde

Atualizei o titulo da issue. Sobre o upgrade step do brasil.gov.portal chamar o upgrade step do collective.cover, eu não concordo com isso. Acho que uma nota no README.txt seria suficiente. E o collective.cover aparece na "Configuração do Site -> Complementos". Então alguem que acessar a página de "Complementos" irá ver que existem upgrades steps a serem executados (sem ser necessário a

[2015-03-05 22:04] hvelarde commented on #161
podemos fechar este?

[2015-03-05 22:25] hvelarde commented on #9
isso ainda é válido ou podemos fechar?

[2015-03-05 22:26] hvelarde commented on #11
isso ainda é válido ou podemos fechar?

[2015-03-05 22:29] hvelarde commented on #54
isso ainda é válido ou podemos fechar?

[2015-03-05 22:29] hvelarde commented on #76
isso ainda é válido ou podemos fechar?

[2015-03-05 22:30] hvelarde commented on #95
isso ainda é válido ou podemos fechar?

[2015-03-05 22:53] hvelarde commented on #140
isso ainda é válido ou podemos fechar?

[2015-03-05 22:54] hvelarde commented on #156
isso ainda é válido ou podemos fechar?

[2015-03-05 22:54] hvelarde commented on #154
isso ainda é válido ou podemos fechar?

[2015-03-05 22:54] hvelarde commented on #155
isso ainda é válido ou podemos fechar?

[2015-03-05 22:55] hvelarde commented on #166
isso ainda é válido ou podemos fechar?

[2015-03-05 22:56] hvelarde commented on #168
eu não estou entendendo o problema; pode nos dar mais informação, por favor.

[2015-03-06 03:04] taniaa commented on #95
Ainda está lá. Olha o print.
![captura de tela 2015-03-06 as 00 04 11](https://cloud.githubusercontent.com/assets/1102067/6519551/66f82664-c394-11e4-858c-9c1eec50c43b.png)

[2015-03-06 14:56] idgserpro commented on #161
Acho que esse relato deve ficar aberto até seja feito um merge do request https://github.com/plonegovbr/brasil.gov.portal/pull/183 e que seja gerado um release com essa correção.

[2015-03-06 15:01] idgserpro commented on #154
Esse relado ainda não pode ser fechado. É necessário criar um upgrade step para instalar o produto Agenda em sites que ele não estiver instado e criar um upgrade step para preencher o campo estilo da configuração do collective.cover. Ver os dois últimos comentários acima.

[2015-03-06 15:05] idgserpro commented on #166
Não pode ser fechado. O erro ainda ocorre.

[2015-03-10 13:05] Dadlo opened #184 "Adicionar brasil.gov.portlets como dependência de Portal Padrão"

[2015-03-10 13:09] cintiacinquini opened #185 "Importar arquivo VCAL como objeto Compromisso de Agenda"
Gostaria de propor uma funcionalidade na qual eu pudesse importar um arquivo VCAL e transformá-lo em um item de agenda.

[2015-03-10 17:21] hvelarde commented on #185
o vCalendar é um formato que foi substituído pelo [iCalendar](https://en.wikipedia.org/wiki/ICalendar); o [plone.app.event](https://pypi.python.org/pypi/plone.app.event) suporta importar e exportar arquivos neste formato.

pelo que vi, o IDG não está utilizando o plone.app.event ainda; teríamos que avaliar os riscos e clarificar o enredo das versões de [plone.app.contenttypes](https://pypi.python.

[2015-03-10 17:26] ericof commented on #185
@hvelarde Há algum tempo eu tinha decidido travar o plone.app.contenttypes em uma versão antiga para evitar conflitos do brasil.gov.agenda com versões mais novas do contenttypes.
Vale revisitar isto e ver se o problema ainda existe

[2015-03-12 13:03] idgserpro opened #187 "Funcionalidade baixar galeria de foto"
No portal do Planalto, há uma funcionalidade para baixar galeria de foto, que não existe no Portal Padrão. Gostaria de saber se esta customização foi feita por alguém aqui da comunidade e se existe uma previsão para essa funcionalidade ser incorporada ao Portal Padrão.

Um exemplo da funcionalidade:

http://www2.planalto.gov.br/centrais-de-conteudos/imagens/visita-ao-alojamento-das-vitimas-das-are

[2015-03-12 16:25] idgserpro commented on #181
O bug https://github.com/collective/collective.polls/issues/83 foi corrigido com o commit https://github.com/collective/collective.polls/commit/c982e985598dca4ba17388e606d2e3bbc44fb1fb do @hvelarde. A correção saiu na versão 1.6.2 do collective.polls. Agora só falta atualiazar o collective.polls para versão 1.6.2 no versions.cfg em https://github.com/plonegovbr/portalpadrao.release, para que esse

[2015-03-12 19:04] cintiacinquini commented on #185
A idéia aqui é poder importar eventos criados (pensei especificamente na agenda do Expresso, usado para gerenciar eventos).

Quais as informações deve ter esse ICalendar para que possa ser importado no Plone?

Que campo alimentará que dado?

E eu posso ter um conjunto de compromissos em um mesmo arquivo? Tipo um zip com todos os arquivos ical do dia? E, ao importar, eles se transformarem em compro

[2015-03-13 00:12] hvelarde commented on #185
@cintiacinquini acho que vale a pena provar num Plone zerado com o plone.app.event instalado

[2015-03-13 00:14] #184 closed

[2015-03-13 12:55] idgserpro commented on #9
Favor manter aberto. Ainda há algumas questões pendentes e algumas delas serão resolvidas via pull request.

[2015-03-13 14:14] idgserpro commented on #154
@hvelarde

o problema não é no brasil.gov.agenda como cogitado em https://github.com/plonegovbr/brasil.gov.portal/pull/186#issuecomment-78708932, mas sim no brasil.gov.portal. Vou tentar explicar de forma mais detalhada:

- Até a versão 1.0.1 do brasil.gov.portal o brasil.gov.agenda não era instalado quando o plone site era criado.
- A partir da versão 1.0.2, o brasil.gov.agenda passou a ser insta

[2015-03-13 14:42] hvelarde commented on #154
acho que vamos ter que resolver esse problema e não estou seguro qual é o melhor jeito.

uma coisa fica clara: o brasil.gov.agenda não pode estar oculto no painel de controle,

[2015-03-13 15:17] idgserpro commented on #154
O brasil.gov.agenda não fica oculto no painel de controle. Isso já é assim hoje.

Acho que um jeito simples de resolver é criar um upgrade step que verifica se o tipo Agenda existe o portal_types e caso não exista, aplicar o profile do brasil.gov.agenda.

Também é necessário criar um outro upgrade step que preencha o campo estilo da configuração do collective.cover, devido a:

https://github.com/p

[2015-03-13 18:16] idgserpro commented on #172
Há clientes questionando o andamento dessa discussão. Qual posicionamento pode ser dado a eles? Lembrando que a implementação dessa funcionalidade pode ser efetuado via pull request.

[2015-03-16 16:08] hvelarde commented on #172
acho que seria melhor levar essa discussão para a lista da Comunidade Plone no Governo

[2015-03-16 16:12] hvelarde commented on #154
pode ser um workaround válido para essa situação; respeito do outro problema, não, o certo é corregir esse bug no collective.cover e atualizar a versão.

[2015-03-16 16:48] idgserpro commented on #154
Mesmo corrigindo o erro no collective.cover, acho melhor ter um upgrade step que atualiza novamente o campo estilo da configuração. Isso porque mesmo que se coloque purge = "false" no campo estilo, ele ainda vai adicionar os valores defaults como dito pelo @fredvd em https://github.com/collective/collective.cover/issues/465#issuecomment-70632568. E em https://github.com/plonegovbr/brasil.gov.porta

[2015-03-21 19:15] rennan commented on #76
@hvelarde pode fechar.

[2015-03-21 19:15] rennan commented on #140
@hvelarde pode fechar.

[2015-03-23 11:23] #76 closed

[2015-03-23 11:23] #140 closed

[2015-03-24 18:52] idgserpro opened #188 "Incorporar o plone.app.multilingual no Portal Padrão (médio/longo prazo)."
Uma vez que o uso do Google Translate não é viável via relato #172 e a criação de um Plone Site exclusivo para tradução é de certa forma oneroso, devemos num médio/longo prazo viabilizarmos a incorporação do plone.app.multilingual no Portal Padrão, nos mesmos moldes do brasil.gov.paginadestaque, ou seja, uma funcionalidade avançada.

[2015-03-24 18:53] idgserpro commented on #172
Esse relato será fechado uma vez que após discussão na comunidade percebemos as seguintes desvantagens dessa abordagem:

1 - Problemas de acessibilidade;
2 - Riscos de performance em plataformas móveis;
3 - [Riscos do ciclo de vida do Google Translate](https://groups.google.com/forum/#!topic/google-translate-api/TAeCd2naU80).

O caminho deve ser o traçado no #188.

[2015-03-24 18:53] #172 closed

[2015-03-30 19:05] idgserpro opened #189 "Css de tiles só funcionam para tile de Notícias"
O [css de tiles](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/profiles/default/registry.xml#L61) só funcionam para a tile de Notícias. Esses csss só são aplicados se o elemento tiver a classe '.tile-subtitle', como visto [aqui](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/static/css/main.css#L1645). E somente a tile de Notíc

[2015-04-16 13:56] idgserpro commented on #179
Como isso é um problema de tema, abri o relato no brasil.gov.tema:

https://github.com/plonegovbr/brasil.gov.temas/issues/113

[2015-04-16 13:56] #179 closed

[2015-04-20 18:34] #170 closed

[2015-04-20 18:37] #181 closed

[2015-04-21 11:47] hvelarde commented on #154
o https://github.com/collective/collective.cover/issues/465 foi fechado.

[2015-04-22 19:44] idgserpro commented on #161
Correção do problema foi completada em: https://github.com/plonegovbr/brasil.gov.portal/commit/93003c1e06ff4ca64dc3325510ccdbddfa0fc78e

[2015-04-22 19:44] #161 closed

[2015-04-24 18:49] idgserpro opened #190 "O upgrade step que ajusta a ordenação de pastas não funciona se a pasta for renomeada"
O upgrade step [v5000 que ajusta a ordenação de pastas 'assuntos', 'imagens' e 'sobre'](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/upgrades/v5000/handler.py#L17), não funciona se essas pastas forem renomeadas o id. É necessário criar um novo upgrade step que verifica se existem pastas na raiz com a ordenação 'unsorted' (independente do id) e trocar a ordenaçã

[2015-05-04 13:52] idgserpro opened #191 "CatalogError: The index chosen for sort_on (byline) is not capable of being used as a sort index."
Quando adicionamos uma Coleção, selecionamos 'Tipo' no campo 'Termos de busca', deixamos o combo 'É' selecionando e marcamos 'Página' no terceiro combo, ocorre o erro abaixo na resposta do javascript:

    Module ZPublisher.Publish, line 138, in publish
    Module ZPublisher.mapply, line 77, in mapply
    Module ZPublisher.Publish, line 48, in call_object
    Module plone.app.querystring.querybuil

[2015-05-04 18:07] hvelarde commented on #191
eu acho que isso pode ser um erro do collective.nitf; por favor abrir no repo dele e criar um branch com um teste de RF demostrando o problema.

[2015-05-08 16:43] idgserpro commented on #191
@hvelarde verifiquei melhor o problema e reportei aqui:

https://github.com/plone/plone.app.querystring/issues/37

De qualquer forma, o collective.nitf deveria ser corrigido também.

[2015-05-12 14:03] idgserpro commented on #175
Corrigido em: https://github.com/plonegovbr/brasil.gov.portal/commit/40d68555a5b2dda078bb149a358ab8db0955d01b

[2015-05-12 14:03] #175 closed

[2015-05-12 17:00] idgserpro commented on #9
Corrigido em:

https://github.com/plonegovbr/brasil.gov.portal/issues/177
https://github.com/plonegovbr/brasil.gov.portal/pull/13
https://github.com/plonegovbr/brasil.gov.portal/pull/192

[2015-05-12 17:00] #9 closed

[2015-05-15 00:19] valessiobrito opened #193 "Organograma Interativo"
É comum encontrar no Portal Padrão na parte "Institucional" um Organograma "feio" em flash ou imagem;

Sugiro criar um produto padrão para isso, se possível aproveitando o código desse projeto:
http://organograma.yuricamara.com.br/

A ideia é que cada item no Organograma seja um link para uma página com mais detalhes da Unidade/Coordenação.

[2015-05-26 15:58] hvelarde commented on #166
isso parece um problema do plone.app.contenttypes, concorda? acho que temos que abrir uma issue  lá.

[2015-05-28 18:52] idgserpro commented on #23
@hvelarde, esse relato diz respeito à customização em https://github.com/plonegovbr/brasil.gov.portal/commit/d3e09277a916a85e4bfc1105fcd6843db745a777, que hoje já está presente no collective.nitf (ver https://github.com/collective/collective.nitf/blob/master/src/collective/nitf/browser/__init__.py#L98)? Se for o caso, devemos renomear o relato para "remover" ao invés de revisar.

[2015-05-28 19:47] hvelarde commented on #23
@idgserpro você está olhando no master que é a versão 2.0 do pacote; por favor olha no branch 1.x.

[2015-05-28 20:02] idgserpro commented on #23
Mas o ideal não seria já incorporar o 2.0 do nitf num próximo release do brasil.gov.portal?

[2015-05-28 21:08] hvelarde commented on #23
@idgserpro estamos trabalhando nele mas ainda não temos data para o release; deve ser nas próximas semanas pois precisamos dele em vários projetos.

podem nos ajudar testando a migração e reportando problemas? sugestões são sempre bem-vindas.

[2015-05-28 21:52] idgserpro commented on #166
O buraco é mais embaixo.

Olhando mais a fundo, o problema ocorre com o arquivo brasao.jpg, presente na pasta Eventos.

Ao criar um Plone Site do zero e instalando apenas o plone.app.contenttypes e os tipos dexterity pelo profile "Dexterity-based Plone Default Types (without example content) 1.0", e adicionando apenas uma imagem, ocorre o erro ao selecionar a visão atct_album_view. Não é o mesmo e

[2015-06-15 17:54] hvelarde commented on #11
fechado por falta de feedback.

[2015-06-15 17:54] #11 closed

[2015-06-15 18:07] hvelarde commented on #187
Isso foi feito especificamente para a Secom, vou perguntar se podemos mover o repositório para aqui.

[2015-06-15 18:55] ericof commented on #187
Como é algo no namespace da secom eu acho que a única forma seriam eles mesmos autorizarem. Minha sugestão é recriar a funcionalidade com código mais moderno.

[2015-06-18 15:12] hvelarde opened #196 "Fix blind excepts"

[2015-06-30 20:52] #54 closed

[2015-07-01 17:48] idgserpro commented on #189
O commit https://github.com/plonegovbr/brasil.gov.portal/commit/6b3001d787fbf0e12c28f59a668986d012bf6fb6 corrigi o css para tile de coleção. Ainda é necessário revisar o css de outras tiles.

[2015-07-05 02:11] garotadpi commented on #193
Concordo com o "feio"para flash... mas a solução apresentada não funciona com teclado.

[2015-07-12 21:31] valessiobrito commented on #193
Como comentei, aproveitando o código, logo, será necessário complementar / alguns ajustes para ficar compatível com e-Mag, acesssibilidade; etc.

[2015-07-13 13:38] idgserpro opened #202 "Desvincular exibição da data da exibição do autor"
Hoje, quando desmarcamos a opção 'Permitir a qualquer um ver as informações sobre o conteúdo.' em 'Configuração do site -> Segurança', tanto a data quanto o autor de um conteúdo deixam de ser exibido para anônimos. A ideia aqui é desvincular esse comportamento para que seja exibido somente a data ou somente o autor. O que vocês acham?

[2015-07-13 17:28] hvelarde commented on #202
@idgserpro eu acho legal, mas isso deve ser implementado no Plone direitamente e não aqui

[2015-07-13 20:03] idgserpro commented on #202
@hvelarde nós até abrimos o relato no Plone:

https://github.com/plone/Products.CMFPlone/issues/668

Mas há dois pontos aqui:

- Ainda estamos no processo para assinar o Contributor's Agreement. Então, não podemos implementar isso.
- Mesmo que isso seja implementado no Plone, provavelmente só sairia no Plone 5 e demoraria muito para o IDG usar isso.

Então, não podemos implementar aqui e remover q

[2015-07-14 15:26] hvelarde commented on #187
@idgserpro a funcionalidade foi inclusa agora como parte do produto sc.photogallery:

https://github.com/simplesconsultoria/sc.photogallery/pull/16

ainda está precisando dum refactor para tirar código duplicado mas está em produção no novo site dos Jogos Olímpicos; pode ver um exemplo aqui:

http://www.brasil2016.gov.br/pt-br/galeria-de-fotos/vila-dos-atletas-julho-de-2015

[2015-07-14 15:41] hvelarde commented on #202
acho que podem implementar aqui e depois abrir issues nos branchs 4.3 e 5.0 do Plone; não vejo por que não possa ser incluído agora na versão 4.3.

[2015-07-14 16:59] idgserpro commented on #187
Legal @hvelarde! Existe alguma previsão do sc.photogallery ser incorporado ao IDG, substituindo a galeria utilizada hoje no IDG?

[2015-07-14 18:00] hvelarde commented on #187
@idgserpro ninguém pediu ainda isso; pode mandar mensagem na lista? teríamos que discutir como migrar o conteúdo atual.

[2015-07-15 16:58] idgserpro opened #203 "Ícone de Redes Sociais cortados"
Em tipos de conteúdos diferente de Notícias (por exemplo em Páginas), os ícones de Redes Sociais ficam cortados.

![redes sociais](https://cloud.githubusercontent.com/assets/8203476/8704464/7ca17e8a-2af9-11e5-9954-f45917a49536.png)

[2015-07-16 15:15] idgserpro opened #204 "Ordenação default da aba Conteúdo"
Hoje no Plone a ordenação default da aba Conteúdo de uma pasta, é por ordem crescente de data de criação. Muitos clientes estão reclamando que a ordem deveria ser decrescente, ou seja, novos conteúdos deveriam aparecer primeiro (na primeira página da paginação).

Existe o produto [collective.folderorder](https://github.com/collective/collective.folderorder) que dá a opção do usuário escolher a ord

[2015-07-17 14:15] hvelarde commented on #204
o pacote parece estar meio abandonado e não sei se é a melhor opção; tal vez poderíamos testar o [wildcard.foldercontents](https://github.com/collective/wildcard.foldercontents) que faria também desnecessário o collective.upload.

[2015-07-17 15:53] idgserpro commented on #156
Isso ainda ocorre para conteúdos diferentes de notícias. Mas isso parece mais um problema do sc.social.like.

[2015-07-21 14:43] idgserpro commented on #204
Eu testei o collective.folderorder e ele funciona bem. O que ele precisa é de uma tradução para o português e a correção de um probleminha em que é necessário coloca-lo na variável ZCML do buildout para ele aparecer para ser instalado:

https://github.com/collective/collective.folderorder/issues/3

Eu testei o  wildcard.foldercontents mas ele somente adiciona um filtro em que você pode escolher a

[2015-07-21 17:17] hvelarde commented on #204
@idgserpro gostaria de adicionar CI naquele pacote então antes de continuar; pode trabalhar nisso?

[2015-07-21 20:34] idgserpro opened #205 "Galeria não deixa selecionar item como visão padrão da pasta."
Quando estamos na visão de uma galeria, não conseguimos selecionar um item como visão padrão da pasta (galeria), porque a imagem sobrescreve as últimas opções.
![galerias](https://cloud.githubusercontent.com/assets/8203476/8811788/a94d5ce0-2fce-11e5-8804-490c464fbfa9.png)

[2015-07-22 11:41] idgserpro commented on #204
@hvelarde agora estou envolvido com outras atividades. Mas quando for mexer nessa demanda posso fazer isso sim.

[2015-07-23 20:13] idgserpro opened #206 "Atualizar versão do collective.cover para 1.0a11"
Testar e atualizar a versão do collective.cover [1.0a11](https://pypi.python.org/pypi/collective.cover/1.0a11). Segundo o @hvelarde esse versão está estável.

[2015-08-03 18:24] idgserpro commented on #182
Essa demanda será corrigida via pull request.

[2015-08-03 19:19] rodfersou commented on #182
@idgserpro Eu acredito que na época as versões mais novas do produto estavam entrando em conflito com algum outro pacote necessário, mas vale a pena fazer um novo teste com a versão mais atual.

[2015-08-03 19:27] idgserpro commented on #182
@rodfersou vou verificar isso. Obrigado.

[2015-08-04 14:22] idgserpro opened #208 "Há interesse de, no próximo release, atualizar o Products.TinyMCE em portalpadrao.release?"
Hoje, a versão pinada desse pacote em portalpadrao.release é a 1.3.6.

A versão [1.3.10 de Products.TinyMCE](https://github.com/plone/Products.TinyMCE/blob/1.3.x/HISTORY.rst) conserta traduções faltantes em português. Ela corrige o problema por exemplo de propriedades de links no editor TinyMCE que estavam em branco:

![selecao_067](https://cloud.githubusercontent.com/assets/8203476/9062616/e77d36

[2015-08-04 14:58] hvelarde commented on #208
@idgserpro acho que podemos ir além disso.

@rodfersou qual é a última versão que temos testado em produção no Plone 4.3?

[2015-08-05 12:32] rodfersou commented on #182
@idgserpro de nada :)

[2015-08-05 12:34] rodfersou commented on #208
@idgserpro @hvelarde versão 1.4.3 entrou minha correção das traduções https://pypi.python.org/pypi/Products.TinyMCE/1.4.3

[2015-08-05 14:52] idgserpro commented on #208
@hvelarde @rodfersou Então há interesse de incorporar Products.TinyMCE>=1.3.10 no Portal Padrão, de qualquer forma? Se já estiver definido, esse relato pode ser fechado. Obrigado!

[2015-08-05 16:03] hvelarde commented on #208
@idgserpro ha sim

[2015-08-05 17:39] idgserpro commented on #190
Isso será resolvido via pull request.

[2015-08-05 17:47] hvelarde commented on #190
e testes, por favor...

[2015-08-05 18:09] idgserpro commented on #190
Sim, sem dúvida! O teste será criar por exemplo 3 pastas: uma na situação não ordenada, e outras duas ordenadas, execução do upgrade, os 3 precisam estar ordenados.

Acha suficiente ou tem mais alguma idéia para complementar o teste ainda mais?

[2015-08-05 18:42] hvelarde commented on #190
@idgserpro estava pensando mais bem em testes do upgrade step para tentar evitar problemas como este.

[2015-08-06 14:59] #182 closed

[2015-08-12 21:22] idgserpro commented on #202
@hvelarde como esse assunto não está indefinido no Plone, vou implementar isso aqui. Vou criar um novo item no control panel para configurações do brasil.gov.portal, e colocar a configuração de esconder o autor lá.

[2015-08-18 14:38] winstonf88 commented on #191
Alguma conclusão sobre este assunto?

[2015-08-18 15:05] idgserpro commented on #191
Existem duas soluções para esse problema:

1. O plone.app.querystring não deve listar índices do tipo ZCTextIndex com campo 'Ordenar' da coleção. ver: https://github.com/plone/plone.app.querystring/issues/37

2. O collective.nitf deve definir o registro ```plone.app.querystring.field.byline``` com
[code]
ver: https://github.com/collective/collective.nitf/issues/121

[2015-08-18 20:37] secomdigital commented on #196
Orientamos a respeito da necessidade de maior detalhamento da inclusão desta demanda na nova Release.

[2015-08-18 22:40] hvelarde commented on #196
@secomdigital ninguém falou em incluir essa demanda no próximo release; simplesmente é um problema que deve ser resolvido em algum momento.

[2015-08-19 19:09] secomdigital commented on #196
@hvelarde ainda não identificamos o problema. Poderia por favor descrever com mais detalhes?

[2015-08-20 00:19] hvelarde commented on #196
[esse código aqui](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/transmogrifier/sections/source.py#L30:L34) é uma má prática:

[code]

mais informação aqui:
* https://docs.python.org/2.7/howto/doanddont.html#except
* http://stackoverflow.com/questions/21553327/why-is-except-pass-a-bad-programming-practice

[2015-08-20 17:09] lucaslamounier opened #211 "Erro página destaque do produto brasil.gov.portal"
Após realizar a instalação do portal padrão em uma nova instancia do plone o produto apresenta o seguinte erro :

Module collective.cover.layout, line 99, in render_section
TypeError: cannot concatenate 'str' and 'dict' objects

 - Expression: "layout/render_view"
 - Filename:   ... a11-py2.7.egg/collective/cover/browser/templates/view.pt
 - Location:   (line 18: col 32)
 - Source:     tal:replace

[2015-08-20 23:15] hvelarde commented on #211
@lucaslamounier o collective.cover 1.0a11 não tem sido homologado para trabalhar com a versão atual do IDGB.

imagino que você seguiu as instruções de instalação do pacote e colocou as versões certas de dependências.

[2015-08-24 14:36] winstonf88 commented on #211
@hvelarde segundo o @lucaslamounier esse problema acontece somente ao instalar o brasil.gov.portal a partir de uma instalação padrão do Plone (unifiedinstaller). Este erro não acontece quando o produto é instalado a partir de uma instalação do Portal Padrão.

[2015-08-24 14:43] winstonf88 opened #212 "Desabilitar o item "configuração do site" da viewlet de site_actions do header do portal"
Corrigir este item conforme reportado em https://github.com/plonegovbr/brasil.gov.temas/issues/112.

[2015-08-24 14:53] idgserpro commented on #212
+1

[2015-08-25 17:21] hvelarde commented on #211
@winstonf88 @lucaslamounier o brasil.gov.portal tem dependências estritas que devem ser satisfeitas; para isso se usa o arquivo versions.cfg.

[2015-08-25 21:07] idgserpro commented on #211
Cada versão do Portal Padrão tem o seu arquivo de versões para as dependências. O arquivo da atual versão (1.0.5) é esse:

https://raw.githubusercontent.com/plonegovbr/portalpadrao.release/master/1.0.5/versions.cfg

Você tem que estender o seu buildout com a url acima.

[2015-08-31 18:37] #212 closed

[2015-09-01 14:34] winstonf88 commented on #191
Eu acho a primeira opção a mais correta, se esse tipo de índice não pode ser usado nesse contexto então ele não deve ser listado.

[2015-09-01 14:52] idgserpro commented on #191
@winstonf88 também acho que o correto é corrigir o plone.app.querystring. Eu não tenho contributor agreement então eu não posso corrigir isso lá. Você pode corrigir isso lá?

[2015-09-01 14:53] winstonf88 commented on #191
Posso sim, já estou trabalhando nisso.

[2015-09-01 17:45] winstonf88 commented on #191
@idgserpro depois de olhar melhor o problema, isso deve ser corrigido no collective.nitf mesmo.
Na realidade não tem nada que o plone.app.querystring pode fazer, ele apenas RECEBE valores via request e executa uma consulta no catalog com os parâmetros recebidos, que no caso é um `sort_on='byline'`.
A minha opinião é que se existe um índice que não pode ser usado como sort_on, ele não deve nem ser

[2015-09-01 19:41] winstonf88 commented on #191
@idgserpro @hvelarde
Nesse caso o certo seria só desabilitar o sortable, ou alterar o tipo do índice para funcionar com sort_on?

[2015-09-01 20:11] idgserpro commented on #191
@winstonf88 eu ainda acho que o plone.app.querystring deveria ser corrigido. O método [mapSortableIndexes](https://github.com/plone/plone.app.querystring/blob/010d0fa799413d375b864640d1e125f88deee7b5/plone/app/querystring/registryreader.py#L103) define quais índices serão listados no campo 'Ordenar'. Minha ideia é testar nesse método se o indicie é do tipo ZCTextIndex e não retornar esse indicie s

[2015-09-01 20:37] hvelarde commented on #191
na minha ideia o tipo de índice está certo: `ZCTextIndex` se usa para buscas de texto completo, ou seja, eu poderia procurar por *Jorge* e a busca retornar artigos escritos tanto por *Jorge Bem*, quanto por *Seu Jorge*...

[2015-09-01 20:40] idgserpro commented on #191
Sim @hvelarde, o tipo de índice está correto. O que não está correto é o plone.app.querystring listá-lo com campo 'Ordenar' da Coleção.

[2015-09-01 21:01] winstonf88 commented on #191
Já mandei a correção desse item no https://github.com/plone/plone.app.querystring/pull/43

[2015-09-03 23:14] hvelarde opened #214 "Brown bag release?"
Favor verificar a versão do pacote: deve ser listada como 1.1 mas aconteceu um erro no meio do release e estou achando que poderia estar errada.

[2015-09-08 16:42] #190 closed

[2015-09-09 11:58] rodfersou opened #216 "Corrigir conteúdo inicial: "TypeError: cannot concatenate 'str' and 'dict' objects" para tiles antigos que continham dicionário"
Após atualização do `collective.cover`, um problema que estava escondido na estrutura do conteúdo inicial fez com que disparasse [algumas exceções](https://github.com/collective/collective.cover/issues/544).

Nesta issue será necessário:
- Atualizar a estrutura do conteúdo inicial do `brasil.gov.portal`.
- Criar um upgrade step para limpar os tiles antigos.

[2015-09-09 12:26] idgserpro commented on #206
Relacionado com https://github.com/plonegovbr/brasil.gov.portal/issues/216

[2015-09-09 13:32] winstonf88 opened #218 "Criar upgrade step para atualizar produtos de terceiros"
Como vários produtos foram atualizados é necessário executar todos os upgrade steps dos mesmos.
Para evitar rodar todos manualmente, deve criar um upgrade step que faça esta atualização.

[2015-09-09 14:58] idgserpro commented on #218
É importante uma discussão ampla sobre uma demanda desse nível devido aos problemas/características no funcionamento dos upgradeSteps que, na nossa opinião, torna a necessidade da aplicação deles ainda ser manual:

1 - Da forma como os upgradeSteps hoje são implementados em Plone, não dá pra saber se um upgradeStep em específico foi executado ou não pelo portal_setup. Ex: se você tem um pacote com

[2015-09-09 15:11] hvelarde commented on #218
@idgserpro bom pontos, mas… o que estamos tentando fazer aqui é simplificar a vida dos usuários finais; o Plone mesmo já faz isso quando você atualiza de versao em versão.

acho muito mais saudável automatizar a execução dos upgrade steps das dependências básicas do IDGB que deixar isso nas mão de usuário poco experientes que as vezes esquecem de aplicar alguns deles.

escreve na lista e vamos ver

[2015-09-09 16:46] hvelarde commented on #216
@winstonf88 FYI

[2015-09-09 19:21] idgserpro commented on #218
O mundo ideal é sim atualizar todas as dependências simplificando a vida dos usuários finais, a questão é a mão de obra, recursos e o overhead disso no código para poder garantir essa simplificação, que, ao menos na nossa análise, não achamos que valha a pena no nosso contexto devido à complexidade, tamanho de equipe e às desvantagens citadas. Se quiserem seguir por esse caminho mesmo com as desva

[2015-09-09 20:09] hvelarde commented on #218
@idgserpro vamos ver, acho que a situação não é assim como vocês comentam; na minha opinião o que acontece é o seguinte: se o usuário Fulano vai atualizar para a nova versão do portal e antes ele não rodou alguns upgrade steps de alguns pacotes, ao atualizar o código vai rodar todos os upgrade steps pendentes ate a versão indicada aqui.

se o usuário pulou algum upgrade step intermediário então ne

[2015-09-09 21:01] idgserpro commented on #206
@rodfersou @hvelarde podemos fechar esse relato?

[2015-09-09 21:09] winstonf88 commented on #218
+1

[2015-09-09 21:32] hvelarde commented on #206
acho que podemos sim:

https://travis-ci.org/plonegovbr/brasil.gov.portal/builds/79508359#L558

[2015-09-09 21:32] #206 closed

[2015-09-10 01:26] rodfersou opened #220 "Recriar conteúdo inicial"
Desde a criação do `plonegovbr` até agora, diversos componentes sofreram melhorias e mudaram a forma de persistir seus dados.

Porém, o conteúdo inicial do portal continuou praticamente o mesmo, o que acarretou uma estrutura desatualizada que por sorte ainda funcionava.

Hoje corrigimos um problema #216 causado pela atualização de um desses componentes que deixou de aceitar a estrutura antiga do c

[2015-09-10 01:32] rodfersou commented on #220
Uma idéia que estou tendo agora seria de automatizar a criação de conteúdo inicial e exportação das informações.

Talvez isso possa ser feito com robot framework ou programaticamente.

@hvelarde voce poderia me orientar se algo assim seria viável?

[2015-09-10 11:41] hvelarde commented on #220
acho melhor continuar esta conversa na lista de correios por enquanto.

[2015-09-10 14:52] idgserpro commented on #218
Acredito que o ideal nesse cenário, já que a motivação pra facilitar pro usuário final, é:

- Varrer o portal_setup dos ambientes, verificar os pacotes que temos de dependência que possuem upgradeSteps não aplicados;
- Aplicar esses upgradeSteps automaticamente;
- Próximo release, aplicar os upgradeSteps de forma específica e explícita como foi feito inicialmente no https://github.com/plonegovbr/b

[2015-09-10 20:04] hvelarde commented on #218
concordo, mas só das dependências do projeto.

[2015-09-10 20:17] idgserpro commented on #218
Eu também, complementei a mensagem deixando isso explícito pra não gerar dúvidas!

[2015-09-11 14:10] idgserpro opened #221 "Capa desformatada"
Ao criar um portal 'do zero', a capa fica desformatada:

![idg](https://cloud.githubusercontent.com/assets/8203476/9816778/734ec80c-5875-11e5-8e89-f897ff8c2beb.png)

Provavelmente isso foi depois de https://github.com/plonegovbr/brasil.gov.portal/commit/9dbcfaed531823ecea41d4dc06d782b04c1adcaf.

@rodfersou você pode verificar?

[2015-09-11 14:26] idgserpro opened #222 "Utilizando o brasil.gov.vcge 2.0.0 causa erro na busca"
Ao utilizar o brasil.gov.vcge 2.0.0 ocorre um erro ao buscar um conteúdo:

[code]

Relacionando com https://github.com/plonegovbr/brasil.gov.portal/issues/220?

[2015-09-11 14:26] idgserpro commented on #166
De acordo com o **pbauer**, isso foi corrigido [no último upgradeStep](https://github.com/plone/plone.app.contenttypes/issues/233#issuecomment-139215997), e também refletido na branch 1.1.x (especificamente em 1.1b6, ainda não lançado). Precisamos:

- Testar essa correção;
- Num release futuro incorporar essa versão.

[2015-09-14 13:33] hvelarde commented on #222
@idgserpro não tenho certeza; a versão 1.x funciona sem problemas?

[2015-09-14 13:35] hvelarde commented on #166
@idgserpro precisamos abrir um novo issue para atualizar o plone.app.contenttypes

[2015-09-14 14:16] idgserpro commented on #222
@hvelarde sim. A versão 1.x funciona corretamente.

[2015-09-15 19:45] idgserpro commented on #218
@hvelarde @winstonf88 como vamos tratar as dependências das dependências. Por exemplo, o ```collective.cover``` tem como dependência o ```collective.js.jqueryui``` e o ```collective.js.jqueryui``` pode ter upgrade para executar. Inclusive o collective.js.jqueryui tem um [upgrade errado](https://github.com/collective/collective.js.jqueryui/issues/28).

[2015-09-15 22:49] hvelarde commented on #218
@idgserpro simplesmente: não vamos tratar :-)

[2015-09-16 12:20] caduvieira commented on #222
KeyError: u'http://vocab.e.gov.br/2011/03/vcge#informacoes-sobre-pais'

É um item do VCGE 1.X sendo pesquisado que não existe no VCGE 2.X

[2015-09-16 15:07] rodfersou commented on #221
Precisa instalar os upgrade steps do `collective.cover`

[2015-09-16 15:11] idgserpro commented on #221
@rodfersou mas isso ocorre ao instalar um Plone Site 'do zero'. Existem upgrade step  do collective.cover para serem instalados quando criamos um site 'do zero'?

[2015-09-16 16:04] rodfersou commented on #221
@idgserpro esse é um dos motivos de re-fazer o conteúdo inicial :) #220

[2015-09-16 17:24] idgserpro commented on #218
O problema de não tratarmos é que faremos todo esse esforço no código, testes e etc mas o usuário ainda precisa ir no portal_setup: acabou que fugimos da motivação inicial que você comentou que era de não deixar na mão de usuários pouco experientes que às vezes esquecem de aplicar alguns deles, já que ele ainda precisa aplicar manualmente.

Por isso, pergunto: não tratará nesse release, ou simples

[2015-09-16 17:29] winstonf88 commented on #218
@idgserpro Entendo a sua colocação e é válida. Porém é complicado resolver 100% do problema pq A tem dependência de B, que tem dependência de C, que tem dependência de D, e etc. E isso é inviável, acho melhor fazermos o mínimo do que não fazer nada, fazendo com que o brasil.gov.portal resolva as SUAS dependências, não a dos "outros".

[2015-09-18 12:57] idgserpro commented on #211
Corrigido em https://github.com/plonegovbr/brasil.gov.portal/commit/9dbcfaed531823ecea41d4dc06d782b04c1adcaf.

[2015-09-18 12:57] #211 closed

[2015-09-18 12:58] winstonf88 commented on #221
@rodfersou Eu alterei o json do "home/data.json" para resolver o problema. Não sei se é a solução correta, pode dar uma olhada?

Eu só alterei os dados de:
[code]
para
[code]

[2015-09-18 14:48] #218 closed

[2015-09-18 17:19] idgserpro opened #225 "KeyError: 'Interface `collective.cover.controlpanel.ICoverSettings` defines a field `grid_system`, for which there is no record.'"
Criei um Portal Padrão 1.0.5 com as versões indicadas em:
https://github.com/plonegovbr/portalpadrao.release/blob/master/1.0.5/versions.cfg

Depois atualizei para Portal Padrão 1.1.2, adicionando as versões de:
https://github.com/plonegovbr/portal.buildout/blob/master/buildout.d/versions.cfg

Ao executar o upgrade step do brasil.gov.portal, ocorreu o erro:

[code]

Para corrigir isso, no upgrade s

[2015-09-18 17:31] idgserpro opened #226 "TypeError: cannot concatenate 'str' and 'dict' objects"
Criei um Portal Padrão 1.0.5 com as versões indicadas em:
https://github.com/plonegovbr/portalpadrao.release/blob/master/1.0.5/versions.cfg

Depois atualizei para Portal Padrão 1.1.2, adicionando as versões de:
https://github.com/plonegovbr/portal.buildout/blob/master/buildout.d/versions.cfg

Executei o upgrade do collective.cover. Depois executei o upgrade do brasil.gov.portal. Ao acessar a capa,

[2015-09-18 17:34] winstonf88 commented on #226
Já vi esse problema e já corrigi. Viu enviar o código em breve.

[2015-09-18 18:36] winstonf88 commented on #225
Pode estar relacionado com #226

[2015-09-18 19:38] idgserpro commented on #191
Corrigido no plone.app.querystring:
https://github.com/plone/plone.app.querystring/issues/37

Agora falta esperar um novo release para que possamos incorporá-lo ao IDG, para fecharmos esse relato.
Obrigado @winstonf88 pela correção!

[2015-09-18 20:47] idgserpro commented on #225
@winstonf88 não está relacionado com #226. O problema aqui é a ordem dos passos do upgrade do brasil.gov.portal.

[2015-09-18 21:07] idgserpro opened #229 "Destaques desformatados na página inicial"
Ao criar um portal 'do zero', os destaques da página inicial ficam desformatados.

![selecao_021](https://cloud.githubusercontent.com/assets/8203476/9971128/fae0128e-5e2f-11e5-95f0-1376a0521b16.png)

[2015-09-21 16:33] idgserpro commented on #208
@hvelarde Pra conhecimento.

[2015-09-23 01:23] rodfersou commented on #221
@winstonf88 desculpe a demora.. revisei o meu [upgrade step do cover](https://github.com/collective/collective.cover/blob/master/src/collective/cover/upgrades/v11/__init__.py#L144-L145), e sua alteração está correta. basicamente faltava mudar o column-size do atributo data para a posição acima

[2015-09-24 11:38] #221 closed

[2015-09-24 11:38] #229 closed

[2015-09-24 12:14] idgserpro commented on #208
@winstonf88 o relato sobre o TinyMCE que falamos por telefone é esse.

[2015-09-24 13:58] idgserpro commented on #191
@hvelarde saiu um [release do branch 1.3.x](https://github.com/plone/plone.app.querystring/blob/master/CHANGES.rst#138-2015-09-21) do plone.app.querystring com as correções do @winstonf88 mas não saiu uma [release do branch 1.2.x](https://github.com/plone/plone.app.querystring/blob/1.2.x/CHANGES.rst#128-unreleased), que é a utlizada no Plone 4.3. Será que podemos utilizar a versão 1.3 ou teremos q

[2015-09-24 14:32] hvelarde commented on #191
não podemos, não; estou solicitando um release agora no #plone-framework

[2015-09-24 14:34] winstonf88 commented on #225
@idgserpro fiz alguns testes e o problema aqui na realidade é que o upgrade do collective.cover deve ser executado antes do [corrige_conteudo_collectivecover](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/bras@idgserpro fiz alguns testes e o problema aqui na realidade é que o upgrade do collective.cover deve ser executado antes do [corrige_conteudo_collectivecover](https://github

[2015-09-24 14:38] hvelarde commented on #191
feito! https://pypi.python.org/pypi/plone.app.querystring/1.2.8

[2015-09-24 14:51] idgserpro commented on #191
@hvelarde maravilha! Agora temos que adicionar esse versão em portalpadrao.release. Obrigado!

[2015-09-24 14:55] #225 closed

[2015-09-24 15:23] idgserpro opened #231 "Erro no upgrade do collective.nitf"
Quando executamos o upgrade step 10700 do brasil.gov.portal, ocorre erro no upgrade step 1008 do collective.nitf.

[code]

Relacionado com: https://github.com/collective/collective.nitf/issues/139

[2015-09-24 15:31] taniaa opened #232 "Incorporar hotfix 20150910 do Plone"
Oi, pessoal.

Parabéns pelo trabalho da última release!

Notei hoje que a release foi lançada sem a atualização de segurança:
https://plone.org/products/plone/security/advisories/20150910-announcement

O mais breve possível, é importante gerar nova release com isso. Mesmo que boa parte dos sites governamentais não utilizem o registro anônimo, se usar corre riscos identificados :)

[2015-09-24 16:05] hvelarde commented on #232
obrigado!

[2015-09-24 19:41] winstonf88 commented on #226
O problema aqui era que as capas do conteúdo inicial não estavam indexadas corretamente fazendo com que a consulta no catalog retornasse sempre vazia, ou seja, nenhum conteúdo de capa estava sendo realmente atualizado. Isso tbm fazia com que o upgrade step do collective.cover tbm passase pelo mesmo problema.

[2015-09-25 18:44] #232 closed

[2015-09-25 20:24] idgserpro opened #235 "Autor escondido por css no summary_view"
O autor está escondido por css em [folder_summary_view](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/plone/templates/folder_summary_view.pt#L101) e [custom_summary_view](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/content/templates/custom_summary_view.pt#L99). Não seria melhor remover do código?

[2015-09-25 20:34] agnogueira commented on #235
Customizar o código dificilmente é a melhor opção.
Nesse caso me parece que o ideal seria remover com uma regra do Diazo.

[2015-09-28 14:12] idgserpro commented on #235
@agnogueira esses templates já estão customizados no brasil.gov.portal e são bem diferentes dos originais. Por isso a sugestão de remover o autor ao invés de esconder com css.

[2015-09-28 17:39] idgserpro commented on #202
Estou implementando essa issue e me deparei com o problema de que muitos templates listam a data e o autor. Eu teria que customizar esses templates para implementar essa issue. Então estou me perguntando se não seria melhor implementar isso com o diazo no brasil.gov.temas. Regras de diazo são mais frágeis do que fazer nos templates e tem problema de performance. Mas eu não teria que customizar os

[2015-09-28 19:21] idgserpro commented on #202
Fazer no diazo também é conceitualmente errado, uma vez que estaria colocando regra de negócio em um produto de tema.

[2015-09-28 19:31] caduvieira commented on #202
A perda na performance é grande se usado no diazo?

[2015-09-28 19:48] idgserpro commented on #202
@caduvieira como o portal já está utilizando Diazo, creio que não perderá muita performance em relação a hoje. Mas serão mais regras para processar. Mas o que mais acho errado em fazer com diazo, é colocar regras de negócio em um produto de tema.

[2015-09-30 14:16] idgserpro commented on #231
@hvelarde o relato https://github.com/collective/collective.nitf/issues/139 foi fechado. Você pode gerar um novo release e atualizar  https://github.com/plonegovbr/portalpadrao.release para fecharmos esse relato?

[2015-09-30 17:35] hvelarde commented on #231
posso sim, mas a internet está ruim hoje por aqui; vou tentar mais tarde.

[2015-09-30 18:09] hvelarde commented on #231
feito! https://pypi.python.org/pypi/collective.nitf/1.0b6

[2015-09-30 18:49] idgserpro commented on #231
@winstonf88 ainda temos que atualizar a versão 1.0b6 do collective.nitf em https://github.com/plonegovbr/portalpadrao.release

[2015-09-30 18:57] hvelarde commented on #231
feito aqui: https://github.com/plonegovbr/portalpadrao.release/commit/9e443c1c295b8c12adbcadebeb376ea6c2fc2170

[2015-09-30 19:01] #226 closed

[2015-09-30 19:25] idgserpro commented on #231
O upgrade step funcionou. No entanto, após o upgrade o collective.nitf aparece assim em Complementos:

![selecao_022](https://cloud.githubusercontent.com/assets/8203476/10203997/a91daa74-678f-11e5-84de-696d629feed8.png)

@hvelarde @rodfersou isso pode ser um problema?

[2015-09-30 19:27] hvelarde commented on #231
isso foi que esquecimos de alguma coisa; @rodfersou pode olhar?

[2015-09-30 19:35] winstonf88 commented on #231
O que estou achando estranho é a versão estar no nome do complemento, não deveria estar só "collective.nitf" em vez de "collective.nitf:v10008" ?

[2015-09-30 19:39] idgserpro commented on #231
@winstonf88 na verdade aparecem as duas coisas:

![selecao_023](https://cloud.githubusercontent.com/assets/8203476/10204367/b801d040-6791-11e5-8b1a-f013113db27e.png)

[2015-09-30 19:41] idgserpro commented on #231
Eu acho que o padrão do Plone é assim mesmo (mostra o produto e o upgrade step) alguns produtos é que escondem os upgrade step.

[2015-09-30 19:43] hvelarde commented on #231
temos que esconder esse upgrade step, sim; mas acho que podemos deixar pra lá por enquanto para não atrasar mais o release.

@idgserpro abre um issue no collective.nitf; alias, vou gerar já o release 2.0a1 para irmos testando.

[2015-10-01 13:49] idgserpro opened #236 "Upgrade step que instala upgrade step de dependências não instala todos os upgrade step de uma depência"
Ao atualizar o collective.nift de 1.0b3 para 1.0b6, dois upgrade steps precisam ser executados. O [v1007](https://github.com/collective/collective.nitf/tree/1.0b6/src/collective/nitf/upgrades/v1007) e o [v1008](https://github.com/collective/collective.nitf/tree/1.0b6/src/collective/nitf/upgrades/v1007). No entanto, ao executar o upgrade step do brasil.gov.portal que [instala upgrades de dependênci

[2015-10-01 14:19] hvelarde commented on #236
acho que está enganado, @idgserpro; o upgrade step 1007 não se mostra porque está explicitamente oculto no código:

https://github.com/collective/collective.nitf/blob/1.x/src/collective/nitf/setuphandlers.py#L22

na verdade a gente precisa consertar isso ai, porque foi mal feito; pode ver no master como deveria ser:

https://github.com/collective/collective.nitf/blob/master/src/collective/nitf/set

[2015-10-01 14:26] idgserpro commented on #236
@hvelarde na verdade ele não esconde:

![secretaria de comunicacao social](https://cloud.githubusercontent.com/assets/8203476/10223389/215aaf2e-682f-11e5-9a66-5e38b7223ba5.png)

[2015-10-01 17:51] hvelarde commented on #236
pois é, está mal feito como comentei acima; temos que copiar o código do master branch.

[2015-10-01 18:48] winstonf88 commented on #236
Já enviei a correção deste problema aqui [collective.nitf](https://github.com/collective/collective.nitf/pull/144)

[2015-10-01 18:53] idgserpro commented on #236
@hvelarde @winstonf88 independente do upgrade step v1007 ser mostrado ou não, ele não é instalado e deveria ser instalado. Ver na imagem acima que ele aparece em 'Complementos disponíveis'. Ou seja, ele não foi executando quando rodei o upgrade do brasil.gov.portal.

[2015-10-01 18:58] hvelarde commented on #236
@idgserpro um upgrade step nunca é "instalado"; ele simplesmente roda e atualiza a versão do profile. por isso os profiles listados nos upgrade steps sempre devem ser ocultos; não faz o menor sentido eles se mostrarem lá, é uma consequência das duas formas que tem o Plone de instalar add-ons.

[2015-10-01 19:20] idgserpro commented on #236
@hvelarde você tem razão. Apesar dele aparecer como 'não instalado', ele é executado. De qualquer forma, é estranho o v1007 aparecer em 'Complementos disponíveis'.  O v1008 por exemplo, aparece em 'Complementos ativados'. Ou seja, não seguiu um padrão.

[2015-10-05 14:02] winstonf88 commented on #236
Podemos

[2015-10-05 14:03] winstonf88 commented on #231
Podemos fechar?

[2015-10-05 19:19] #236 closed

[2015-10-05 19:19] #231 closed

[2015-10-06 14:29] idgserpro opened #237 "BuscaAtiva (livesearch) não funciona"
Com a [customização da tela de busca](https://github.com/plonegovbr/brasil.gov.portal/blob/ad5e3a732efe4e5960ca6e7f8f91c6934adb9185/src/brasil/gov/portal/browser/busca/busca.py), o recurso de BuscaAtiva, presente em "Buscar" no painel de controle, simplesmente não funciona ao ser ativado.

Isso ocorre porque o arquivo [livesearch.js](https://github.com/plone/Products.CMFPlone/blob/55c5d6730fd91925

[2015-10-06 16:46] idgserpro commented on #214
Pode ser fechado?

[2015-10-06 20:01] hvelarde commented on #237
não conheço os detalhes mas pode ter sido simplesmente mudar o nome da view.

[2015-10-06 20:04] idgserpro opened #239 "Após atualização para Plone > 4.3.3 (como 4.3.7), ver a viabilidade do uso do upgradeProfile em GenericSetup"
Ver a possibilidade de, no próximo release, estudar o uso do novo método do [GenericSetup 1.7.7](https://pypi.python.org/pypi/Products.GenericSetup#id2), chamado de [```upgradeProfile```](https://github.com/zopefoundation/Products.GenericSetup/blob/a8ec44fea23d3222445e49c27b451ce9b180d36f/Products/GenericSetup/tool.py#L936):

Dessa forma, poderemos remover o nosso [upgrade_profile](https://github.

[2015-10-06 20:07] idgserpro commented on #237
@ericof @rodfersou Saberiam dizer a motivação para que o "BuscaAtiva" viesse desativado por padrão?

@hvelarde Fizemos a pergunta pois, após a correção do bug, achamos interessante seguir o padrão atual do Plone a menos que haja alguma ressalva.

[2015-10-06 21:09] #214 closed

[2015-10-06 21:10] hvelarde commented on #239
+1

[2015-10-06 21:16] davilima6 commented on #237
Acredito que seja puramente por motivos performance e economicidade dos recursos públicos. A partir da 3a, se não me engano, cada letra digitada faz um ajax request no servidor, aumentando absurdamente a taxa de MISS de um Varnish ou similar.

[2015-10-07 20:39] #208 closed

[2015-10-14 13:27] hvelarde opened #240 "Atualizar plone.app.contenttypes para 1.1.1"
IDGB usa a versão 1.0 e a mais recente para o Plone 4.3 é a [1.1.1](https://pypi.python.org/pypi/plone.app.contenttypes/1.1.1).

[2015-10-14 13:50] winstonf88 commented on #191
Podemos fechar?

[2015-10-14 14:27] idgserpro commented on #191
@winstonf88 ainda temos que testar a [versão 1.2.8 do plone.app.querystring](https://pypi.python.org/pypi/plone.app.querystring/1.2.8) com o IDG e atualizar o https://github.com/plonegovbr/portal.buildout/blob/master/buildout.d/versions.cfg

[2015-10-15 20:26] idgserpro commented on #240
O brasil.gov.agenda teria que ser alterado:

https://github.com/plonegovbr/brasil.gov.agenda/blob/master/setup.py#L46

[2015-10-16 16:11] idgserpro opened #241 "Testes falhando após pinagens necessárias para o plone4.csrffixes"
Após as [pinagens](https://github.com/plonegovbr/portal.buildout/commit/f7af5a270c897e9ff66ff9c66e31e8b9e78a9faa) necessárias para o plone4.csrffixes, os teste estão falhando:

https://travis-ci.org/plonegovbr/brasil.gov.portal/builds/85750471

[2015-10-16 19:06] hvelarde commented on #241
atualizei novamente as versões do patch: https://github.com/plonegovbr/portal.buildout/commit/337ae32cad4324ea9a0805abc04ae7e60f453319

[2015-10-16 19:23] hvelarde commented on #241
acho que vamos precisar dar uma olhada nisso ai: http://devblog.4teamwork.ch/blog/2015/10/12/debugging-csrf-protection-false-positives-in-plone/

[2015-10-21 11:31] idgserpro commented on #241
Relacionado com https://github.com/plone/Products.CMFPlone/issues/1203

[2015-10-23 13:07] idgserpro opened #242 "Erro ao criar Capa"
Quando tento adicionar uma Capa ocorre o erro:

    Traceback (innermost last):
      Module ZPublisher.Publish, line 138, in publish
      Module ZPublisher.mapply, line 77, in mapply
      Module ZPublisher.Publish, line 48, in call_object
      Module plone.z3cform.layout, line 66, in __call__
      Module plone.z3cform.layout, line 60, in update
      Module z3c.form.form, line 263, in render

[2015-10-27 12:31] idgserpro opened #243 "Deixar de esconder o profile do collective.oembed"
Uma vez que o collective.oembed [não é mais dependência do sc.embedder](https://github.com/simplesconsultoria/sc.embedder/commit/cdb900c731df61d8103225151c6a8d516ad6650f), não é mais necessário esconder o profile do collective.oembed.

[2015-10-27 13:29] hvelarde commented on #243
+1

[2015-10-28 13:24] winstonf88 opened #244 "Remover issues antigas"
Temos algumas issues de 2014 e até 2013 ainda abertas, podemos fechar?

[2015-10-28 14:07] idgserpro commented on #244
Acho que essas issues ainda são válidas e precisam ser corrigidas.

[2015-10-28 22:22] hvelarde commented on #244
+1

[2015-11-03 19:30] idgserpro commented on #244
@winstonf88 podemos fechar esse relato?

[2015-11-03 20:09] winstonf88 commented on #244
@idgserpro Sim

[2015-11-03 20:23] #244 closed

[2015-11-05 14:38] winstonf88 commented on #242
@hvelarde isso é um erro do cover, já foi resolvido?

[2015-11-05 16:01] idgserpro commented on #242
@winstonf88 quando tenho somente o cover instalado em um portal esse errro não ocorre. Então não é um problema do cover e sim do IDG.

[2015-11-05 18:32] hvelarde opened #245 "Criar ambiente Vagrant para avaliação do IDGB"
Precismos criar um ambiente [Vagrant](https://www.vagrantup.com/) que permita a avaliação simples do IDGB sem ter maiores conhecimentos de Linux, Buildout e as outras tecnologias envolvidas numa instalação de produção.

Precisamos que fique documentado como criar esse ambiente para poder atualizar ele cada vez que um novo release for gerado.

[2015-11-05 18:32] hvelarde opened #246 "Criar container Docker para avaliação do IDGB"
Precismos criar um container [Docker](https://www.docker.com/) que permita a avaliação simples do IDGB sem ter maiores conhecimentos de Linux, Buildout e as outras tecnologias envolvidas numa instalação de produção.

Precisamos que fique documentado como criar esse container para poder atualizar ele cada vez que um novo release for gerado.

[2015-11-05 19:46] idgserpro commented on #245
Se a motivação é a avaliação "simples" do IDGB, concordo mais com o download de uma VM como está presente em https://identidade-digital-de-governo-plone.readthedocs.org/en/latest/vm/, e para cada novo release, se exporta essa máquina virtual do release.

Na documentação acima, se instala um Virtualbox (disponível facilmente em Windows e Linux) e segue-se um roteiro simples para avaliação.

[2015-11-05 19:46] idgserpro commented on #246
Ver https://github.com/plonegovbr/brasil.gov.portal/issues/245#issuecomment-154170001

[2015-11-06 10:45] caduvieira commented on #246
Um exemplo de Dockerfile que comecei a criar:

    FROM library/ubuntu
    RUN apt-get -y update && apt-get install -y git=1:1.9.1-1ubuntu0.1 python2.7=2.7.6-8ubuntu0.2 python-virtualenv=1.11.4-1 \
        ca-certificates=20141019ubuntu0.14.04.1
    RUN adduser --system --shell /bin/bash plone && addgroup plone && adduser plone plone
    WORKDIR "/opt"
    RUN git clone --single-branch https://git

[2015-11-06 10:47] caduvieira commented on #246
Não sei também se não devemos dar um fork do https://github.com/plone/plone.docker e partir daí

[2015-11-06 10:52] caduvieira commented on #246
@idgserpro pode ser criado um container e subir como um container oficial da IDG https://hub.docker.com/explore/

Ou ainda partir de um container do plone e adicionar nossos pacotes necessários.
https://hub.docker.com/search/?q=plone&page=1&isAutomated=0&isOfficial=0&starCount=0&pullCount=0

[2015-11-06 11:15] hvelarde commented on #246
@caduvieira eu acho que o container não deve rodar o bulldout; ele deve ter o portal já instalado e funcionando com todo descarregado e instalado.

[2015-11-17 16:58] domarques commented on #245
Caros: Já atualizei em meu ambiente de testes o https://github.com/plonegovbr/portal.vagrant e ainda esta semana faço os pull requests no **portal.buildout** e **portal.vagrant** já com os releases. Estou apenas finalizando os testes.

[2015-11-26 11:54] idgserpro opened #247 "Evitar troca do tema e perda de configurações quando o produto é reinstalado"
Quando reinstalamos o brasil.gov.portal no portal_quickinstaller, o tema é alterado para o tema padrão verde (independente dele estar com um tema de outra cor) e configurações do controlpanel são perdidas. Sei que o produto não deve ser reinstado, mas alguém desavisado pode reinstalar o produto e causar problemas e perda de configurações.

[2015-11-26 12:00] hvelarde commented on #247
consegue listar os problemas? acho que vamos ter que ver isso nas dependências.

[2015-11-26 13:20] idgserpro commented on #247
As coisas mais gritantes são a troca do tema e a troca do [título do site](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/profiles/default/properties.xml#L4-L5). Vamos ter que revisar todos os xml e colocar purge false onde for possível.

E sim. Vamos ter que ver isso nas dependências também.

[2015-11-26 14:27] jeferson-github opened #248 "Erro 'TransformError' ao fazer Import, Rename, Copy/Paste de site"
Olá pessoal.
Na Interface de Administração do Zope ao tentar fazer um Import ou Rename ou Copy/Paste de um site está dando o erro abaixo:

Site Error

An error was encountered while publishing this resource.

Error Type: TransformError
Error Value: Cannot find portal_transforms tool

________________________________

Troubleshooting Suggestions

* The URL may be incorrect.
* The parameters passed

[2015-11-26 14:43] hvelarde commented on #248
@davilima6 lembra de onde vem esse erro?

[2015-11-26 15:32] davilima6 commented on #248
@hvelarde, acho q vc se refere a plone/Products.CMFPlone#839, mas não acredito que seja o caso.

Aparentemente apagaram o objeto portal_transforms do site. Vejam:
https://github.com/plone/plone.app.textfield/blob/master/plone/app/textfield/transform.py#L33-L35

[2015-11-30 10:46] jeferson-github commented on #248
Realmente o primeiro erro que ocorre é referente a plone/Products.CMFPlone#839:

('Could not adapt', <Image at /jatai2/assuntos/editoria-a/ultimas-noticias-da-editoria-a/copy_of_titulo-da-noticia-entre-35-e-90-caracteres-com-espaco/imagem-noticia_664.jpg>, <InterfaceClass plone.rfc822.interfaces.IPrimaryFieldInfo>)

Ao deletar a imagem "imagem-noticia_664.jpg", dá erro novamente para outra imagem:

[2015-11-30 10:48] davilima6 commented on #248
@jeferson-github, Olá. Você poderia verificar se possui na ZMI o objeto portal_transforms? Caso negativo, busque copiá-lo de outro portal com as mesmas configurações. Aparentemente foi apagado.

[2015-11-30 11:01] jeferson-github commented on #248
Não tem esse objeto em http://10.254.2.26:8081/manage_main, aba Contents. De onde copio e onde colo?
Estou usando a instalção padrão, será que apagaram de lá?

[2015-11-30 13:50] hvelarde commented on #248
parece que sim; tente novamente num site novo, por favor.

[2015-11-30 14:52] jeferson-github commented on #248
Entrando no manage_main de qualquer site (http://10.254.2.26:8081/Plone/manage_main) consta o objeto portal_transforms (Handles data conversion between MIME types)

[2015-11-30 17:00] hvelarde commented on #248
o problema não tem a ver com o IDGB então.

[2015-11-30 17:00] #248 closed

[2015-11-30 19:11] idgserpro opened #249 "Sobrescrever tradução do Plone não funciona"
Quando um produto tenta sobrescrever uma tradução do Plone, como esta descrito [aqui](http://docs.plone.org/develop/plone/i18n/internationalisation.html#overriding-translations) e o brasil.gov.portal está instalado, a sobrescrita não funciona. Sem o brasil.gov.portal a sobrescrita funciona.

[2015-12-01 10:06] jeferson-github commented on #248
Vocês conseguem realizar estas operações (Import, Rename, Copy/Paste) normalmente? Qual a versão que estão usando (Plone, Zope, Portal Padrão, etc.)?

[2015-12-01 14:35] idgserpro opened #250 "Erro ao copiar um Plone site"
Quando tento copiar/colar um Plone site que tem o brasil.gov.portal instalado, ocorre o erro:

[code]

CC @jeferson-github

[2015-12-01 17:57] hvelarde commented on #248
@jeferson-github eu pessoalmente não uso o IDGB mas esse problema que você reporta é provocado por terem apagado um componente do portal; então pouco podemos fazer aqui.

[2015-12-02 10:13] jeferson-github commented on #250
Mesmo erro.
https://github.com/plonegovbr/brasil.gov.portal/issues/248

[2015-12-02 10:25] hvelarde commented on #250
ver por favor isso ai: https://github.com/plone/Products.CMFPlone/issues/839#issuecomment-141682738

[2015-12-02 11:26] idgserpro commented on #250
@hvelarde não seria o caso de adicionar o commit https://github.com/plone/plone.app.contenttypes/commit/051caa65e7f51c7ef2118029bacf6f4cf506664e, que corrige esse erro, na branch 1.x do plone/plone.app.contenttypes e atualizarmos o plone.app.contenttypes no IDG?

[2015-12-02 11:31] idgserpro commented on #250
@hvelarde na verdade esse correção já está na versão [1.1b6](https://github.com/plone/plone.app.contenttypes/blob/1.1.x/docs/CHANGES.rst#11b6-2015-10-17) do plone.app.contenttypes. Teriamos apenas que atualizar a versão.

[2015-12-02 11:53] hvelarde commented on #250
atualizar plone.app.contenttypes é uma outra issue; insisto: o problema relatado aqui não é um problema do IDGB e não vejo razão para reabrir a issue.

[2015-12-02 12:17] idgserpro commented on #250
Ok. Vou criar outra issue.

[2015-12-02 12:17] #250 closed

[2015-12-02 12:19] idgserpro opened #251 "Atualizar plone.app.contenttypes"
Atualizar o plone.app.contenttypes para versão 1.1.x. Ver https://github.com/plonegovbr/brasil.gov.portal/issues/250

[2015-12-02 12:20] idgserpro commented on #249
@hvelarde tem ideia do que pode estar causando isso?

[2015-12-02 15:36] hvelarde commented on #251
+1

[2015-12-02 17:30] hvelarde commented on #249
@idgserpro infelizmente não; acho que eu tive esse problema em algum projeto mas não lembro como consertamos.

@rodfersou lembra disso no Portal Brasil 2016?

[2015-12-04 13:22] winstonf88 commented on #240
Qual o impedimento do agenda em usar a versão nova do contenttypes?

[2015-12-04 13:28] idgserpro commented on #251
Duplicado https://github.com/plonegovbr/brasil.gov.portal/issues/240

[2015-12-04 13:28] #251 closed

[2015-12-04 13:34] idgserpro commented on #240
@winstonf88 ver https://github.com/plonegovbr/brasil.gov.agenda/commit/ec6e87fef0f3fd933bc2707ed45ee6cde531f0ee

@ericof porque isso?

[2015-12-04 17:47] winstonf88 commented on #242
As configurações de layout da capa no [registry.xml#L18-L19](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/profiles/default/registry.xml#L18-L19) estão erradas.
Acredito que seja preciso fazer um upgrade step para atualizar essas informações em portais já criados.

[2015-12-04 19:19] hvelarde commented on #240
tem que atualizar tanto o plone.app.contenttypes quanto o plone.app.event

[2015-12-04 19:52] idgserpro commented on #241
@hvelarde quando utilizamos o plone.protect 3.0.16 e não utilizamos o plone4.csrffixes, ocorre um [erro na criação de um Plone Site](https://github.com/plone/plone.protect/issues/35). Não devemos então adicionar o plone4.csrffixes como dependência do brasil.gov.portal, uma vez que utilizamos o [plone.protect 3.0.16](https://github.com/plonegovbr/portalpadrao.release/blob/master/1.1.3.1/versions.cf

[2015-12-04 23:52] hvelarde commented on #241
@idgserpro ele está adicionado no buildout

[2015-12-07 12:08] idgserpro commented on #241
@hvelarde está no buildout do portal.buildout mas não está no [buildout do brasil.gov.portal](https://github.com/plonegovbr/brasil.gov.portal/blob/master/buildout.cfg). Assim ele não é adicionado nos testes. Assim, temos que adicioná-lo ao buildout do brasil.gov.portal ou temos que adicioná-lo como dependência no setup.py. Eu voto por adicioná-lo ao setup.py.

Ver também: https://github.com/plone/

[2015-12-07 12:24] winstonf88 commented on #237
Ao invés de criar uma view nova "@@busca" pq não simplesmente sobrescrever a view "@@search"?

[2015-12-07 12:29] ericof commented on #237
Recomendação do Min. planejamento
On Dec 7, 2015 13:25, "Winston Ferreira" <notifications@github.com> wrote:

[2015-12-07 12:41] agnogueira commented on #237
Como disse o Erico, foi por questao de acessibilidade, para deixar o
endereço em portugues e legivel, já que esse endereço não é traduzível.

[]s

Em 7 de dezembro de 2015 10:29, Érico Andrei <notifications@github.com>
escreveu:

[2015-12-07 13:02] winstonf88 commented on #237
entendido.

[2015-12-07 13:06] idgserpro commented on #237
Acho de deveria ter um comentário no código sobre isso.

[2015-12-07 13:13] idgserpro commented on #242
Ainda falta o upgrade step

[2015-12-07 13:30] hvelarde commented on #241
concordo, fique a vontade...

[2015-12-07 13:33] winstonf88 commented on #155
O "problema" ainda persiste.
A questão aqui é que para realizar uma busca por tags é preciso usar o índice "Subject (KeywordIndex), a busca pesquisa pelo índice "SearchableText (ZCTextIndex)".
Como no catalog não é possível fazer buscas usando operador "or", isto não é possível sem instalação do [Products.AdvancedQuery](http://docs.plone.org/develop/plone/searching_and_indexing/query.html#boolean-

[2015-12-07 13:34] hvelarde commented on #242
desculpem, a pressa por fechar.

[2015-12-07 13:36] hvelarde commented on #155
então, acho que isso não é um problema do IDGB e podemos fechar esta issue; se quiserem colocar uma nota na documentação, fiquem a vontade.

[2015-12-07 13:49] idgserpro commented on #155
A busca por tag funciona em um Plone sem o IDG. Talvez isso seja um efeito colateral do brasil.gov.vcge. Temos que verificar.

[2015-12-07 13:57] winstonf88 commented on #155
Realmente no Plone sem IDG funciona e os índices são os mesmos.
@hvelarde alguma ideia do pq? eu não sei nem onde procurar agora.

[2015-12-07 18:57] hvelarde commented on #155
podem me contar como estão fazendo uma busca com várias tags? a busca padrão do Plone não suporta isso.

[2015-12-07 19:06] winstonf88 commented on #155
eu simplesmente entrei na aba de categorização e adicionei uma tag qualquer, depois pesquisei por esse nome na busca do site

[2015-12-07 20:41] winstonf88 commented on #155
Sim. Porém, no Plone (sem IDG) uma busca usando o índice SearchableText retorna termos das tags. Já no IDG, a mesma busca não encontra tags.

[2015-12-08 13:29] hvelarde commented on #155
cria um teste que demostre isso, por favor.

[2015-12-09 14:13] idgserpro commented on #249
@hvelarde o problema era que o meu pacote tinha o brasil.gov.portal como dependência no setup.py e utilizava o ```<includeDependencies package="." />``` antes do ```<i18n:registerTranslations directory="locales" />```. Assim o ```<includeDependencies package="." />``` incluía o brasil.gov.portal, que incluía do [Products.CMFPlone](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/bra

[2015-12-09 14:44] hvelarde commented on #249
@idgserpro você acabou de descobrir algo muito interessante, boa!

quer ganhar uns pontinhos no Stack Overflow? https://stackoverflow.com/questions/31248747/how-to-debug-zopes-translation-machinery-in-plone

[2015-12-09 15:31] idgserpro commented on #249
@hvelarde não tenho Stack Overflow, pode responder lá. Se você puder corrigir no bobtemplates.plone também seria uma boa. Não tenho Contributor Agreement.

[2015-12-09 18:43] hvelarde commented on #249
feito! obrigado

[2015-12-11 14:04] winstonf88 commented on #155
@hvelarde teste criado no PR #254

[2015-12-11 16:43] winstonf88 commented on #203
Este problema não persiste mais.

[2015-12-11 16:51] winstonf88 commented on #167
Fiz o teste na home do portal e barra de destaques está sendo exibida mesmo na visão padrão. Podemos fechar?

[2015-12-11 16:56] winstonf88 commented on #156
Fiz os testes e este problema não persiste. Podemos fechar?

[2015-12-11 17:41] winstonf88 commented on #160
Fiz os testes e este problema não persiste. Podemos fechar?

[2015-12-11 17:45] winstonf88 opened #256 "Texto sobrescrito na exibição "Visão Sumária""
Ao selecionar a "Visão Sumária" na home do portal o texto fica sobrescrito.

![image](https://cloud.githubusercontent.com/assets/1376143/11751027/03eb3888-a01e-11e5-84eb-f339353bba0d.png)

[2015-12-11 17:48] winstonf88 commented on #256
Alguém pode me dizer a exibição abaixo está correta?

![image](https://cloud.githubusercontent.com/assets/1376143/11751126/ab64ae78-a01e-11e5-948f-f2254262faf4.png)

[2015-12-11 18:00] winstonf88 commented on #204
Quais são as orientações para resolver este problema?

[2015-12-11 18:03] winstonf88 commented on #202
isto pode ser fechado?

[2015-12-11 20:39] idgserpro commented on #256
@winstonf88 essa não é a visão sumária. A visão sumária é essa:

![selecao_025](https://cloud.githubusercontent.com/assets/8203476/11755005/836d489a-a036-11e5-9a05-0f72bc568d76.png)

[2015-12-14 10:55] idgserpro commented on #203
Ainda não podemos fechar. O problema ainda ocorre.

![selecao_027](https://cloud.githubusercontent.com/assets/8203476/11779144/6cc38eb8-a240-11e5-938d-f17df22d0914.png)

[2015-12-14 10:59] idgserpro commented on #167
O problema ainda ocorre. Tem que mudar a visão da pasta 'Destaques do portal'.

[2015-12-14 11:02] idgserpro commented on #156
Isso ainda ocorre para conteúdos diferentes de notícias.

[2015-12-14 11:03] idgserpro commented on #160
O problema ainda ocorre.

[2015-12-14 11:06] idgserpro commented on #204
@winstonf88 minha sugestão é adicionar o collective.folderorder como dependência do IDG. Mas antes ainda é necessário corrigir esse relato:

https://github.com/collective/collective.folderorder/issues/3

[2015-12-14 11:08] idgserpro commented on #202
@winstonf88 eu já corrigir isso no commit https://github.com/plonegovbr/brasil.gov.portal/commit/cfd6c7847021686b2ba07b3742c6a2f01f15a3e5. No entanto, ainda na abri um PR porque os testes estão falhando ver: https://github.com/plonegovbr/brasil.gov.portal/issues/241

[2015-12-14 11:45] idgserpro commented on #256
@winstonf88 desculpe. A visão sumária que eu mostrei no comentário anterior é para pasta e não para o Plone Site. Só não sei se a visão que você mostrou está com a formatação correta.

@rodfersou pode ajudar aqui?

[2015-12-14 13:21] winstonf88 commented on #203
Aqui está sendo exibido normal. ( conteúdo é uma página )

![image](https://cloud.githubusercontent.com/assets/1376143/11781939/b5c31502-a254-11e5-9605-c7e0e25f9eb8.png)

[2015-12-14 13:48] idgserpro commented on #203
@winstonf88 veja que no meu caso está sendo mostrado a data da publicação e a data de modificação. No seu caso só está sendo mostrado a data de modificação. Você está com alguma configuração diferente.

[2015-12-14 14:02] winstonf88 commented on #167
criei um PR pra correção do problema.

[2015-12-14 17:58] hvelarde commented on #155
te deixei um comentário lá.

[2015-12-14 18:01] hvelarde commented on #202
eu ainda acho importante criar um PR no Plone 5 para isso.

[2015-12-14 18:44] winstonf88 commented on #160
Onde fica essas configurações, qual produto/xml?

[2015-12-14 19:21] idgserpro commented on #160
A configuração é "Configuração do Site -> Busca -> Define os tipos a serem exibidos no site e buscados". Não sei de cabeça qual é o xml.

[2015-12-14 19:30] winstonf88 commented on #203
Corrigido!
![image](https://cloud.githubusercontent.com/assets/1376143/11791477/6617f430-a288-11e5-96e3-c634349c8452.png)

[2015-12-14 20:04] winstonf88 commented on #160
O local das configurações no Plone eu sei onde fica. Não estou conseguindo
achar o produto/código.

Em seg, 14 de dez de 2015 às 17:21, idgserpro <notifications@github.com>
escreveu:

[2015-12-14 20:04] winstonf88 commented on #160
O local das configurações no Plone eu sei onde fica. Não estou conseguindo achar o produto/código.

[2015-12-14 20:19] winstonf88 commented on #156
verdade, tinha testado com uma notícia.

[2015-12-15 11:57] rodfersou commented on #256
@idgserpro se me lembro bem, temos definido a visão sumária de pastas e coleções (e o resultado da busca também é bem parecido)

@winstonf88 acredito que podemos seguir os mesmos estilos dessas visões

[2015-12-18 12:39] winstonf88 commented on #157
@GiuseppeRomagnoli poderia explicar melhorar como reproduzir este problema? não entendi muito bem.

[2015-12-18 12:40] winstonf88 commented on #160
Alguém poderia me dizer em qual produto ficam essas configurações?

[2015-12-18 12:41] winstonf88 commented on #189
Testei algumas outras tile e me parecem OK

[2015-12-18 13:34] GiuseppeRomagnoli commented on #157
Oi @winstonf88, quando criava um documento (página por exemplo) e consultava o conteúdo na visão summary, aparecia a data de criação 31/12/1969 e hora: 00:00. Mas não sei se na nova versão já foi corrigido.

[2015-12-18 13:48] idgserpro commented on #160
@winstonf88 eu acho que é aqui:
https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/profiles/default/registry.xml#L46

[2015-12-18 13:54] idgserpro commented on #160
@winstonf88 opa acho que ali é só do Cover. Tem que ver onde é o do portal.

[2015-12-18 14:01] idgserpro commented on #160
@winstonf88 achei:
https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/profiles/default/propertiestool.xml#L21

[2015-12-18 14:03] idgserpro commented on #160
@winstonf88 tem que ver o porquer desse commit https://github.com/plonegovbr/brasil.gov.portal/commit/5c98d61da3bb6bc4b14279ba0a1b565eed3f5076

@ericof ?

[2015-12-18 14:05] ericof commented on #160
Pedido da Secom para não listar as pastas em resultados de busca (puxando pela memória)

[2015-12-22 11:31] idgserpro commented on #160
@winstonf88 então temos que arrumar um jeito de listar as pastas nas visões sem alterar a propriedade ```types_not_searched```. Ou seja, temos que desvincular esses dois comportamentos.

[2015-12-29 19:35] idgserpro commented on #157
@winstonf88 na pasta notícias, adicione uma nova notícia, sem adicionar Data nem publicá-la.

Depois, na pasta, selecione como visão "Summary view". Você verá o comportamento descrito pelo @GiuseppeRomagnoli.

Vejo dois problemas aí: aparecer "Summary View" ao invés de "Visão Sumária" traduzido, e essa data 1969.

O 1969 é padrão Plone (na verdade vem de https://github.com/zopefoundation/Products.

[2016-01-04 11:28] rodfersou commented on #157
Acredito que foi algum requisito solicitado para usar a data de publicação globalmente. Poderiamos seguir a regra de mostrar o effective date caso existir, e o modified caso não existir effective date.

[2016-01-04 11:29] rodfersou commented on #157
@hvelarde não lembro o funcionamento do modified.. não tenho certeza agora qual seria o melhor caminho

[2016-01-04 12:11] #256 closed

[2016-01-04 12:24] winstonf88 commented on #237
Eu criei uma view "@@buscalivesearch_reply" pra corrigir o problema sem alterar nomes, porém, o css da caixa de resultados fica MUITO zuado e não estou conseguindo corrigir. Alguém pode me ajudar com o css?

[2016-01-04 12:56] idgserpro commented on #237
Não sei se o ideal é a criação de mais uma view. Você testou a versão 4.3.7 pra ver se a tentativa de desvincular o nome da view funciona? Aí seria o caso de resolvermos o relato em https://github.com/plonegovbr/brasil.gov.agenda/issues/32 pra fecharmos esse aqui.

[2016-01-04 13:47] winstonf88 commented on #189
Podemos fechar?

[2016-01-04 13:49] winstonf88 commented on #191
@idgserpro o plone.app.querystring já está na versão 1.3.12, podemos usar esta versão?

[2016-01-04 14:09] winstonf88 commented on #237
@idgserpro poderia me informar o que foi modificado com relação a busca na versão 4.3.7?

[2016-01-04 14:10] winstonf88 commented on #237
@idgserpro fiz alguns testes na versão 4.3.7 realmente removeu o problema do vínculo com o nome porém o erro de css ainda persiste.

[2016-01-04 14:49] hvelarde commented on #191
@winstonf88 não pode, não; esse branch é para Plone 5.

[2016-01-04 16:04] winstonf88 commented on #237
@idgserpro @hvelarde criei a branch [issue_237](https://github.com/plonegovbr/brasil.gov.portal/tree/issue_237) para solução desse problema de acordo com as modificações feitas no Plone 4.3.7.
Porém, preciso de ajuda para resolver o problema de CSS nos resultados da busca, se puderem ajudar ou indicar alguém.

[2016-01-04 16:12] winstonf88 commented on #239
fiz alguns testes de navegação e na busca e não encontrei problemas com o Plone 4.3.7.

[2016-01-04 16:18] winstonf88 commented on #191
@idgserpro @hvelarde fiz testes com o plone.app.querystring 1.2.9 e está OK.
Posso atualizar o https://github.com/plonegovbr/portal.buildout/blob/master/buildout.d/versions.cfg?

[2016-01-04 17:24] winstonf88 commented on #241
@idgserpro adicionar os produtos no setup.py não resolveu problema, sugestões?

Veja: #262

[2016-01-05 14:05] hvelarde commented on #237
@winstonf88 desculpa, mas não consigo te ajudar com isso.

[2016-01-05 14:10] hvelarde commented on #239
tem problemas com a agenda: https://github.com/plonegovbr/brasil.gov.agenda/issues/32

[2016-01-05 14:10] hvelarde commented on #191
pode sim

[2016-01-08 12:58] davilima6 commented on #237
Olá, Winston.

Pode detalhar seu problema com CSS ou, melhor ainda, disponibilizar acesso
ao site para que possamos observar e tentar ajudar?

Abs,
Davi

2016-01-04 14:04 GMT-02:00 Winston Ferreira <notifications@github.com>:

[2016-01-11 14:56] hvelarde opened #265 "Atualizar collective.cover para 1.0a12"
a versão 1.0a12 do collective.cover foi liberada faz um par de messes já e inclui algumas melhorias e correções interessantes:

https://pypi.python.org/pypi/collective.cover/1.0a12#a12-2015-11-16

sugiro atualizar o IDGB para utilizar esta nova versão.

os riscos são mínimos e um upgrade step está disponibilizado no pacote.

[2016-01-11 15:01] hvelarde opened #266 "Atualizar collective.nitf para 2.0b4"
a versão 2.0b4 do collective.nitf foi liberada e inclui algumas melhorias interessantes:

https://pypi.python.org/pypi/collective.nitf/2.0b4#b4-2016-11-03

sugiro atualizar o IDGB para utilizar esta nova versão.

tem alguns riscos envolvidos pois nunca testamos aqui atualização desde 1.0; adicionalmente pode ter templates que foram customizados e que vão precisar algum retrabalho.

[2016-01-11 15:03] hvelarde opened #267 "Atualizar collective.polls para 1.9b1"
a versão 1.9b1 do collective.polls foi liberada e inclui algumas melhorias interessantes:

https://pypi.python.org/pypi/collective.polls/1.9b1#b1-2016-09-29

sugiro atualizar o IDGB para utilizar esta nova versão.

tem alguns riscos envolvidos pois esta versão inclui já o tile de enquete e seria necessário criar um upgrade step para atualizar e remover esse tile do IDGB.

[2016-01-11 15:07] hvelarde opened #268 "Atualizar sc.social.like para 2.4.1"
a versão 2.4.1 do sc.social.like foi liberada no mês passado e inclui um par de correções:

https://pypi.python.org/pypi/sc.social.like#id1

sugiro atualizar o IDGB para utilizar esta nova versão.

os riscos são mínimos.

[2016-01-11 15:09] hvelarde opened #269 "Atualizar sc.embedder para 1.0b5"
a versão 1.0b5 do sc.embedder foi liberada faz um par de messes já e inclui algumas melhorias e correções interessantes:

https://pypi.python.org/pypi/sc.embedder#b5-2015-11-18

sugiro atualizar o IDGB para utilizar esta nova versão.

os riscos são mínimos.

[2016-01-11 16:46] winstonf88 commented on #237
@davilima6 Estou implementando no meu ambiente local. Pra replicar o erro é só fazer o checkout do branch [issue_237](https://github.com/plonegovbr/brasil.gov.portal/tree/issue_237), habilitar o recurso de busca ativa nas configurações do site e depois fazer uma busca qualquer usando o campo no header do portal.

[2016-01-11 16:48] winstonf88 commented on #267
pq esse tile não pode ser usado no IDG?

[2016-01-11 17:20] idgserpro commented on #267
Poder ele pode, mas antes precisamos remover a [implementação do tile atual de enquete em brasil.gov.tiles](https://github.com/plonegovbr/brasil.gov.tiles/blob/5430d930a3e6ed8fb739eb9562c488d50ea452ca/src/brasil/gov/tiles/tiles/configure.zcml#L21) mas com os devidos upgradeSteps para que não dê erro nos portais que já estão no ar.

[2016-01-11 17:25] hvelarde commented on #267
isso!

[2016-01-11 18:09] davilima6 commented on #237
Oi, @winstonf88. Não trabalho diretamente com Portal Padrão e infelizmente não tenho como testar o branch no momento. Se puder disponibilizar um acesso público, posso tentar ajudar com o CSS. Pelo screenshot não parece ser difícil.

[2016-01-11 18:12] winstonf88 commented on #237
Vou tentar criar um ambiente pra vc acessar.

Em seg, 11 de jan de 2016 às 16:09, Davi Lima <notifications@github.com>
escreveu:

[2016-01-11 19:37] idgserpro commented on #242
@winstonf88 favor não esquecer dos upgradeSteps e dos testes dos mesmos, simulando um portal já instanciado onde esse erro ocorreria. Precisamos disso antes da geração de um novo release uma vez que todos os portais atuais hoje do IDG terão problemas.

[2016-01-11 19:55] winstonf88 commented on #242
@idgserpro a correção e os testes estão no PR [253](https://github.com/plonegovbr/brasil.gov.portal/pull/253)

[2016-01-12 15:59] idgserpro commented on #237
Acho que você consegue usar o https://c9.io/, além da IDE, ele fornece uma interface de linha de comando e uma url pública que ele poderia acessar com o ambiente já montado e o serviço na porta 8080.

[2016-01-15 12:56] caduvieira commented on #246
A comunidade está criando para a versão 5
https://github.com/plone/plone.docker/tree/master/5.0

[2016-01-15 12:59] hvelarde commented on #246
mas isso não vai nos servir :-)

[2016-01-19 12:52] jeferson-github commented on #242
Estou tendo este erro também ao criar uma capa para uma Página de Destaque.
Adicionar item... / Capa

Desculpe, mas parece haver um erro...

Aqui está a mensagem de erro completa:

Visualizar traceback como texto

Traceback (innermost last):
  Module ZPublisher.Publish, line 138, in publish
  Module ZPublisher.mapply, line 77, in mapply
  Module ZPublisher.Publish, line 48, in call_object
  Module

[2016-01-25 18:29] idgserpro commented on #241
O commit https://github.com/plonegovbr/brasil.gov.portal/commit/9f2b2b679fc0f6f92da0616f12970efcbd91efeb somente desabilita o plone4.csrffixes. Os teste deveriam funcionar com ele habilitado.

[2016-01-25 21:00] hvelarde commented on #241
-1

[2016-01-26 17:50] #202 closed

[2016-01-27 13:24] #249 closed

[2016-01-27 14:17] #191 closed

[2016-02-01 12:25] #196 closed

[2016-02-02 21:38] idgserpro commented on #265
Precisamos resolver esse relato em tiles https://github.com/plonegovbr/brasil.gov.tiles/issues/132 pois é esse erro que justificou a pinagem do collective.cover do tiles para 1.0a9.

[2016-02-04 17:34] idgserpro opened #272 "test_esconde_autor_data.test_busca falhando"
[test_esconde_autor_data.test_busca](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/tests/test_esconde_autor_data.py#L145) está falhando.

Ver: https://travis-ci.org/plonegovbr/brasil.gov.portal/builds/106198744

Esse teste estava passando. Então, mesmo que no futuro esse teste passe, é preciso verificar.

[2016-02-04 20:12] #203 closed

[2016-02-15 18:29] #156 closed

[2016-02-17 12:39] idgserpro commented on #168
@hvelarde Adicione um tile básico na capa, com uma imagem qualquer. Adicione também um tipo imagem qualquer na raiz do site.

Vá em http://localhost:8080/Plone/@@imaging-controlpanel num portal IDG. Adicione um novo tamanho, por exemplo ```destaque 501x380``` - veja que estou usando 'x' e não ':' como separador do tamanho. Isso é feito pra adicionar um tamanho inválido.

Isso quebra a capa e a vis

[2016-02-17 12:39] #168 closed

[2016-02-17 14:10] hvelarde commented on #168
@idgserpro obrigado!

[2016-02-17 14:59] idgserpro commented on #168
@hvelarde com as novas versões do plone.app.blocks em novas versões do collective.cover (que foi o ambiente que eu testei) já se evita a capa de quebrar, como previsto em https://github.com/plonegovbr/brasil.gov.tiles/issues/136#issuecomment-172981781. Não acho necessário abrir um relato no cover. Fica assim na última versão do cover:

![selecao_121](https://cloud.githubusercontent.com/assets/8203

[2016-02-17 18:31] #205 closed

[2016-02-19 17:16] claytonc commented on #269
Com essa atualização corrige o erro https://github.com/simplesconsultoria/sc.embedder/issues/42, que ocorre no portal padrão.

[2016-02-19 17:37] idgserpro commented on #269
sim @claytonc. A issue simplesconsultoria/sc.embedder#42 ocorre no IDG, uma vez que o IDG seta [icon_visibility para disabled](https://github.com/plonegovbr/brasil.gov.portal/blob/7b4e4631e0c88a05f24ebd2b6c6302491c561baf/src/brasil/gov/portal/profiles/default/propertiestool.xml#L38).

[2016-02-19 20:21] idgserpro commented on #265
@hvelarde também precisamos de um release do collective.cover o mais rápido possível: lançando a versão 1.0a13, já vale a pena testarmos nessa versão e fecharmos esse relato numa versão mais atual do collective.cover.

Grande parte do "stress" dessa demanda já foi gasto no relato https://github.com/plonegovbr/brasil.gov.tiles/issues/132, mas vale a pena simular a atualização em outros cenários.

[2016-02-19 20:31] hvelarde commented on #265
vou agendar isso para a próxima semana; deixa ver se consigo fechar https://github.com/collective/collective.cover/pull/482 também.

[2016-02-22 00:04] claytonc commented on #269
Como não estou podendo esperar uma nova versão com as correções coloquei o javascript (sc.embedder.skins.tinymce.scembedder.js.scembedder.js) na pasta overrides com as alterações abaixo:

[code]

[2016-02-22 11:40] hvelarde commented on #269
@claytonc ajudaria muito fazer um PR no sc.embedder com essas correções

[2016-02-22 11:46] idgserpro commented on #269
@hvelarde @claytonc @rodfersou já existe um PR no sc.embedder sobre isso mas é necessário corrigir um outro erro de javascript:

https://github.com/simplesconsultoria/sc.embedder/pull/43

[2016-02-24 13:42] rodfersou commented on #269
@idgserpro que outro erro de javascript? seria o erro do teste que informei?

[2016-02-24 14:07] idgserpro commented on #269
@rodfersou o outro erro de javascript que falei é [esse](https://github.com/simplesconsultoria/sc.embedder/pull/43#issuecomment-180311012).

[2016-02-24 14:25] idgserpro commented on #265
Com a versão 1.0a13 ganhamos o seguinte problema: https://github.com/plonegovbr/brasil.gov.tiles/issues/134#issuecomment-188268541

[2016-02-24 14:36] rodfersou commented on #269
@idgserpro obrigado

[2016-02-24 15:26] idgserpro commented on #265
Mais um problema ao acessar http://localhost:8080/Plone/home/compose:

Testado numa instância 1.0.5, adicionado o brasil.gov.portal 1.1.3 e o collective.cover do [master](https://github.com/collective/collective.cover/commit/33ce290ee70656245f5763c1ab367ad49fd194c2), e rodando todos os upgradeSteps.

[code]

[2016-02-24 18:20] idgserpro commented on #265
O erro acima ocorre nos seguintes tiles adicionados pelo profile inicial de conteúdo do brasil.gov.portal:
[code]

Curioso que de todos os itens dessa tela (inclusive outros HeaderTile), apenas esses dois deram problema:

[code]

O erro ocorre ao tentar buscar um objeto pelo método ```uuidToObject(uuid)``` de ```plone.app.uuid.utils```: por algum motivo, não encontra nada com esses uuids no catalo

[2016-02-24 19:54] idgserpro commented on #265
Acabamos de fazer um teste, com o collective.cover 1.0a13, mas sem executar os upgradeSteps, tanto do brasil.gov.portal, quanto do collective.cover, e o erro é o mesmo.

[2016-02-24 20:28] idgserpro commented on #265
O erro parece ser uma referência a um uuid de um objeto que não existe no ZODB, mas está persistido como referência num tile.

Isso acontece porque no [data.json](https://github.com/plonegovbr/brasil.gov.portal/blob/7b4e4631e0c88a05f24ebd2b6c6302491c561baf/src/brasil/gov/portal/profiles/initcontent/dados/portal/home/data.json) de brasil.gov.portal há a referência a esse uuid na hora de criar o til

[2016-02-24 20:40] hvelarde commented on #265
acho que vão ter que revisar os overrides mesmo; temos vários sites atualizados na versão 1.0a12 sem problema nenhum.

[2016-02-24 20:55] idgserpro commented on #265
Relato aberto no collective.cover já que outros efeitos colaterais foram identificados para o 1.0a13.

https://github.com/collective/collective.cover/issues/588

[2016-02-24 20:58] idgserpro opened #275 "Corrigir data.json: alguns tiles referenciam objetos inexistentes, quebrando capa quando é collective.cover 1.0a13"
O erro parece ser uma referência a um uuid de um objeto que não existe no ZODB, mas está persistido como referência num tile.

Isso acontece porque no data.json de brasil.gov.portal há a referência a esse uuid na hora de criar o tile, mas não há objeto correspondente.

São os uuids: 532ac055d98442068f0b5471cf0ebb99 e b4fb13f666ae41c6ab06737a78ef46c7. Ou esses uuids tem de ser removidos ou um objet

[2016-03-01 18:18] idgserpro commented on #275
Corrigido em https://github.com/plonegovbr/brasil.gov.portal/pull/276

[2016-03-01 18:18] #275 closed

[2016-03-03 12:49] idgserpro commented on #241
Talvez vamos precisar carregar o zcml do plone4.csrffixes nos teste como feito aqui:

https://github.com/collective/collective.cover/pull/594/files#diff-9

Ou então temos que carrega-lo no [dependencies.zcml](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/dependencies.zcml).

@rodfersou?

[2016-03-03 18:58] #272 closed

[2016-03-11 15:07] #167 closed

[2016-03-11 15:29] #242 closed

[2016-03-11 16:10] #157 closed

[2016-03-11 17:19] hvelarde commented on #241
acho que isso tem que ser feito numa outra issue; por enquanto podemos considerar esta como resolvida pois os testes não estão falhando.

[2016-03-11 17:19] #241 closed

[2016-03-14 13:04] hvelarde commented on #269
feito em https://github.com/plonegovbr/portalpadrao.release/commit/4525f74ea7168332097a74323b2c26eccd2b2bc9

[2016-03-14 13:04] #269 closed

[2016-03-14 13:04] hvelarde commented on #268
feito em https://github.com/plonegovbr/portalpadrao.release/commit/4525f74ea7168332097a74323b2c26eccd2b2bc9

[2016-03-14 13:04] #268 closed

[2016-03-14 13:05] hvelarde commented on #265
feito em https://github.com/plonegovbr/portalpadrao.release/commit/4525f74ea7168332097a74323b2c26eccd2b2bc9

[2016-03-14 13:05] #265 closed

[2016-03-16 21:03] idgserpro opened #278 "Redirecionar o @@search para o @@busca"
O brasil.gov.portal customiza o formulário de busca para utilizar o [@@busca](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/viewlets/templates/searchbox.pt#L9) ao invés de utilizar o @@search. Para ficar coerente, precisamos redirecionar as outras requisições ao @@search para o @@busca. Um exemplo de onde o @@search é utilizado, é na [busca de tags](http

[2016-03-17 20:33] idgserpro opened #279 "Implementar proteção CSRF"
Ref: https://github.com/plonegovbr/brasil.gov.portal/issues/241

[2016-03-20 15:09] tkimnguyen opened #281 "KeyError: 'Interface `collective.cover.controlpanel.ICoverSettings` defines a field `grid_system`, for which there is no record"
I've run into the same error but don't quite understand what to do since the patch in #225 is for the Brazil portal...hmmm... I should probably have noticed that this is the Brazil portal repo, not collective.cover :)

Ubuntu 14.04.4 LTS, Plone 4.3.8, with these eggs:

[code]

and these versions:

[code]

[code]

[2016-03-20 15:12] tkimnguyen commented on #281
Closing since this is a problem with cover, not the Brazil portal... https://github.com/collective/collective.cover/issues/395

[2016-03-20 15:12] #281 closed

[2016-03-21 14:38] idgserpro opened #282 "test_acessibilidade não está sendo executado"
[test_acessibilidade](https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/tests/robot/test_acessibilidade.robot) não está sendo executado:

[code]

[2016-03-24 15:16] idgserpro commented on #269
sc.emberdder atualizado para versão 1.1b1:

https://github.com/plonegovbr/portalpadrao.release/commit/5817a77bd2bc637b79f7e01779c300e01afa89e6

@claytonc isso corrige o problema [relatado por você](https://github.com/plonegovbr/brasil.gov.portal/issues/269#issuecomment-186310742).

[2016-04-25 23:27] hvelarde opened #284 "Atualizar collective.upload para 1.1b2"
A nova versão traz algumas melhorias importantes como a remoção da dependência do Bootstrap e o acesso ao configlet pelo Site Administrator:

https://pypi.python.org/pypi/collective.upload/1.1b2#b2-2016-04-25

[2016-04-25 23:31] hvelarde opened #285 "Atualizar sc.embedder para 1.1b2"
A nova versão inclui algumas melhorias importantes:

https://pypi.python.org/pypi/sc.embedder/1.2b1#b1-2016-12-16

[2016-05-19 17:15] idgserpro opened #286 "Privilégios Insuficientes para revisor"
Quando um usuário com perfil de Revisor clica na aba Conteúdo de uma pasta (publicada ou não) ocorre um erro de Privilégios Insuficientes.

[2016-05-19 19:08] claytonc opened #287 "Javacripts registrados duas vezes"
Os produtos **brasil.gov.tiles** e **brasil.gov.portlets** utilizam os mesmos javascripts, mas foram registrados no portal_javascripts duas vezes.

brasil.gov.portlets/src/brasil/gov/portlets/setuphandlers.py:
1 - ++resource++brasil.gov.portlets/js/**jquery.cycle2.js**
2 - ++resource++brasil.gov.portlets/js/**jquery.cycle2.carousel.js**
3 - ++resource++brasil.gov.portlets/js/**jquery.jplayer.min.j

[2016-05-20 15:53] hvelarde commented on #286
o revisor pode fazer isso num Plone zerado?

[2016-05-20 15:54] hvelarde commented on #287
a solução passa por ambos pacotes depender do [collective.js.cycle2](https://pypi.python.org/pypi/collective.js.cycle2)

[2016-05-20 16:34] idgserpro commented on #286
@hvelarde sim, pode.

[2016-06-01 19:29] idgserpro opened #288 "UnicodeDecodeError ao criar um Compromisso"
Quando tento adicionar um Compromisso, com uma tag que possui um caracter especial, ocorre o erro:

[code]

[2016-06-02 03:42] claytonc commented on #286
@idgserpro @hvelarde  com o perfil de Contributor (pode adicionar) também ocorre o erro de Privilégios Insuficientes.

Efetuei testes com um Plone zerado com Archetypes e depois com Dexterity e ao clicar na aba conteúdo não ocorre o problema, funciona corretamente.

As únicas permissões que não permite acessar aba conteúdo, tendo como base um Plone zerado são Member e Reader (pode ver)

[2016-06-02 17:20] claytonc commented on #286
@idgserpro @hvelarde

Pessoal descobri o que esta causando o erro de permissão.

O produto **collective.upload** sobrescreveu a template  "folder_contents" do produto plone.app.content e alterou a permissão de "cmf.ListFolderContents" para "cmf.ModifyPortalContent".

Conforme os trechos abaixo:

1 - plone.app.content/browser/configure.zcml:
[code]
2 - collective.upload/browser.py
[code]

[2016-06-02 17:29] idgserpro commented on #286
Excelente achado @claytonc! Há [um relato em collective.upload](https://github.com/collective/collective.upload/issues/65) estudando a possibilidade de remover essa customização do folder_contents, acho que se ele for atendido seguindo por esse caminho, podemos mudar a versão utilizada do collective.upload em https://github.com/plonegovbr/portalpadrao.release e fecharmos esse relato.

@hvelarde p/

[2016-06-02 17:45] hvelarde commented on #286
obrigado! a gente não tem recursos para trabalhar nisso agora; se algum de vocês pode ajudar vou agradecer.

[2016-06-02 17:54] claytonc commented on #286
@idgserpro @hvelarde
por hora vou ter que fazer uma solução temporária que altera a permissão para "cmf.ListFolderContents" para atender uma demanda.

tenho que da olhada com calma o porque o collective.upload optou alterar a permissão.

[2016-06-02 18:09] idgserpro commented on #286
@claytonc será que, no momento que customizaram o folder_contents, no Plone, a permissão utilizada era essa? Depois dê uma olhada no histórico do arquivo, ver quando foi customizado, e quais versões do Plone geralmente eram utilizadas nessa época pra ter uma idéia: se a permissão era essa e não é mais, não vejo grandes problemas na modificação.

[2016-06-02 18:11] idgserpro commented on #286
Mas como falamos, se mudar pra viewlet removendo a customização, nem precisa ver porque o collective.upload alterou a permissão. Com relação a isso, a discussão pode ser feita em collective.upload.

[2016-06-02 18:31] claytonc commented on #286
@idgserpro
Olhei todas as versões do plone.app.content, em todas sempre a permissão foi cmf.ListFolderContents.

Mas se decidirem manter o viewlet é só sobrescrever a classe do collective.upload no produto brasil.gov.portal, que já sobrescreve  outras classes do upload.

brasil.gov.portal/browser/upload/browser.py:
[code]

[2016-06-02 19:19] idgserpro commented on #286
@claytonc na verdade sugerimos remover a custumização do folder contents e passar para viewlet. Hoje não é viewlet. Ver:

https://github.com/collective/collective.upload/issues/65

[2016-06-02 19:26] claytonc commented on #286
@idgserpro entendi ficaria melhor mesmo.

[2016-06-03 14:01] idgserpro commented on #240
Ver também o impacto em plone.app.collection, uma vez que usamos a branch 2.x [e aqui se afirma](https://github.com/plone/plone.app.collection/tree/2.x) que já foi incorporado em plone.app.contenttypes.

[2016-06-03 17:58] #286 closed

[2016-06-09 00:07] claytonc commented on #286
@idgserpro

Só para  ficar documentado uma solução de contorno, pois não posso esperar a nova versão do idg ou do collective.upload com a correção.

 No production.cfg adicionei o "collective.recipe.patch"

[code]

Conteúdo do arquivo "collective-upload.patch"
[code]

[2016-06-09 01:34] hvelarde commented on #286
@claytonc bem interessante essa sua solução, não conhecia (CC @rodfersou).

temos um problema adicional para corrigir: o widget de carga não deve ser mostrado para usuários sem permissão "cmf.AddPortalContent"; era por isso era que tínhamos trocado isso ai (mesmo com a permissão errada); acho interessante consertar isso no template até migrar para um viewlet.

[2016-06-15 20:34] idgserpro opened #289 "Ao se rodar os upgradeSteps entre as versões 1.0.5 e 1.1.4 em ordens diferentes dos pacotes, a capa pode quebrar"
O brasil.gov.portal passou a ter um [upgradeStep que atualiza produtos de terceiros](https://github.com/plonegovbr/brasil.gov.portal/issues/218). Dessa forma, no release 1.1.2 ao se executar o upgradeStep de brasil.gov.portal ele já atualiza as dependências.

Existe uma situação específica no upgrade v11 do collective.cover [que precisa ser executada](https://github.com/collective/collective.cover

[2016-06-15 20:38] idgserpro opened #290 "Erro ao comparar versões de Arquivos"
Quando habilito o versionamento automático de Arquivos em:

`Configuração do Site -> Tipos -> Arquivo`

adiciono o behavior `Versioning` em:

`Configuração do Site -> Tipos de conteúdo usando Dexterity -> File -> Comportamentos`

e desabilito o CloneBlobs, como sugerido [aqui](https://github.com/plone/plone.app.versioningbehavior/issues/14#issuecomment-104269834), o IDG passa a versionar Arquivos.

[2016-06-17 21:15] idgserpro opened #291 "Corrigir testes do pacote para se adequar ao 1.1.4 de portalpadrao.release"
Corrigir build https://travis-ci.org/plonegovbr/brasil.gov.portal/builds/138351600

[2016-06-20 18:32] idgserpro opened #292 "Inclusão do collective.captcha (ou outro pacote) por padrão nos portais IDG"
Por motivos de segurança sugerimos que o produto collective.captcha (ou outro pacote) já venha instalado por padrão nos portais IDG.

https://community.plone.org/t/whats-the-current-captcha-plugin-state-in-plone-world-specially-4-3-which-are-you-using-and-why/4991 poderia ser usado para averiguar as opções disponíveis hoje no mundo Plone.

[2016-06-21 18:41] #291 closed

[2016-06-29 20:07] idgserpro opened #295 "Remover a customização de Products.Doormat do pacote brasil.gov.portal"
Quando https://github.com/collective/Products.Doormat/issues/9 for atendido, a customização das views do Doormat no IDG pode ser removida.

Lembrar de pinar no [setup.py](https://github.com/plonegovbr/brasil.gov.portal/blob/ee2ff5ab6a2a8faefc8adc11aaaaa3dda524d584/setup.py#L81) (e na pinagem de versões em https://github.com/plonegovbr/portalpadrao.release/) a versão que conter esse relato do Doorm

[2016-06-29 20:09] idgserpro commented on #95
Em versões Products.Doormat < 0.8, [o pacote não diferenciava se o Link era Archetypes ou Dexterity](https://github.com/collective/Products.Doormat/blob/758b648fcd0fdc63dd2e64c1efc6a7c168091300/Products/Doormat/browser/views.py#L74), pegando apenas Archetypes. Assim, a url vinha como um [método](https://github.com/plone/Products.ATContentTypes/blob/c094c822e53f08db433a7a7c9100b0fee8f651a2/Products

[2016-07-01 19:59] idgserpro opened #296 "Esconder mais profiles em config.py"
Ao tentar criar um novo Plone Site versão 1.1.4, precisamos esconder

![selecao_182](https://cloud.githubusercontent.com/assets/8203476/16533151/1c544b38-3fad-11e6-98a1-b1e84e09225d.png)

Se o interesse for de continuar escondendo pra todo novo release, compensa analisar a possibilidade/viabilidade de fazer um teste na customização de **@@plone-addsite** que verifica isso.

[2016-07-11 14:20] idgserpro opened #298 "Criar um logger na raiz do produto"
Criar um logger na raiz do produto para evitar códigos como [esse](https://github.com/plonegovbr/brasil.gov.portal/blob/47d5af5a4b881cae02d340db7797dafdf27ee8de/src/brasil/gov/portal/upgrades/v10800/handler.py#L9) em todos o upgrades.

Motivação: https://github.com/plonegovbr/brasil.gov.portal/pull/294#discussion_r69020346

[2016-07-11 21:49] #154 closed

[2016-07-12 16:26] #298 closed

[2016-07-13 18:17] caduvieira commented on #246
Prezados,

Seguindo os procedimentos do https://github.com/plone/plone.docker/blob/master/docs/usage.rst criei rapidamente uma imagem docker do brasil.gov.portal. Tive que fazer alguns pins mas no mais deu certo.

O problema foi ao executar que ocorreu um erro de memória conforme o http://pastebin.com/HXcFy2iE

Alguem teve problema similar ou será que é por causa do uso do docker? Sem utilizar o I

[2016-07-13 18:42] idgserpro commented on #246
@caduvieira

parece estar relacionando com isso: https://github.com/plone/plone.subrequest/commit/6f63915aa040156e2e9f69eb3751cc52018c5794

Qual versão do IDG vocês está utilizando? Na versão 1.1.4 o plone.subrequest já foi pinado:

https://github.com/plonegovbr/portalpadrao.release/blob/master/1.1.4/versions.cfg#L563

[2016-07-14 11:46] caduvieira commented on #246
Obrigado @idgserpro foi esse problema mesmo.

adicionando a linha 'plone.subrequest = 1.7.0' ao site.cfg ficou 100% e estou rodando plone idg no docker.

[2016-07-14 12:02] idgserpro commented on #246
@caduvieira você não utilizou o https://github.com/plonegovbr/portal.buildout para montar a instalação?

[2016-07-14 12:12] caduvieira commented on #246
Não. Utilizei o Dockerfile http://pastebin.com/MiybiLmG já aproveitando o plone.docker na versão 4.3.9

[2016-07-14 19:40] caduvieira commented on #246
Quem quiser verificar o que já tem pode ver em
https://github.com/caduvieira/portal.docker

[2016-07-19 14:06] idgserpro opened #300 "Atualizar release de collective.upload para 1.3b1"
Ver https://github.com/plonegovbr/brasil.gov.portal/issues/286

Quando o release for lançado, testar para ver se não contém erros quando rodado no IDG e atualizar a versão.

[2016-07-19 14:13] hvelarde commented on #300
@idgserpro você testaram já as mudanças? posso fazer o release?

[2016-07-19 14:50] idgserpro commented on #300
Ainda não. O relato foi aberto pra não esquecer que isso tem de ser feito já que o #286 foi fechado, mas falado que com atualização do collective.upload [fica ok](https://github.com/plonegovbr/brasil.gov.portal/issues/286#issuecomment-223394237).

[2016-07-19 19:23] hvelarde commented on #300
o novo release foi liberado: https://pypi.python.org/pypi/collective.upload/1.2b1

[2016-07-29 14:47] idgserpro commented on #189
Corrigido: https://github.com/plonegovbr/brasil.gov.portal/commit/499fbc3009c8afd418a470e3a3cdd787d4a08931

[2016-07-29 14:47] #189 closed

[2016-08-05 20:25] finnicius opened #303 "Corrigir erro na visualização de notícias"
Ao visualizar uma notícia em resolução inferior a 768 pixels, o layout se quebra, formando um espaço em branco à direita do header, e à esquerda da área da notícia (vide anexo).

![image](https://cloud.githubusercontent.com/assets/5914549/17449524/8ac0ec4e-5b31-11e6-8f28-5bbb94f83114.png)

[2016-08-05 20:33] finnicius commented on #303
Duplicado (enviado pull request #304 )

[2016-08-05 20:40] idgserpro commented on #303
@finnicius vou deixar a issue aberta até que o seu PR seja analisado.

[2016-08-05 20:50] idgserpro commented on #303
@finnicius Exatamente em qual versão você encontrou esse erro? Em qual browser?

Pode nos informar o que estiver no seu painel de controle, tanto no canto inferior esquerdo do painel quanto o que estiver na opção "Complementos".

[2016-08-05 20:56] finnicius commented on #303
@idgserpro , reduza a largura da sua tela [neste link ](http://www.portalpadrao.gov.br/conteudos-de-marcacao/texto-1-titulo-da-noticia-entre-35-e-90-caracteres) para menos de 768 pixels e vc verá.

Notei também que praticamente todos os sites do Governo que usam a IDG e o Plone apresentam o mesmo erro. O pull request que enviei corrige o problema. Identifiquei o erro pois estou criando uma versão

[2016-08-05 20:59] finnicius commented on #303
O erro acontece em todos browsers.

[2016-08-05 21:01] idgserpro commented on #303
@finnicius mas você instalou o Portal Padrão ou viu somente nos portais da internet?

[2016-08-05 21:03] finnicius commented on #303
@idgserpro Somente nos portais. Mas o CSS do projeto aqui no Github apresenta o mesmo erro.

[2016-08-05 21:04] finnicius commented on #303
Veja o pull request #304 , lá demonstro em qual linha está o problema e proponho a correção.

[2016-08-05 21:30] finnicius commented on #303
@idgserpro , o segundo print tirei depois de corrigir o problema no próprio navegador, usando a função "inspecionar código" e alterando o referido CSS como fiz no pull request. Mas também corrigi essa questão na minha versão da IDG para Wordpress, que usa o CSS do projeto e gera exatamente o mesmo HTML que a IDG para Plone.

[2016-08-08 12:40] idgserpro commented on #303
@finnicius parece que esse problema foi corrigido de uma outro forma em versões mais novas do IDG. Veja como ficou para mim com a versão nova:

![idg](https://cloud.githubusercontent.com/assets/8203476/17479965/f56c0314-5d4b-11e6-987b-4403de9bc71a.png)

Você ainda vê algum problema? Fiz o teste correto?

[2016-08-08 13:00] finnicius commented on #303
Isso mesmo; cheguei ao mesmo resultado com aquele fix que enviei (vide abaixo).

![image](https://cloud.githubusercontent.com/assets/5914549/17480460/5e28b6f2-5d4e-11e6-8871-b69d69f1df9f.png)

Vc sabe me dizer um site que esteja com a versão atualizada, pra eu tomar como base no desenvolvimento para WP? Preferi evitar instalar o Plone por enquanto, pra não ter que estudar a configuração da IDG nes

[2016-08-08 13:14] idgserpro opened #305 "Portlet Coleção não é exibido para anônimos"
Quando adiciono um portlet Coleção, ele é exibido normalmente quando estou autenticado mas não é exibido para anônimos.

[2016-08-08 13:26] idgserpro commented on #303
@finnicius fiz mais uns testes aqui e o problema acontece na verão mais nova. É que ele só ocorre quando há algum portlet na coluna da direita:

![idg2](https://cloud.githubusercontent.com/assets/8203476/17481175/07f43da2-5d52-11e6-856e-beb8a5013db8.png)

Se não existe a coluna da direita o problema não ocorre.

Não tenho conhecimento de portais que utilizam a versão mais nova. Os que eu trabalho

[2016-08-08 13:34] idgserpro commented on #305
Talvez esteja relacionado com https://github.com/plonegovbr/portalpadrao.release/issues/10

[2016-08-08 13:35] finnicius commented on #303
@idgserpro , realmente, também na minha versão o problema ocorre apenas quando há a área de porlets (confirmei agora). Então mantenho a sugestão de aprovar o pull request.

[2016-08-08 13:41] finnicius commented on #303
(O problema está restrito às DIVs com classe width-1:2, que não existem quando não há portlets. )

[2016-08-09 18:04] idgserpro commented on #289
Sendo feito em https://github.com/plonegovbr/brasil.gov.portal/tree/issue_289

[2016-08-10 13:26] idgserpro opened #579 "Devemos adicionar o behavior "plone.app.stagingbehavior.interfaces.IStagingSupport" para o tipo capa"
Ver a motivação em https://github.com/collective/collective.cover/issues/638. Explicação:

O manual oficial do IDG 1.x em http://www.secom.gov.br/orientacoes-gerais/comunicacao-digital/gestao-manual-portal-modelo-governo-federal-dez2014.pdf, página 192, (e 2.x em http://www.portalpadrao.gov.br/manuais/gestao-de-conteudo/manual-gestao_rev.pdf/view página 145) explica sobre o recurso de "Checkin" e

[2016-08-10 13:58] #279 closed

[2016-08-10 19:06] idgserpro opened #310 "Ao atualizar para release 1.1.4 do IDG, na capa recebo o erro "error while rendering plone.app.iterate.baseline_info" ou "error while rendering plone.app.iterate.checkout_info""
Ao atualizar uma instância IDG da versão 1.0.5, que possuía no ZODB uma cópia de iteração ativa da capa, para a versão 1.1.4 do IDG, esse erro passa a aparecer.

Traceback:

[code]

Por que isso acontece? Esse erro nasceu com a remoção do behavior plone.app.stagingbehavior.interfaces.IStagingSupport de collective.cover em

https://github.com/collective/collective.cover/commit/651cf0b86b45f9398dabc

[2016-08-17 13:18] idgserpro commented on #303
Corrigido: https://github.com/plonegovbr/brasil.gov.portal/commit/84217d451ee79331e42318c27fa7cce0c2e7c667

[2016-08-17 13:18] #303 closed

[2016-09-05 12:43] idgserpro commented on #95
Corrigido em https://github.com/plonegovbr/brasil.gov.portal/pull/302

[2016-09-05 12:43] #95 closed

[2016-09-16 20:14] idgserpro opened #313 "Atualizar plone.app.tiles para 1.1.0"
Ver https://github.com/collective/collective.cover/pull/663

[2016-09-20 12:53] idgserpro opened #314 "Ao atualizar para uma nova versão o collective.cover, não esquecer de pinar plone.tiles novamente"
Ver https://github.com/collective/collective.cover/pull/659#event-794912783

[2016-09-21 21:32] idgserpro opened #315 "Ao desmarcar "Permitir a qualquer um ver as informações sobre o conteúdo", na "summary_view", fica um espaço em branco desnecessário"
`summary_view` da pasta de notícias

![selecao_213](https://cloud.githubusercontent.com/assets/8203476/18729482/50626c00-8028-11e6-9ad2-f34d444140c7.png)

Ao desmarcar essa opção:

![selecao_215](https://cloud.githubusercontent.com/assets/8203476/18729475/486454a0-8028-11e6-9eda-fb78c12b9763.png)

Fica dessa forma:

![selecao_214](https://cloud.githubusercontent.com/assets/8203476/18729499/6ae132f

[2016-09-22 13:28] idgserpro commented on #315
Como não sei se todo conteúdo tem esse tipo de gif (ver http://localhost2:8080/Plone/++theme++verde/img/summary-view-icons-sprite.png), acho que o mais correto na verdade é simplesmente remover o espaço em branco se a data for configurada pra não ser mostrada.

[2016-09-29 19:18] luizgsbraz opened #318 "Erro na aparência do portal após o login"
Logo após o login, a tela "Você agora está autenticado" fica prejudicada, conforme mostra a figura.

![login_bug](https://cloud.githubusercontent.com/assets/7255936/18968663/48eced2c-8660-11e6-9ecb-9eeb5377da80.png)

Quando clico sobre o nome do Portal a aparência do site volta ao normal.

[2016-09-29 19:26] idgserpro commented on #318
@luizgsbraz esse é um problema de tema. Favor abrir o relato em:

https://github.com/plonegovbr/brasil.gov.temas/issues

[2016-09-29 22:34] hvelarde commented on #318
esse é um velho problema; tal vez o @agnogueira lembra como consertar.

[2016-10-14 12:19] #289 closed

[2016-10-14 12:20] idgserpro commented on #289
Feito em https://github.com/plonegovbr/brasil.gov.portal/pull/316

[2016-10-18 13:16] idgserpro commented on #314
Isso também está explicitado em https://github.com/plonegovbr/portal.buildout/blob/e6dca04a880b794321549d13bc6ecf21a87311d3/buildout.d/versions.cfg#L104. Não esquecer de atualizar a documentação.

[2016-10-20 13:46] idgserpro commented on #240
plone.app.contenttypes 1.0 incorporou a branch 2.0.x do plone.app.collection. Ver https://github.com/plone/plone.app.contenttypes/blob/1.0/CHANGES.rst e https://github.com/plone/plone.app.contenttypes/commit/fa3470175f834f15e1ba7425b3a82239d8ad8c9d onde foi feita a mescla entre os dois pacotes. Por isso que pudemos remover a pinagem de plone.app.collection 2.0b5 em  https://github.com/plonegovbr/p

[2016-10-20 14:13] claytonc commented on #292
Sugiro utilizar o collective.recaptcha

[2016-10-20 14:23] idgserpro commented on #292
O recaptcha realmente é muito bom. O problema é que ele depende de um serviço externo do google e do registro de uma conta, ou seja, não funciona automaticamente só de instalar o IDG. A idéia é evitar isso.

[2016-10-20 16:10] claytonc commented on #292
@idgserpro

Não vejo problemas em usar serviços externos.

Muitos portais que usam o IDG utiliza o google analytics, então o problema da conta já é resolvido.

O que pode ser feito é sugerir os dois produtos e explicar como funciona cada e deixar a cargo do administrador do portal escolher qual é a melhor solução para o seu portal.

Já utilizei por um bom tempo o collective.captcha que foi substit

[2016-10-20 16:28] idgserpro commented on #292
Só pra constar: considero o collective.recaptcha *melhor* do que o collective.captcha, mas considero temerário colocar, no "core" do IDG, um plugin que precise de uma conta num serviço externo proprietário para ele poder começar a funcionar. Talvez o @hvelarde compartilhe da mesma opinião.

Não se pode partir da premissa que todos tem uma conta do google, mesmo porque para se usar o analytics do g

[2016-10-28 01:39] claytonc commented on #287
@hvelarde
o produto **collective.js.cycle2** não resolve o problema completamente, pois o **jquery.jplayer.min.js** não esta incluso.

o produto **brasil.gov.portlets** utiliza o **setuphandlers.py** para registrar os javascripts e o **brasil.gov.tiles** utiliza o profiles via **jsregistry.xml**.

a minha sugestão é a seguinte modificar o **setuphandlers.py** do produto **brasil.gov.portlet**  efe

[2016-10-28 02:19] claytonc commented on #155
As versões  do plone.app.contenttypes 1.1 e 1.1.1 corrige o problema.

[2016-10-28 02:24] claytonc commented on #240
@idgserpro
Atualizando o plone.app.contenttypes para a versão 1.1.1 resolve #155.

[2016-10-31 12:15] idgserpro commented on #287
brasil.gov.portlets tem o [brasil.gov.portal como dependência](https://github.com/plonegovbr/brasil.gov.portlets/blob/80c602f765ef25b0b77286e4787f343ae50b3085/setup.py#L42). brasil.gov.portal tem brasil.gov.portlets e brasil.gov.tiles [como dependência](https://github.com/plonegovbr/brasil.gov.facetada/pull/5).

Analisando friamente, esses recursos deveriam ser registrados apenas no brasil.gov.til

[2016-10-31 13:51] claytonc commented on #287
@idgserpro
Nenhum dos dois produtos fazem chamadas explícitas para os javascripts citados, os dois produtos registram no portal_javascripts.

Então temos duas possíveis soluções:

1 - Remover do setuphandlers.py do brasil.gov.portlets e manter somente no brasil.gov.tiles, criando algo para remover os registros efetuados pelo  brasil.gov.portlets em instalações existentes.

2 - Remover do setuphand

[2016-10-31 18:34] claytonc commented on #287
@idgserpro

De qualquer forma removendo do brasil.gov.portlet o registro dos javascripts já resolve a parte de duplicidade depois abrimos uma outra issue para o brasil.gov.tiles para adicionar o collective.js.cycle2 como dependência.

Estou apanhando um pouco com os testes mas daqui a pouco consigo realizar o pull request

[2016-11-01 21:14] claytonc commented on #296
@idgserpro não tinha visto essa issue mas já escondi referente ao  brasil.gov.portlets

[2016-11-04 12:54] idgserpro commented on #216
Esse relato foi corrigido erroneamente.

No commit https://github.com/plonegovbr/brasil.gov.portal/commit/9dbcfaed531823ecea41d4dc06d782b04c1adcaf#diff-8fcde383ff1fa08c327c22ae1bd14efdR55, o teste verifica se a css_class é diferente de str ou se é --NOVALUE--, mas classes também vêm como unicode e são assim erroneamente removidas. O `if` ficaria melhor se perguntasse pelos valores realmente proble

[2016-11-07 18:27] #216 closed

[2016-11-07 19:53] idgserpro commented on #314
Poderia até pensar em usar o extends de https://github.com/plonegovbr/portal.buildout/blob/e6dca04a880b794321549d13bc6ecf21a87311d3/buildout.d/versions.cfg, com um apontamento para https://github.com/collective/collective.cover/blob/master/versions-4.3.x.cfg, mas como ficam os jobs nossos que pegam do master? E os jobs que ainda pegam 4.2?

[2016-11-07 20:52] idgserpro commented on #313
Fechado em https://github.com/plonegovbr/portal.buildout/commit/120a3c31922ab546a6927f6493252cd0ab80f72c.

[2016-11-07 20:52] #313 closed

[2016-11-07 20:58] idgserpro commented on #287
Feito em https://github.com/plonegovbr/brasil.gov.portlets/pull/15

[2016-11-07 20:58] #287 closed

[2016-11-07 21:24] idgserpro commented on #305
Não sabemos se o https://github.com/plonegovbr/portalpadrao.release/issues/10 resolveu o problema, fato que, testando o commit https://github.com/plonegovbr/brasil.gov.portal/commit/29596a77497d9bdcfa4be19aa80dd3e532aea692, o erro era porque a coleção não estava publicada. Esse relato pode ser fechado.

[2016-11-07 21:24] #305 closed

[2016-11-23 19:11] mecdtech opened #323 "UnicodeDecodeError: ao tentar habilitar cacheamento com configurações de acelerador web (e visões cacheadas)"
Apos instalar varnish com as configurações de cacheamento e habilitar o complemento de cache e logo
habilitar cacheamento com configurações de acelerador web (e visões cacheadas) tivemos o seguinte erro

Config de default.vcl

Traceback (innermost last):
	Module ZPublisher.Publish, line 138, in publish
	Module ZPublisher.mapply, line 77, in mapply
	Module ZPublisher.Publish, line 48, in call_ob

[2016-11-23 19:39] idgserpro commented on #323
@mecdtech obrigado por relatar o problema aqui no github.

Favor informar qual versão do IDG está usando (ver em "Configurações do Site"), do Plone e informações sobre sua infra para podermos ajudar. Você montou o ambiente seguindo a documentação oficial em https://identidade-digital-de-governo-plone.readthedocs.io/en/latest/?

[2016-11-24 17:12] hvelarde commented on #323
o problema acontece na versão 1.1.4 e descobrimos aqui num treinamento; se eu troco o encoding padrão no `site,py` para `utf-8` acontece um outro erro:

[code]

vamos atualizar agora para IDGB 1.1.5.1 para ver se o problema continua.

[2016-11-24 17:32] idgserpro commented on #323
@hvelarde precisamos de um release 1.1.5.2, o 1.1.5.1 está com problemas se você gera um buildout a partir do https://github.com/plonegovbr/portal.buildout. Iremos fazer um PR até o fim da tarde e as tags nos repositórios.

@hvelarde achamos que deveríamos testar isso num Plone sem IDG pra ver se o problema é Plone ou IDG.

[2016-11-24 17:43] hvelarde commented on #323
vou abrir uma issue agora com vários problemas que achamos no upgrade, mas o problema do plone.app.caching aparentemente é do IDGB pois eu tenho isso funcionando em outros sites.

[2016-11-24 17:46] hvelarde opened #324 "Configuração de desenvolvimento não inclui o brasil.gov.portal"
Estamos testando migração da versão 1.1.4 para versão 1.1.5.1 e o pacote policy po portal não é incluso.

o workaround é :

[code]

[2016-11-24 17:48] idgserpro commented on #324
Sim. Estamos tratando na branch https://github.com/plonegovbr/portal.buildout/tree/plone_not_available desde de manhã. Criamos um teste no .travis.yml para esse tipo de erro não ocorrer novamente.

[2016-11-24 17:50] idgserpro commented on #324
@hvelarde  Achamos que com esse fix, um release 1.1.5.2 deve ser gerado imediatamente. Com a build https://travis-ci.org/plonegovbr/portal.buildout/jobs/178660461 passando, devemos já gerar as tags nesses repositórios e um diretório 1.1.5.2 no portalpadrao.release.

[2016-11-24 17:50] hvelarde opened #325 "A atualização do brasil.gov.portal não roda todos os upgrades steps"
Pelo que testamos ao rodar a atualização do brasil.gov.portal os seguintes pacotes ficam sem se atualizar:

* brasil.gov.barra
* brasil.gov.portlets

esses podem se atualizar diretamente no painel de controle, mas tem outros que só ficam visíveis no `portal_setup`:

* brasil.gov.tiles
* plone.app.blocks
* plone.app.tiles

[2016-11-24 18:16] idgserpro commented on #324
@hvelarde Fizemos um PR em https://github.com/plonegovbr/portal.buildout/pull/61

Favor testar e se estiver tudo ok fazer o merge. Assim lançaremos um release 1.1.5.2 gerando uma tag em portal.buildout e portalpadrao.release imediatamente porque esse erro é completamente impeditivo.

[2016-11-24 20:02] idgserpro commented on #325
Estou revendo o issue que fez essa implementação de pacotes de terceiros em https://github.com/plonegovbr/brasil.gov.portal/issues/218 e cheguei à conclusão que o correto teria sido adicionar uma documentação sobre como atualizar entre versões no portal_setup e não ter feito a implementação disso em primeiro lugar.

Ao rever "[```se o brasil.gov.portal decidiu atualizar todas as dependências, ele

[2016-11-25 14:05] idgserpro commented on #324
Corrigido em: https://github.com/plonegovbr/portal.buildout/pull/61

[2016-11-25 14:05] #324 closed

[2016-11-25 14:26] hvelarde commented on #325
eu não estou muito por dentro disso ai, mas continuo acreditando que seria interessante ter uma atualização centralizada e única no IDGB.

a vantagem é que com o tempo isso vai ficar mais estável e fácil de administrar, pois na verdade a ordem em que se rodam os upgrade steps não deveriam afetar na maioria dos casos.

de qualquer jeito, isso pode ser discutido com mais membros da comunidade para c

[2016-11-25 15:35] idgserpro commented on #325
Nós também achamos interessante, só achamos que o esforço pra se fazer não compensa quando basta adicionar uma documentação que será a mesma para todos os release, "entre no portal_setup e os profiles que aparecerem pra atualizar você atualiza" depois da melhoria que o maurits fez.

Se quiser seguir por esse caminho, a gente pode revisar os seus PRs assim como você faz com os nossos. Fico aqui nos

[2016-11-25 18:05] idgserpro commented on #324
@hvelarde https://github.com/plonegovbr/portal.buildout/releases/tag/1.1.5.2 e https://github.com/plonegovbr/portalpadrao.release/releases/tag/1.1.5.2

[2016-11-28 20:24] hvelarde opened #326 "Adicionar collective.fingerpointing no IDGB?"
[collective.fingerpointing](https://pypi.python.org/pypi/collective.fingerpointing) adiciona um log de auditoria simples que pode ser usado para conhecer quem fez mudanças no conteúdo ou quem logou no portal e quando.

[2016-11-28 20:26] hvelarde opened #327 "Adicionar Products.RedirectionTool no IDGB?"
[Products.RedirectionTool](https://pypi.python.org/pypi/Products.RedirectionTool) permite a criação de aliases direitamente no contexto dos itens de conteúdo a traves de uma nova aba, e a gestão de aliases armazenados pelo plone.app.redirector de forma simples.

Seu uso diminui o número de páginas não encontradas pelos usuários dos portais devido a alterações na estrutura dos mesmos, e libera os g

[2016-11-28 20:29] hvelarde opened #328 "Adicionar collective.lazysizes no IDGB?"
[collective.lazysizes](https://pypi.python.org/pypi/collective.lazysizes) é um lazy loader de imagens e iframes que pode ajudar diminuir até em 80% o tempo de carga, 75% no tamanho das páginas e 50% no número de requests.

[2016-11-28 20:30] hvelarde commented on #300
um novo release foi disponibilizado em agosto: https://pypi.python.org/pypi/collective.upload/1.3b1

[2016-11-28 20:31] hvelarde commented on #284
duplicado com #300

[2016-11-28 20:31] #284 closed

[2016-11-28 20:43] hvelarde opened #329 "Atualizar sc.social.like para 2.8b1"
a versão 2.6a1 do sc.social.like foi liberada e inclui algumas melhorias interessantes:

https://pypi.python.org/pypi/sc.social.like/2.6a1#a1-2016-09-23

sugiro atualizar o IDGB para utilizar esta nova versão.

[2016-11-28 20:46] hvelarde opened #330 "Atualizar collective.cover para 1.4b1"
A nova versão inclui algumas melhorias importantes:

https://pypi.python.org/pypi/collective.cover/1.4b1#b1-2016-12-14

[2016-11-28 20:49] hvelarde commented on #278
acho que isso pode ser resolvido mais facilmente no plone.app.redirector; ver #327.

[2016-11-28 20:57] idgserpro commented on #330
Não esquecer de verificar também suas dependências: verificar se isso poderia de alguma forma ser dinâmico. Ver https://github.com/plonegovbr/brasil.gov.portal/issues/314

[2016-11-30 13:17] idgserpro opened #331 "Atualizar Products.CMFPlone para 4.3.15."
Hoje estamos na [4.3.9](https://github.com/plonegovbr/portal.buildout/blob/b541b83176d836327d4af603da258aa7fabb5e66/buildout.d/versions.cfg#L28).

Ao atualizar a versão do Plone, o relato https://github.com/plonegovbr/brasil.gov.portal/issues/310 e https://github.com/plonegovbr/brasil.gov.portal/issues/290 podem ser fechados.

Também seria interessante que os jobs de integração contínua que aponte

[2016-11-30 13:19] idgserpro commented on #325
Se for seguir por esse caminho, não esquecer do relato https://github.com/plonegovbr/brasil.gov.portal/issues/239

[2016-11-30 13:28] hvelarde commented on #331
só uma dúvida: o plone.subrequest está atualizado agora? lembrem que a versão pinada no Plone 4.3.9 estava com um memory leak.

[2016-11-30 13:35] idgserpro commented on #331
@hvelarde foi na versão 1.7.0 que corrigiram isso, não foi? Tomamos o cuidado de no release 1.1.5.2 já ter essa preocupação. Ver https://github.com/plonegovbr/portalpadrao.release/blob/9584fcdf5dee7793936328919bc0fbb71530ff2d/1.1.5.2/versions.cfg#L88

Ao atualizar o Plone, essa pinagem da gente inclusive pode ser removida.

[2016-11-30 15:42] idgserpro opened #332 "Criar documentação sobre como atualizar entre diferentes releases do IDG"
Independentemente de https://github.com/plonegovbr/brasil.gov.portal/issues/325 ser atendido ou não e do processo tradicional do Plone ser utilizar a aba portal_setup para atualizar upgradeSteps, achamos que deveria ter uma documentação mais intuitiva sobre todo esse processo. Hoje, a documentação informa apenas sobre alteração no buildout para pegar um novo release e não sobre upgradeSteps (ver h

[2016-12-02 13:00] idgserpro commented on #329
Recomendamos usar a 2.6a1 por causa dos ícones de Telegram e Whatsapp, muitos clientes estão cobrando.

[2016-12-05 15:58] idgserpro opened #333 "Destaque do portal não carrega banner"
Após o commit https://github.com/plonegovbr/brasil.gov.portal/commit/9398317a11dad9424df2615f61a368c01659d2b0, que corrigiu o relato https://github.com/plonegovbr/brasil.gov.portal/issues/167, o portal deixou de carregar um banner como destaque.

Isso ocorre porque, após a correção, o portal passou a carregar como destaque, somente o que está dentro da ```div#em-destaque```, como pode ser visto [a

[2016-12-14 11:55] idgserpro opened #334 "Portlets sobrescrevem página destaque"
Quando utilizamos portlets em uma pagina destaque (brasil.gov.paginadestaque), os portlets sobrescrevem a página destaque:

![pagina_destaque](https://cloud.githubusercontent.com/assets/8203476/21180988/c79518b2-c1e2-11e6-8509-dfadd3cce886.png)

Isso ocorre por causa [dessa propriedade](https://github.com/plonegovbr/brasil.gov.portal/blob/24ecbaae715572a7215e80ed7b8f6f3318800846/src/brasil/gov/por

[2016-12-21 13:10] claytonc opened #335 "Bug na exibição da data de criação nas coleções com a visão "summary view""
É o mesmo bug da issue #157.

Template: brasil.gov.portal/src/brasil/gov/portal/browser/content/templates/custom_summary_view.pt

[2017-01-04 13:07] idgserpro commented on #239
Ver https://listas.interlegis.gov.br/pipermail/plonegov-br/2017-January/004246.html pois pode ser relacionado.

[2017-01-06 13:32] makelli opened #336 "Problema update release : de 1.0.5 para 1.1.5.2."
Atualizei a release de 1.0.5 para 1.1.5.2. Ao tentar fazer upgrade do brasil.gov.br   (vi em algum lugar que este deve ser o primeiro a ser feito up)

 .gov.br: Portal Padrão 1.1.5.1
Portal Padrão de sites para o Governo Federal
 Este produto foi atualizado. Versão anterior do profile era 10500 Nova versão do profile é 10801 Atualizar:brasil.gov.portal

Aqui está a mensagem de erro completa:
Visua

[2017-01-06 13:37] idgserpro commented on #336
Obrigado por reportar o erro.

Você possui algum outro plugin instalado na sua instalação? Você está usando as versões de dependências como definido em https://github.com/plonegovbr/portalpadrao.release?

[2017-01-06 13:44] makelli commented on #336
Não possuo plugin. Sim, estou usando usando as versões de dependências como definido em https://github.com/plonegovbr/portalpadrao.release

[2017-01-06 13:53] idgserpro commented on #336
Você poderia editar os arquivos fonte da aplicação temporariamente? Lembre-se de fazer um backup antes do arquivo!!!

Poderia editar o arquivo

`collective.cover-1.1b1-py2.7.egg/collective/cover/content.py`

Adicionando, [antes da linha que dá erro](https://github.com/collective/collective.cover/blob/1.1b1/src/collective/cover/content.py#L109), o seguinte trecho de código:

[code]

Rodar novamente

[2017-01-06 14:01] hvelarde commented on #336
o problema é provocado por algum tile com `id` duplicado e isso foi corrigido já.

sugiro identificar os tiles envolvidos, remover e adicionar novamente; depois tentar a atualização novamente.

[2017-01-06 14:12] makelli commented on #336
Obrigada! Funcionou

On Fri, Jan 6, 2017 at 11:01 AM, Héctor Velarde <notifications@github.com>
wrote:

[2017-01-06 15:43] idgserpro commented on #336
Seria o caso de comentar esse `assert` indicando esse tipo de situação, velarde?

@makelli como você já resolveu o problema, fecharemos o relato.

[2017-01-06 15:43] #336 closed

[2017-01-06 16:21] hvelarde commented on #336
@idgserpro sinceramente não sei se vale o esforço; a ideia do `assert` e essa mesma: falhar par mostrar um problema.

[2017-01-06 16:32] idgserpro commented on #336
Sim, mas eu por exemplo lendo o código não consegui inferir essa análise que você fez, por isso a sugestão do comentário. Bem, pelo menos com o cadastro dessa issue, se mais pessoas tiverem o problema será indexado pelos buscadores o traceback encontrado.

[2017-01-11 17:59] idgserpro commented on #325
Acho que o caminho ideal seria:

- Parar de esconder pacotes que hoje são escondidos no brasil.gov.portal;
- A documentação de atualização de release simplesmente informar "acesse o Painel de Controle do portal, opção Complementos, e execute a atualização de todos os pacotes que pedirem atualização.";

Enquanto isso não é feito, ficamos com a documentação de forma temporária criada em https://gith

[2017-01-11 18:20] idgserpro commented on #332
Curiosidade @hvelarde sabe como funciona o processo de atualização no https://identidade-digital-de-governo-plone.readthedocs.io/en/latest/ quando o https://github.com/plonegovbr/portal.buildout/tree/master/docs é alterado?

[2017-01-11 22:05] hvelarde commented on #325
lembrem que Plone, por padrão, também oculta alguns profiles e toma conta da atualização de algumas dependências.

[2017-01-11 22:06] hvelarde commented on #332
acho que roda a cada 5 ou 10 minutos, mas não sei onde isso acontece; tal vez o @Dadlo ou o @winstonf88 lembrem.

[2017-01-12 12:19] idgserpro commented on #325
Sim, mas o próprio Plone toma conta disso na opção de atualizar quando você entra na ZMI.

Se tiver alguma situação, entre releases, do IDG, de uma dependência que não aparece no painel de controle mas tem upgradeStep, precisamos tratar isso em brasil.gov.portal: mas o interesse agora é que isso seja exceção, e não a regra para evitar retrabalho e os erros que tivemos com esse tipo de abordagem.

[2017-01-12 12:20] idgserpro commented on #332
Mas "roda" onde? Quando você cadastra um projeto no readthedocs, você especifica um repositório git e de tempos em tempos ele faz esse procedimento?

[2017-01-12 13:11] idgserpro commented on #332
Feito em https://github.com/plonegovbr/portal.buildout/pull/65

[2017-01-12 13:11] #332 closed

[2017-01-12 17:24] idgserpro commented on #332
Bem, de qualquer forma adicionei como um serviço no repositório, vamos ver como se comporta.

![selecao_001](https://cloud.githubusercontent.com/assets/8203476/21900505/34512810-d8db-11e6-8f7c-0168bec12d39.png)

[2017-01-12 18:18] hvelarde commented on #332
boa! não conhecia esse hook; podemos começar usar ele em outros lugares :-)

[2017-01-12 19:27] idgserpro commented on #332
Não sei como fizeram o cadastro anteriormente no readthedocs, mas só de adicionar o hook e efetuar um novo commit atualizou por lá.

[2017-01-20 20:51] idgserpro commented on #266
Além de templates, deveríamos remover o tile hoje de notícia presente em brasil.gov.tiles e usar o do collective.nitf, lembrando de adicionar upgradeSteps.

[2017-02-02 19:06] idgserpro commented on #166
Issue para atualizar o plone.app.contenttypes: https://github.com/plonegovbr/brasil.gov.portal/issues/240

Se, com a atualização, esse erro parar de ocorrer, podemos fechar o relato.

[2017-02-06 17:52] idgserpro commented on #240
Ver também se com essa atualização o relato https://github.com/plonegovbr/brasil.gov.portal/issues/290 pode ser fechado.

[2017-02-06 18:04] idgserpro commented on #323
@hvelarde e @mecdtech saberiam informar se esse erro ainda ocorre no release 1.1.5.2?

[2017-02-06 18:06] idgserpro commented on #239
Se ficar decidido em https://github.com/plonegovbr/brasil.gov.portal/issues/325 que o brasil.gov.portal não irá mais executar upgradeStep de terceiros, esse relato pode ser fechado.

[2017-02-06 19:16] hvelarde commented on #323
eu não posso lhe informar.

[2017-02-13 14:47] hvelarde commented on #266
simplesmente para deixar documentado: fizemos um upgrade em um site de teste de 1.x para 2.x do seguinte jeito:

* desinstalamos 1.x
* instalamos 2.x

após isso tivemos que reindexar todos os objetos de tipo `collective.nitf.content` para consertar a interface do tipo de conteúdo pois ele trocou de lugar.

parece que adicionar alguns upgrade steps para remover algumas coisas na migração seria viáv

[2017-02-15 18:12] idgserpro commented on #266
@hvelarde enquanto não trabalhamos nisso, seria legal ter um novo release da branch 1.x para conter [isso](https://github.com/collective/collective.nitf/pull/187). :smile:

[2017-02-15 18:33] hvelarde commented on #266
a gente também já não usa a branch 1.x nos nossos projetos; fiquem a vontade para fazer um backport depois.

[2017-02-15 19:20] idgserpro commented on #266
@hvelarde o backport já está pronto. Falta só o release.

[2017-02-15 19:36] hvelarde commented on #266
desculpa, não tinha entendido; eu vou fazer releases do pacote acho que amanhã.

[2017-02-16 14:04] hvelarde commented on #266
@idgserpro https://pypi.python.org/pypi/collective.nitf

[2017-02-16 15:45] idgserpro commented on #266
@hvelarde obrigado!

Atualizado: https://github.com/plonegovbr/portal.buildout/commit/6896e63cf7b43c9858f4ee233bc1c52bc007cfab

[2017-02-22 02:23] claytonc opened #343 "Sugestão: habilitar para os auteticados os ícones dos conteúdos e remover do menu"
### Qual versão do produto você está usando e em qual sistema operacional (acesse /@@overview-controlpanel ou /prefs_install_products_form para obter essas informações)?

### Possui plugins adicionados além dos definidos numa instalação padrão do Portal Padrão? Se sim, forneça o nome e as versões utilizadas.

- [ ] Sim
Nome e versões dos plugins:

- [x] Não
- [ ] Não sei informar

### Está utiliza

[2017-02-22 02:25] claytonc commented on #343
Já tem 1 ano que fiz essa modificação no IDG para e os usuários gostaram, pois na hora de editar a capa eles sabem qual conteúdo estão inserindo nas capas, editando etc.

Ficando mais fácil distinguir um conteúdo do outro.

[2017-02-22 02:32] claytonc commented on #343
Procurando um conteúdo para inserir na capa
![home secretaria de comunicacao social 1](https://cloud.githubusercontent.com/assets/1719539/23194561/96aa604a-f88d-11e6-977a-cf2e2a20d397.png)

Navegando pelos conteúdos do portal
![secretaria de comunicacao social](https://cloud.githubusercontent.com/assets/1719539/23194621/fe1bd4c0-f88d-11e6-9424-993f0afae8b3.png)

[2017-03-01 20:59] claytonc commented on #343
É necessário habilitar os ícones em "Configuração do Site" > "Temas" > "Configurações avançadas" > "Exibir ícones de tipos de conteúdo" e marcar "Apenas para usuários que estiverem autenticados"

[2017-03-02 01:01] claytonc opened #344 "Tamanho da fonte pequena no popup da busca de conteúdos no editor TinyMCE"
### Qual versão do produto você está usando e em qual sistema operacional (acesse /@@overview-controlpanel ou /prefs_install_products_form para obter essas informações)?

Portal Padrão 1.1.6.dev0

### Possui plugins adicionados além dos definidos numa instalação padrão do Portal Padrão? Se sim, forneça o nome e as versões utilizadas.

- [ ] Sim
Nome e versões dos plugins:

- [x] Não
- [ ] Não sei

[2017-03-07 19:35] claytonc commented on #331
@idgserpro eu achei um bug na versão 4.3.11 é melhor aguardar a correção.

https://github.com/plone/Products.CMFPlone/issues/1959

[2017-03-28 21:37] idgserpro commented on #331
@claytonc 4.3.13 parece resolver o problema. https://community.plone.org/t/plone-4-3-13-soft-released/3873. (Sendo mais específico, foi o pacote Products.CMFPlacefulWorkflow: 1.5.14 → 1.5.15). Depois se puder dar uma olhada, já vou alterar o título dessa issue.

[2017-03-29 01:24] claytonc commented on #331
@idgserpro além do problema da reinstalação do CMFPlacefulWorkflow também estava com problemas em adicionar os itens no portal_controlpanel [1].

Eu já estou utilizando a versão 4.3.12 em um novo projeto, apliquei o patch e atualizei o CMFPlacefulWorkflow, irei utilizar mas por causa do "Status check" [2].

Estava tendo problemas com o httpok aonde estava reiniciando as instâncias sem necessidade,

[2017-03-29 17:00] idgserpro commented on #160
Abrimos um relato no Plone. https://github.com/plone/Products.CMFPlone/issues/1985

[2017-04-04 23:30] claytonc commented on #240
Mais um bug relacionado a versão do plone.app.contenttypes que o provedor de conteúdos encontrou no tinymce, achei também uma issue https://github.com/plone/Products.TinyMCE/issues/123

Mesmo atualizando o tinymce o erro ocorre as vezes.

Testei em um plone puro com o plone.app.contenttypes para 1.1.1 o problema não ocorreu.

[2017-04-13 17:00] claytonc commented on #300
Adicionei também como bug, pois o #286 não foi solucionado no IDG.

Uma solução imediata é adicionar o código abaixo no "brasil.gov.portal/browser/upload/browser.py" que foi sugerido em Junho/2016, para entrar no próximo release.

[code]

Ou aguardar um bom tempo e esperar a nova versão  do collective.upload testar bastante para sair quem sabe em um futuro release.

A minha sugestão é corrigir o I

[2017-05-04 20:51] claytonc opened #345 "Problemas ao copiar página que contém links internos"
1. Todos os testes foram efetuados utilizando o portal.buildout com IDG puro sem plugins extras;
2. Foi testado nas versões 1.1.3.1, 1.1.4, 1.1.5.2 - ERRO;
3. Foi testado no Plone puro com Dexterity e com Archetypes - OK;
4. Foi testado em portais sem o IDG - OK;

Pessoal um provedor de conteúdos achou um erro no provimento de conteúdos no IDG, aonde gera a quebra de links nas páginas.

Fiz o test

[2017-05-09 12:48] claytonc commented on #331
@idgserpro nesta versão vocês pretendem usar a plone.app.contenttypes 1.1.1 [1], que contém várias correções de bugs ?

Pergunto isso, pois no portalpadrao.release 1.1.5.2 esta pinado na versão 1.0 [2], sendo que o Plone 4.3.9 padrão é utilizar versão 1.1 [3].

Gostaria de sabe mais detalhes de erros sobre **brasil.gov.agenda** e **brasil.gov.temas**, pois em ambos produtos contém a pinagem **plon

[2017-05-09 13:14] idgserpro commented on #331
São issues diferentes, não precisa ser ao mesmo tempo. Sim, nos dois pacotes existem essas pinagens mas não temos o histórico da motivação. Em tese é como você falou, ao despinar não há muitos problemas, mas achamos que seria importante um teste exploratório após a atualização e por isso não foi feito ainda. De qualquer forma, bom saber que você já tem isso pinado e não há problemas aparentes.

[2017-05-09 13:35] claytonc commented on #331
@idgserpro na verdade estou tendo que fazer isso, por causa de vários bugs que os usuários provedores de conteúdos estão encontrando no IDG por causa do plone.app.contenttypes 1.0.

[2017-05-09 14:23] idgserpro commented on #331
@claytonc você pode fazer um PR despinando aqui:

https://github.com/plonegovbr/brasil.gov.agenda/blob/master/setup.py#L47
e aqui:
https://github.com/plonegovbr/portal.buildout/blob/master/buildout.d/versions.cfg#L110

[2017-05-09 17:24] claytonc commented on #331
@idgserpro testando aqui encontrei alguns probleminhas até agora nenhum grave todos são fáceis de resolver

Irei colocar os testes que fiz no https://github.com/plonegovbr/brasil.gov.portal/issues/240

[2017-05-09 18:28] claytonc commented on #240
@idgserpro

Estou efetuando testes usando o IDG  1.1.4

**1º Teste** - criando um site IDG com o plone.app.contenttypes = 1.0 e depois atualizar para 1.1.1 simulando uma migração:

1. após a criação do site removi as pinagens dos produtos (agenda e temas)  e no arquivo vesions.cfg; Obs.: Só não entendi porque a
2. quando executei o upgrade ocorreu os erros:
    * AttributeError: 'NoneType' object

[2017-05-09 19:05] idgserpro commented on #240
@clayton, devemos trabalhar nesse relato para um próximo release. Agradeço de antemão os testes efetuados, principalmente com relação a ambientes já criados - temos de ter um carinho especial nesse contexto.

[2017-06-01 23:58] hvelarde commented on #240
eu acho que precisamos atualizar esta issues para usar plone.app.contenttypes 1.1.2 e plone.app.event 1.1.8.

@claytonc eu fiquei com algumas dúvidas:

* aparentemente o erro no campo `atendees` foi originado pela falta de um valor default na versão antiga do plone.app.event; acho que seria mais simples criar um upgrade step que atualize esse campo para uma tupla vazia como é definido atualmente n

[2017-06-02 00:03] hvelarde opened #346 "Atualizar collective.nitf para 2.1b1"
A versão 2.1b1 do collective.nitf foi liberada e inclui algumas melhorias interessantes:

https://pypi.python.org/pypi/collective.nitf/2.1b1#b1-2017-02-16

Sugiro atualizar o IDGB para utilizar esta nova versão.

Temos alguns riscos envolvidos pois nunca testamos aqui atualização desde 1.0; adicionalmente pode ter templates que foram customizados e que vão precisar algum retrabalho.

[2017-06-02 00:05] hvelarde commented on #266
Substituído pelo #346

[2017-06-02 00:05] #266 closed

[2017-06-02 13:27] idgserpro commented on #346
Temos interesse em resolver https://github.com/collective/collective.nitf/pull/202, gerar um novo release e aí resolver essas customizações que você comentou. Está no backlog.

[2017-06-05 15:03] claytonc commented on #240
@hvelarde

* o erro do campo `atendess` só ocorreu em objetos criados pelo script do `brasil.gov.portal`, pois quando adicionando manualmente o campo já é inserido com vazio;
* o `warning BRT` desapareceu quando adicionei em `environment-vars` no base.cfg o valor `TZ America/Sao_Paulo`;
* quais configurações da agenda você quer que eu teste ?

[2017-06-05 15:10] claytonc commented on #346
@hvelarde <https://github.com/hvelarde> @idgserpro
<https://github.com/idgserpro>

Não seria interessante a possibilidade do collective.nitf ser buscável por
tags ?

Para isso teria que adicionar o subject em [1]

[1]
https://github.com/collective/collective.nitf/blob/master/src/collective/nitf/content.py#L82

Em 2 de junho de 2017 10:27, idgserpro <notifications@github.com> escreveu:

[2017-06-05 17:40] hvelarde commented on #346
@claytonc por favor abre uma issue nova la no collective.nitf para eu solucionar esse problema.

[2017-06-05 17:44] hvelarde commented on #240
@claytonc ótimo, abre por favor uma issue diferente relatando esse problema da criação automática de conteúdo para poder solucionar.

respeito ao terceiro ponto, não ficou claro para mim também não; tu falou que ao rodar o upgrade step "ira perder as customizações do IDG"; quais customizações? tu ve algum jeito de corrigir isso diretamente upstream?

[2017-06-05 19:34] claytonc commented on #240
@hvelarde

Mudou os nomes das visões das pastas e coleções.

Hoje por exemplo é `folder_summary_view` mudou para `summary_view` conforme o item 5 -  https://github.com/plonegovbr/brasil.gov.portal/issues/240#issuecomment-300259611

Um exemplo é [1] tem que alterar para `summary_view`.

[1] https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/plone/configure.zcm

[2017-06-05 22:09] hvelarde commented on #240
@claytonc entendi; seria possível para você criar uma nova issue definindo essas mudanças que devem ser consertadas?

[2017-06-05 22:15] idgserpro commented on #240
Acho que não precisa ser uma nova issue @hvelarde, só compilar tudo que foi discutido aqui e ou adicionar um novo comment ou editar o inicial, informando que para atualizar, "x" mudanças são necessárias.

[2017-06-13 01:35] hvelarde opened #348 "Atualizar collective.cover para 1.6b1"
A nova versão corrige alguns problemas descobertos após o release 1.4b1:

https://pypi.python.org/pypi/collective.cover/1.5b1

[2017-06-13 01:35] hvelarde commented on #330
substituído pelo #348

[2017-06-13 01:35] #330 closed

[2017-06-13 01:37] hvelarde opened #349 "Atualizar collective.nitf para 2.1b2"
A nova versão inclui melhora o upgrade step de migração entre 1.x e 2.x:

https://pypi.python.org/pypi/collective.nitf/2.1b2

[2017-06-13 01:38] hvelarde commented on #346
Substituída pela #349

[2017-06-13 01:38] #346 closed

[2017-06-13 01:42] hvelarde opened #350 "Atualizar collective.upload para 9.18.0rc2"
O novo release é uma revisão maior do pacote com várias melhorias e correções de bugs:

https://pypi.python.org/pypi/collective.upload/9.18.0rc2

[2017-06-13 01:42] hvelarde commented on #300
substituída pela #350

[2017-06-13 01:42] #300 closed

[2017-06-13 01:47] hvelarde opened #351 "Atualizar sc.embedder para 1.5b1"
A nova versão inclui as últimas correções ao pacote:

https://pypi.python.org/pypi/sc.embedder/1.5b1

[2017-06-13 01:47] hvelarde commented on #285
substituída pela #351

[2017-06-13 01:47] #285 closed

[2017-06-13 01:51] hvelarde opened #352 "Atualizar sc.social.like para 2.9"
A versão inclui uma nova funcionalidade:

https://pypi.python.org/pypi/sc.social.like/2.9

[2017-06-13 01:51] hvelarde commented on #329
substituída pela #352

[2017-06-13 01:51] #329 closed

[2017-06-14 14:34] idgserpro commented on #282
O teste não está sendo executado porque [está literalmente comentado](https://github.com/plonegovbr/brasil.gov.portal/commit/7913be1ab313a148edea2d4403c646a74ee6b1aa), e fizeram isso porque dava problema com a barra.

[Criando uma branch](https://github.com/plonegovbr/brasil.gov.portal/tree/issue_282) para voltar a executar esses testes via [integração contínua](https://travis-ci.org/plonegovbr/br

[2017-06-20 18:31] idgserpro commented on #348
Ver a melhor forma de remover o plone.app.drafts do IDG uma vez que portais em produção estão com uma utility do mesmo instalada pelo plone.app.tiles de versões anteriores do collective.cover instalada.

[2017-06-21 16:23] idgserpro commented on #267
Se for atualizar para 1.9b2, precisa ficar atento que collective.z3cform.widgets deixou de ser dependência, pode ser necessário colocar como dependência explícita (parecido com https://github.com/plonegovbr/brasil.gov.portal/issues/348#issuecomment-309847978)

[2017-06-21 20:50] luizgsbraz opened #353 "Data de publicação inválida gera erro de exibição de arquivos"
### Qual versão do produto você está usando e em qual sistema operacional (acesse /@@overview-controlpanel ou /prefs_install_products_form para obter essas informações)?
[code]
![biblioteca_produtos](https://user-images.githubusercontent.com/7255936/27404850-f05b0e66-56a5-11e7-850e-2eee1d4640dd.png)

### Possui plugins adicionados além dos definidos numa instalação padrão do Portal Padrão? Se sim,

[2017-06-28 22:57] idgserpro commented on #349
Ver a melhor forma de remover o collective.z3cform.widgets do IDG, pois ele [deixou de ser dependência em collective.nitf](https://github.com/collective/collective.nitf/commit/ebb385b353655fc9c39de0b4f5ec2abfe6f39375) uma vez que portais em produção estão com uma layer do mesmo instalada pelo próprio collective.nitf de versões anteriores.

[2017-07-01 20:55] idgserpro opened #355 "Remover viewlet RelatedItemsViewlet."
Na época, a motivação era que tipos Dexterity não estavam contemplados em plone.app.layout, por isso o commit em https://github.com/plonegovbr/brasil.gov.portal/commit/3c95c00c36948e58f2835ef83d28745bb37c2205.

Mas de acordo com o changelog em https://github.com/plone/plone.app.layout/blob/2.3.x/CHANGES.rst#user-content-236-2013-08-13, isso foi corrigido na 2.3.6 (um pouco depois do commit no noss

[2017-07-04 13:49] idgserpro opened #356 "Com a atualização de collective.cover > 1.0a12, o recurso de variação de título "Normal", "Grande" e "Gigante" não funciona"
Esse recurso adicionado em https://github.com/plonegovbr/brasil.gov.tiles/issues/86 e no tema em https://github.com/plonegovbr/brasil.gov.portal/commit/92cdae9e38db74a0c8a7c4d74b75b8a34772818f não funciona mais.

Isso ocorreu porque o atributo `data-tile` mudou de tag em https://github.com/collective/collective.cover/commit/2bbebb4157bd451cd174abdb7c294b04b2be77cd#diff-6982d545f6bb1824c9dd08473d98

[2017-07-07 20:41] idgserpro opened #359 "Corrigir erros das visões de coleção"
Corrigir erro das visões:

- [x] [collection_summary_view](https://github.com/plonegovbr/brasil.gov.portal/blob/9cb7649751e4843ac56f1fdbc8081f8de45ecd9b/src/brasil/gov/portal/tests/test_esconde_autor_data.py#L134)

[code]

- [x] [collection_listing_view](https://github.com/plonegovbr/brasil.gov.portal/blob/9cb7649751e4843ac56f1fdbc8081f8de45ecd9b/src/brasil/gov/portal/tests/test_esconde_autor_data

[2017-07-07 21:39] idgserpro opened #360 "Corrigir erro nos testes com o profile initcontent"
Está ocorrendo erro nos testes do profile initcontent, quando tentamos criar eventos.

Ver: https://travis-ci.org/plonegovbr/brasil.gov.portal/jobs/251320573

Esse erro só ocorre nos testes. É possível cria um portal normalmente com o ```./bin/instance```

[2017-07-10 17:26] tcurvelo opened #361 "Existe um roadmap de migração para o Plone 5?"
Olá,
Gostaria de saber se já foram levantadas as pendências que precisam ser sanadas para uma eventual migração para o Plone 5.

[2017-07-10 18:01] hvelarde commented on #361
o primeiro é resolver a situação do resource registry no Plone; após isso precisamos trabalhar na compatibilidade dos add-ons e um mecanismo de migração.

é muito importante ir organizando essas tarefas, tu topa ajudar?

[2017-07-10 23:14] #360 closed

[2017-07-10 23:15] tcurvelo commented on #361
Tenho interessse em ajudar, mas não tenho experiência com Plone 5 ainda.
Algum link para essa situação do resource registry que vc se refere?

[2017-07-10 23:49] hvelarde commented on #361
tem discussões intermináveis no https://community.plone.org/ e aqui; alguns exemplos

* https://community.plone.org/t/the-incredible-and-sad-tale-of-innocent-plone-5-and-its-heartless-add-ons/1437
* https://github.com/plone/Products.CMFPlone/issues/1896
* https://github.com/plone/Products.CMFPlone/issues/1955

é realmente complicado e atualmente não está funcionando bem se tu não é um guru de JS.

[2017-07-11 16:53] makelli opened #363 "Problema Upgrade step (Browserlayer Remove the browserlayer, which is not needed anymore. (10800 → 10801))"
### Qual versão do produto você está usando e em qual sistema operacional (acesse /@@overview-controlpanel ou /prefs_install_products_form para obter essas informações)?
Portal Padrão 1.1.5.1
### Possui plugins adicionados além dos definidos numa instalação padrão do Portal Padrão? Se sim, forneça o nome e as versões utilizadas.

- [ ] Sim
Nome e versões dos plugins:

- [X ] Não
- [ ] Não sei info

[2017-07-11 17:00] idgserpro commented on #363
@makelli favor informar o erro que ocorreu. A traceback não está completo.

[2017-07-11 17:20] makelli commented on #363
Traceback (innermost last):
  Module ZPublisher.Publish, line 138, in publish
  Module ZPublisher.mapply, line 77, in mapply
  Module ZPublisher.Publish, line 48, in call_object
  Module Products.GenericSetup.tool, line 1034, in manage_doUpgrades
  Module Products.GenericSetup.upgrade, line 166, in doStep
  Module brasil.gov.portal.upgrades.v10801.handler, line 71, in remove_browserlayer
Attribute

[2017-07-11 17:34] idgserpro commented on #363
@makelli você está utilizando o versions.cfg da versão 1.1.5.1?

https://github.com/plonegovbr/portalpadrao.release/blob/master/1.1.5.1/versions.cfg

Você instalou/reinstalou algum produto manualmente no portal_quickinstaller?

[2017-07-11 18:59] makelli commented on #363
Sim utilizo a versão 1.1.5.1. Não reinstalei nenhum produto

[2017-07-14 13:27] idgserpro commented on #363
@makelli por favor adicione

`print Ilayer`

antes da linha `if Ilayer.getName() == 'OEmbedLayer':` em https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/upgrades/v10801/handler.py#L69 no pacote em seu disco e execute novamente o upgradeStep para que possamos descobrir qual layer está dando problema.

[2017-07-14 14:20] makelli commented on #363
<InterfaceClass brasil.gov.portal.interfaces.IBrasilGov>
<class 'brasil.gov.facetada.interfaces.IBrowserLayer'>

[2017-07-14 14:21] makelli commented on #363
2017-07-14 11:18:31 INFO PloneFormGen Patching plone.app.portlets ColumnPortletManagerRenderer to not catch Retry exceptions
2017-07-14 11:18:31 INFO Zope Ready to handle requests
2017-07-14 11:18:31 WARNING OFS.Uninstalled Could not import class 'IBrowserLayer' from module 'brasil.gov.facetada.interfaces'
<InterfaceClass plone.app.z3cform.interfaces.IPloneFormLayer>
<InterfaceClass zope.interface

[2017-07-14 14:29] makelli commented on #363
A lista completa de registered_layers é esta:

<InterfaceClass plone.app.z3cform.interfaces.IPloneFormLayer>
<InterfaceClass zope.interface.Interface>
<InterfaceClass plone.app.discussion.interfaces.IDiscussionLayer>
<InterfaceClass collective.js.jqueryui.interfaces.IJqueryUILayer>
<InterfaceClass plone.app.contenttypes.interfaces.IPloneAppContenttypesLayer>
<InterfaceClass plone.app.theming.inter

[2017-07-14 15:58] idgserpro commented on #363
@makelli o pacote brasil.gov.facetada não é instalado por padrão. Esse erro parece que você tinha uma instância que tinha o brasil.gov.facetada instalado em algum momento, mas agora não está mais presente na seção `eggs +=` de seu buildout: ou seja, tem uma browserlayer persistida no ZODB, mas o código python equivalente não está disponível, por isso recebe `None` ao executar `getName()`.

Você pr

[2017-07-14 16:13] makelli commented on #363
Coloquei o pacote brasil.gov.facetada no egg e o upgradeStep funcionou corretamente. Muito obrigada

[2017-07-14 16:13] #363 closed

[2017-07-27 13:54] makelli opened #364 "Caixa textual de busca não funcionando"
### Qual versão do produto você está usando e em qual sistema operacional (acesse /@@overview-controlpanel ou /prefs_install_products_form para obter essas informações)?
brasil.gov.portal-1.1.5.1
### Possui plugins adicionados além dos definidos numa instalação padrão do Portal Padrão? (IMPORTANTE: Pacotes apresentados [no manual de funcionalidades avançadas](http://www.secom.gov.br/orientacoes-ge

[2017-07-28 14:34] idgserpro commented on #364
Qual navegador você está usando? Aparece algum erro de javascript no browser? Acabei de montar uma instância 1.1.5.3 e o erro não ocorre, nem no Firefox nem no Chrome.

Só um adendo: o **pacote** brasil.gov.portal está na versão 1.1.5.1, mas o **release** do IDG com todas as suas dependências está na versão 1.1.5.3. Leia https://github.com/plonegovbr/portalpadrao.release/#user-content-como-escolhe

[2017-07-28 16:13] shogunbr opened #365 "Erro ao visualizar indice de data de evento"
### Qual versão do produto você está usando e em qual sistema operacional (acesse /@@overview-controlpanel ou /prefs_install_products_form para obter essas informações)?
Portal Padrão 1.1.5.1
Plone 4.3.9 (4313)
CMF 2.2.9
Zope 2.13.24
Python 2.7.3 (default, Apr 10 2013, 05:46:21) [GCC 4.6.3]
PIL 2.7.0 (Pillow)

Ubuntu 12.04 ou Debian 8

### Possui plugins adicionados além dos definidos numa instala

[2017-07-28 17:35] shogunbr commented on #365
Coloquei a timezone do sistema para UTC para testar e continua dando erro.

[2017-07-31 17:19] makelli commented on #364
O erro ocorre neste trecho:

<div id="portal-searchbox">
<form id="livesearch0" action="http://ifce.edu.br/@@busca">
<fieldset class="LSBox">
<legend class="hiddenStructure">Buscar no portal</legend>
<label class="hiddenStructure" for="searchGadget">Buscar no portal</label>
<input id="searchGadget" class="searchField" name="SearchableText"
size="18" title="Buscar no portal" placeholder="Buscar no

[2017-08-02 18:10] idgserpro commented on #364
Graças ao apoio do [Alexandre Chagas na lista plonegovbr](colab.interlegis.leg.br/archives/thread/plonegov-br/ajuda-portal-searchbox#msg-160452), entendemos que o problema descrito aqui é duplicado da issue https://github.com/plonegovbr/brasil.gov.portal/issues/237 e portanto esse relato será fechado. Na issue relacionada tem o motivo do problema.

[2017-08-02 18:10] #364 closed

[2017-09-11 19:08] idgserpro commented on #361
Algumas referências de dependências, como o collective.cover: https://github.com/collective/collective.cover/issues/642

[2017-09-19 14:09] #155 closed

[2017-09-19 14:21] idgserpro commented on #155
Ver https://github.com/plonegovbr/brasil.gov.portal/issues/349 e https://github.com/plonegovbr/brasil.gov.portal/issues/351 que devem ser tratados individualmente ao invés desse relato.

https://github.com/plonegovbr/brasil.gov.portal/issues/359 está em andamento para atualizar em definitivo plone.app.contenttypes para 1.1.1.

[2017-09-19 17:54] idgserpro commented on #351
Ver impactos em https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/content/templates/embedder_custom_view.pt e https://github.com/plonegovbr/brasil.gov.portal/blob/master/src/brasil/gov/portal/browser/content/embedder.py

[2017-09-19 18:55] idgserpro commented on #331
Ver o impacto da atualização devido às customizações presentes em https://github.com/plonegovbr/brasil.gov.portal/pull/270/files

[2017-09-19 20:05] idgserpro commented on #220
De qualquer forma, acho que só é válido mexer nisso se for uma ação em que você roda um comando e já gera os jsons necessários para tudo, aí você só coloca no diretório de profile (usando por exemplo o collective.jsonmigrator).

Qualquer decisão com relação a isso que envolva muito esforço (ou muitos passos manuais no processo de atualizar o conteúdo dos jsons) prefiro deixar do jeito que está e i

[2017-09-19 20:08] idgserpro commented on #23
@rodfersou saberia explicar melhor a motivação desse relato após termos [incorporado collective.nitf 2.x no IDG](https://github.com/plonegovbr/brasil.gov.portal/blob/d9e2fa591d2f57fe89fa5edde33511b5ea9d576a/setup.py#L62)?

[2017-09-19 20:50] idgserpro commented on #204
https://github.com/plonegovbr/brasil.gov.portal/commit/040318a5e4e9a9f1de304643963f61dfb84b9300

https://travis-ci.org/plonegovbr/brasil.gov.portal/builds/277470046

Bem, quebrar os testes não quebra, rs.

[2017-09-19 21:11] hvelarde commented on #23
acho que não é mais válido.

[2017-09-19 21:11] #23 closed

[2017-09-19 21:14] hvelarde commented on #204
interessante; precisamos adicionar testes ai.

[2017-09-20 16:49] idgserpro commented on #204
@hvelarde já preparou toda a infra estrutura de CI e testes no pacote. Para incorporar no IDG, é recomendado:

- [ ]  Tradução para o português;
- [ ]  [Aparecer para ser instalado]( https://github.com/collective/collective.folderorder/issues/3);

[2017-09-20 17:02] hvelarde commented on #204
@idgserpro acho que seria bom adicionar um browser layer no pacote.

[2017-09-20 20:54] idgserpro opened #368 "É possível que os pacotes instalados não apareçam em "vermelho" no portal_quickinstaller se já estiverem instalados?"
Alguém tem idéia se o único jeito de não ficar em vermelho é usando o reinstall? Criando um site 1.1.5.1 do zero:

![selecao_056](https://user-images.githubusercontent.com/8203476/30666738-ad73e064-9e2b-11e7-8a30-6ed003f5a083.png)

Atualizando uma versão 1.0.5 para `master` (no caso, 1.2b2.dev0):

![selecao_058](https://user-images.githubusercontent.com/8203476/30666766-c8e038f2-9e2b-11e7-9cad-34f

[2017-09-20 21:42] hvelarde commented on #368
ask @mauritsvanrees

[2017-09-20 22:04] idgserpro commented on #235
@agnogueira qual exatamente foi a motivação de esconder o autor nesse tipo de visão? Como foi afirmado, o código já se encontra customizado, portanto bastaria remover a linha ao invés de usar esse `hiddenStructure`, mas queria entender melhor o que motivou isso tudo.

[2017-09-20 22:24] idgserpro commented on #368
@mauritsvanrees we know `portal_quickinstaller` is going to be removed in Plone 5, but we're still using Plone 4 and we have the situation you're seeing above: a package was updated, an upgradeStep was run but in this screen it stills shows and if the last version wasn't installed. What exactly "trigger" this number update here? Just a reinstall?

[2017-09-21 21:45] mauritsvanrees commented on #368
Yes, a reinstall would update the version. But you do not want that: upgrade steps are better, more fine grained. But upgrade steps do not touch this version. So you can see here that for example '.gov.br Portal Padrão' was installed with version 1.1.5.1, and the file system is at version 1.2b2.dev0. From this screen you cannot see if there are any upgrade steps and if they have been applied.

You

[2017-09-21 22:04] idgserpro commented on #368
This what we've been doing in our documentation and for integrators, but from time to time someone questions this situation, that's why we're crying for help: actually we look mainly into 'portal_setup` after your great PR. :)

Thanks anyway. I'm going to close this since I don't see too much future in this discussion.

[2017-09-21 22:04] #368 closed

[2017-09-22 13:04] idgserpro commented on #335
Com o fechamento de https://github.com/plonegovbr/brasil.gov.portal/issues/240, esse relato será fechado pois a visão de coleção e folder passa a ser unificada.

[2017-09-22 13:19] hvelarde commented on #335
têm que apagar o stale branch, então.

[2017-09-22 13:48] idgserpro commented on #335
Por isso ainda está aberto, quando tudo for fechado faz esse processo. Existem mais issues nessa situação.

[2017-09-22 18:15] idgserpro opened #370 "Em algumas builds, temos o erro "AssertionError: Page should have contained text 'Add Cover' but did not", mas ao reiniciar a build ele some."
### Qual versão do produto você está usando e em qual sistema operacional (acesse /@@overview-controlpanel ou /prefs_install_products_form para obter essas informações)?

https://github.com/plonegovbr/brasil.gov.portal/tree/e4f44f7a57e618977b46f2d8216dfd4b876e1780 e https://github.com/plonegovbr/portal.buildout/tree/335bfce2665155333190fde4b414a36c2d50e1c6 durante o processo de geração do release

[2017-09-25 13:36] idgserpro commented on #359
Feito em https://github.com/plonegovbr/brasil.gov.portal/pull/367.

[2017-09-25 13:36] #359 closed

[2017-09-25 18:53] idgserpro opened #371 "Atualizar collective.nitf para 2.1b4"